<%= render './partials/wrapper-top' %>
<title>Welcome to Acebook!</title>
<%= render './partials/header' %> 
<%= render './partials/flash_notice' %> 
<%= render './partials/welcome_main' %>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<%= render './partials/footer' %> 
<%= render './partials/wrapper-bottom' %>
