<!-- <h1>Timeline</h1>

<div class="new-post">
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div> -->

<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active" id="overview">

<!-- <div class="feed"> -->
  <% @posts.each do |post| %>
    <!-- <div class="post-container">
      <div class="post-owner-pfp"><img src="/assets/default_pfp.svg"></div>
      <% p post %>
      <div class="post-owner-name"><%= User.find(post.user_id).first_name %></div>
      <div class="post-content"><%= post.message %></div>
      <div class="post-when">Posted at <%= post.created_at.strftime("%H:%M %d/%m/%y") %></div>
    </div> -->

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h5><%= User.find(post.user_id).first_name %></h5>
          <%= post.message %>
        </div>
        <div class="mdl-card__actions">
          <a href="#" class="mdl-button">Posted at <%= post.created_at.strftime("%H:%M %d/%m/%y") %></a>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
      </ul>
    </section>



  <% end %>
<!-- </div> -->
</div>
</main>
