<%= render 'shared/nav' %>

<%= form_for @bio, url: create_bio_url([:profile_id]) do |f| %>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, id: :bio_age %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, id: :bio_bio %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_area :location, id: :bio_location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
