<div>
    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#comments<%=post.id%>" role="button" aria-expanded="false" aria-controls="comments">
            Comments
        </a>
    </div>
    <br>
    <div class="collapse" id="comments<%=post.id%>">
        <div>
            <% @comments.each do |comment| %>
                <% if (comment.post_id.to_i == post.id) %>
                    <p><%= comment.content%></p>
                    <hr>
                <% end %>
            <% end %>
        </div>

        <div>
            <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                New Comment
            </button>
        </div>


            
        <div class="collapse" id="collapseComment">
            <form action="/home/<%= post.id %>/comments" method="post" class="form-group">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <textarea name="comment" id=""  rows="3" class="form-control"></textarea>
                <input type="submit" name="Comment" value="Submit Comment" class="btn btn-success">
            </form>
        </div>
    </div>
</div>