

    <% @posts.reverse.each do |post| %>
        <div class="card text-center">
            <div class="card-header">
                <%= User.find(post.poster_id).name %>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <%= post.content %>
                </p>
          
                <!--Like/Dislike-->
                <div>
                <%= render 'likedislike', post: post %>
                </div>
                <br>
                <!--Comments-->
                <div>
                    <%= render 'comments', post: post %>
                </div>
                <br>
                <div class = "row">
                    <div class="col-4"></div>
                    <div class="col-2">
                        <form action="/posts/<%= post.id %>/edit" method="get" class="form-group">
                            <input type="submit" value="Edit this post" class="btn btn-primary">
                        </form>
                    </div>
                    <div class="col-2">
                        <%= button_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark" %>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div>
                    <%= flash[:notice] %>      
                </div>
                
            </div>
            <div class="card-footer text-muted">
                <%= post.time %>
            </div>
        </div>
        <br>
    <% end %>
        

