<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aceBook</title>
</head>
<body>
    <% if @user != nil %>
        <h1>Hello <a href="/users/<%=@user.id%>/timeline"><%= @user.name %></a></h1>
        <form action="/log-out" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" name="log_out" value="Log Out">
        </form>
        <form action="/users/<%= @user.id %>/edit" method="get">
            <input type="submit" name="edit" value="Edit my profile">
        </form>
        <a href="/posts/new">Write a new post</a>
        <ul>
            <% @posts.reverse.each do |post| %>
              <p><%= post.content %> <br> post created by <%= User.find(post.poster_id).name %> <br> <br>
                <% @comments.each do |comment| %>
                  <% if (comment.post_id.to_i == post.id) %> 
                    <%= comment.content%> <br>
                    Comment by <%= User.find(comment.commentor_id).name%> <br>
                  <% end %>
                <% end %>
                <form action="/home/<%= post.id %>/comments" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <textarea name="comment" id="" cols="60" rows="5"></textarea>
                  <input type="submit" name="Submit" value="Submit">
                </form>
                <form action="/posts/<%= post.id %>/edit"" method="get">
                  <input type="submit" value="Edit this post">
                </form>
                <form action="/posts/<%= post.id %>" method="POST">
                  <input type="hidden" name="authenticity_token" id="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" id="DELETE">
                  <input type="submit" value="Delete this post">
                </form>
            <% end %>
        </ul>
    <% else %>
    <h3>Log in to view posts</h3>
        <form action="/sign-up" method="get">
            <input type="submit" name="sign_up" value="Sign Up">
        </form>
        
        <form action="/" method="get">
            <input type="submit" name="log_in" value="Log In">
        </form>
  <% end %>
  
  
</body>
</html>
</body>
</html>