<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aceBook</title>
</head>
<body>


<div class="container">

  <% if @user != nil %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Hello <a href="/users/<%=@user.id%>/timeline"><%= @user.name %></a></h1>
        <p class="lead">Welcome to aceBook</p>
      </div>
    </div>
  <%end%>
</div>


<div class="container">
  <!---Row starts--->
  <div class="row">
    <div class="col-2 float-right">
        <%= render 'currentusers'%>
    </div>
    <div class="col-10">
    
    <% if @user != nil %>
    
    <!--Posts-->
      <%= render 'posts'%>

    <% else %>

        <div>   
            <h3>Log in to view posts</h3>
              <form action="/sign-up" method="get">
                  <input type="submit" name="sign_up" value="Sign Up">
                </form>
        </div>
            
        <div class="card-footer text-muted">
              <%= post.time %>
        </div>

          <div>      
            <h3>Log in to view posts</h3>
            <form action="/sign-up" method="get" class="form-group">
                <input type="submit" name="sign_up" value="Sign Up" class="form-control">
            </form>
        
            <form action="/" method="get" class="form-group">
                <input type="submit" name="log_in" value="Log In" class="btn btn-primary">
            </form>
          </div>
    <% end %>
    </div>



    <!--Current users-->
     

  </div>

</div>


</body>
</html>
</body>
</html>