<div>
  <% @messages.each do |message| %>
    <% if message.body %>
    <div class="row">
      <% if message.user_id == current_user.id %>
        <div class="container">
          <div class="card" style="width:20rem; float:right;margin-right:125px;"">
            <div class="card-body">
      <% else %>
        <div class="container">
          <div class="card"style="width:20rem; float:left;margin-left:125px;"">
            <div class="card-body">
      <% end %>
        <h5 class="card-title"><%= message.user.email %></h5>
          <p style="font-size: 20px;"><%= message.body %></p>
          <p><%= message.created_at.strftime("%d/%m/%y at %l:%M %p") %></p>
          <% if message.file.attached? %>
            <%= link_to "#{message.file.filename}" + " " + Filesize.from("#{message.file.byte_size} B").pretty, rails_blob_path(message.file, disposition: 'attachments')%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
    <% end %>
    <br>
  <% end %>
</div>

<div style="text-align:center">
<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, cols: "45", rows: "2", placeholder: "What say you?" %>
  </div>
  <div class="file_button" style="padding-left:100px">
    <%= f.file_field :file %>
  </div>
  <br>
  <%= f.submit "Send" %>
<% end %>
</div>
<br>
<div class="links-bar" style="text-align:center">
<a><%= link_to 'Back to Conversations', conversations_path %></a>
<% if current_user.type == "Student" %>
  <a><%= link_to 'Back to Your Dashboard', student_path(current_user.id) %></a>
<% else %>
  <a><%= link_to 'Back to Your Dashboard', mentor_path(current_user.id) %></a>
<% end %>
</div>
