<%= render 'shared/nav' %>

<style>

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>Friends (<%= @friends.size %>)</h2>
        <% @friends.each do |friend| %>
        <div class="card-img-left">
          <% avatar = Avatar.find_by(username: friend.parent_friend) %>
          <%= image_tag avatar.image.mini.url %>
            </div>
          <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action">  <%= friend.parent_friend  %></a>
          </ul>
        <% end %>
        <br>
        <h2>All Users </h2>
      <% @users.each do |user| %>
        <ul class="list-group list-group-flush">
          <a href="<%=profile_url(user) %>" class="list-group-item list-group-item-action">  <%= user.username %></a>
        </ul>
      <% end %>
    </div>

    <div class="col-sm">

      <% @posts.each do |post| %>
      <br>
      <div class="card-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">To <%= post.recipient_username %></h5>
            <h5 class="mb-1">From <%= post.poster_username %></h5>
            <small class="text-muted"><%= post.updated_at %> </small>
          </div>
          <p class="mb-1"><%= post.text %></p>
          <small class="text-muted">Comment (5)- Like - Edit - Delete</small>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
