<%= render 'shared/nav' %>

<div class="container">
  <h6> Welcome to <%= @profile.username %>'s profile page </h6>




  <div class="row">
    <div class="col-3">
      <% if @profile.username != current_user.username %>
      <%= form_for @friend, url: profile_friends_url([:profile_id]) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :requester, :value => current_user.username %>
        <%= f.hidden_field :parent_friend, :value => @profile.username %>

      </div>
        <%= f.submit "Add as friend" %>
      <% end %>
      <% end %>

--------------
<br>
<br>--- Picture ---
<br>
<br>--------------
<br>
<br>

  <% if (@bio_profile.is_a? Bio)%>
  -- BIO --
  <ul class="list-group">
    <li class="list-group-item py-0 list-group-item-secondary">Age:</li>
    <li class="list-group-item"><%= @bio_profile.age %></li>
  </ul>
  <br>
  <ul class="list-group">
    <li class="list-group-item py-0 list-group-item-secondary">Bio:</li>
    <li class="list-group-item"><%= @bio_profile.bio %></li>
  </ul>
  <br>
  <ul class="list-group">
    <li class="list-group-item py-0 list-group-item-secondary">Location:</li>
    <li class="list-group-item"> <%= @bio_profile.location %></li>
  </ul>
  <br>
  <br>
  <% else %>
  -- NEW BIO --
    <%= form_for @bio, url: create_bio_path([:profile_id]) do |f| %>
    <div class="form-group">
      <%= f.label :age %>
      <%= f.number_field :age, :class => 'form-control' %>
    </div>
    <div class="form-group">

      <%= f.label :bio %>
      <%= f.text_area :bio, :class => 'form-control' %>
    </div>
    <div class="form-group">

      <%= f.label :location %>
      <%= f.text_field :location, :class => 'form-control' %>
    </div>

      <%= f.hidden_field :bio_username, :value => @profile.username %>
      <%= f.submit "Update" %>
    <% end %>
  <% end %>

    </div>
    <div class="col-sm">
      -- Add new post --
      <br>
      <%= form_for @post, url: create_post_path([:profile_id]) do |f| %>
      <%= f.hidden_field :recipient_username, :value => @profile.username %>
      <div class="input-group">
        <textarea class="form-control" <%= f.text_area :text %></textarea>

        <div class="input-group-append">
          <button <% f.submit%> class="input-group-text" >submit</button>
        </div>
      </div>
      <% end %>
      <br>
      <br>
      -- MESSAGES --
      <% @posts.each do |post| %>
      <div class="card-group">
        <a href="<%= profile_post_path(@profile, post.id) %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">By <%= post.poster_username %></h5>
            <small class="text-muted">last updated: <%= localize(post.updated_at, :format => :short) %> </small>
          </div>
          <p class="mb-1"><%= post.text %></p>
          <small class="text-muted">Comments (<%= post.comments.size %>) - Like - Edit - Delete</small>
        </a>
      </div>
      <br>
      <% end %>



      <br>
      <br>


      <br>
      <br>
    </div>
  </div>
</div>
