<%= render 'shared/nav' %>

<h1> hello <%= @profile.username %> </h1>

<br>

<% if (@bio_profile.is_a? Bio)%>
-- BIO --
<br>
Age: <%= @bio_profile.age %>
<br>
Bio: <%= @bio_profile.bio %>
<br>
Location: <%= @bio_profile.location %>
<br>
<% else %>
-- NEW BIO --
  <%= form_for @bio, url: create_bio_path([:profile_id]) do |f| %>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.hidden_field :bio_username, :value => @profile.username %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>




<br>
<br>
<br>
-- Posts --
<br>
<%= form_for @post, url: create_post_path([:profile_id]) do |f| %>
  <%= f.text_area :text %>
  <%= f.hidden_field :recipient_username, :value => @profile.username %>
  <%= f.submit 'Post' %>
<% end %>
<br>
-- MESSAGES --
<br>
<% @posts.each do |post| %>
<br>
<%= post.text %> <%= post.poster_username %> <%= post.recipient_username %>
<br>

<% end %>

<br>
<br>


<!-- = form_for @job, :url => company_path, :html => { :method => :post/:put } -->
