<%= render 'shared/nav' %>

<h1> hello <%= @profile.username %> </h1>

<br>
Area for BIO

<br>
<br>

area for new posts:
<br>
<br>



<%= form_for @post, url: create_post_path([:profile_id]) do |f| %>
  <%= f.label :post %>
  <%= f.text_area :text %>
  <%= f.hidden_field :recipient_username, :value => @profile.username %>
  <%= f.submit 'Post' %>
<% end %>

<br>

Area for all messages posted on users wall:
<% @posts.each do |post| %>
<br>
<%= post.text %> <%= post.poster_username %> <%= post.recipient_username %>
<% end %>

<br>
<br>


<!-- = form_for @job, :url => company_path, :html => { :method => :post/:put } -->
