<%= @profile.username %>


<%= render 'shared/nav' %>

<h1> hello <%= @profile.username %> </h1>

<br>
Area for BIO

<br>

<textarea name="Post Box" rows="8" cols="80"></textarea>

<br>

<input type="submit" name="submit" value="submit">

<br>

Area for all messages posted on users wall:

<%= form_for(@createpost) do |f| %>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <%= f.hidden_field :poster_id, :value => current_user.username %>
  <%= f.hidden_field :recipient_id, :value => @profile.username %>
  <%= f.submit 'Post' %>
<% end %>
