<%= form_with(scope: post, local: true) do |form| %>

  <p id="notice"><%= notice %></p>
  
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, autofocus: true, placeholder: 'Email' %>
  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, autocomplete: 'on', placeholder: 'Password' %>
  </p>

  <p>
    <%= form.submit 'HERRNNNGGGHHHHH', id: 'submitBtn' %>
  </p>

  <%= audio_tag("chewbacca.mp3", id: "chewbaccaPlay", preload: "true") %>
  <%= audio_tag("identification.mp3", id: "identification", preload: "true") %>

<% end %>

<script>

  window.addEventListener('load', function() {
    id_audio = document.querySelector('#identification')
    chewy_audio = document.querySelector('#chewbaccaPlay')
    id_audio.currentTime = 0
    id_audio.play()

    clickHandler = function(event) {
      event.preventDefault()
      self = this
      chewy_audio.addEventListener('ended', function() {
        self.removeEventListener('click', clickHandler)
        self.click()
      })
      chewy_audio.currentTime = 0
      chewy_audio.play()
    }
    
    document.querySelector('#submitBtn').addEventListener('click', clickHandler)
  })

</script>