<h1>Log In</h1>
<%= form_for :sessions do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit 'Log In'%>
<%end%>