  <body class="bg bg_3">
  <div class="box titleFont">
    <%= flash[:notice] %>
    <%=form_tag sessions_path do |form| %>
    <p>
      <%=label_tag :email %>: <br><br>
      <%=text_field_tag :email, params[:email], class: 'notesFont'%> <br><br>
      <%=label_tag :password %>: <br><br>
      <%=password_field_tag :password %> <br><br>
      <%=submit_tag "Sign In", class: 'button' %>
    </p>
    <% end %>
  </div>
  </body>
