<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <title>Acebook - Signup</title>
  </head>

  <body>

    <div class="wrapper">
      <div class="sign-up">
        <h1>Bearbook</h1>
        <p id="bear-icon">&#128059;</p>

        <% provide(:title, "Login") %>
          <!-- <h1>Log in</h1> -->

          <% if flash[:danger] %>
            <div class="login-notice"><%= flash[:danger] %></div>
          <% end %>

          <%= form_for(:session, url: login_path) do |form| %>

          <%= form.label :email %>
          <%= form.email_field :email %>

          <br>

          <%= form.label :password %>
          <%= form.password_field :password %>

          <%= form.submit "Log in", class: :btn %>
        <% end %>

        <p class="sign_up_link">
          New bear?
          <%= link_to "Sign up now!", new_user_path %>
        </p>

      </div>
    </div>

  </body>

</html>
