<div class="login-form">
  <div style="text-align: center">Please enter your login credentials below:</div>
  <div>
    <%= form_with(url: login_path, scope: :session, local: true) do |form| %>


      <div class="actions", style="text-align: center">
        <br/><br/>
        <%= form.label :email %>
        <%= form.email_field :email, id: 'email' %>
        <br/><br/>

        <%= form.label :password %>
        <%= form.password_field :password, id: 'password' %>
        <br/><br/>

        <%= form.submit "Log in", :class => 'submit', id: 'Login' %>
      </div>

    <% end %>
  </div>


  <div class="danger">
    <%= flash[:danger] %>
  </div>

  <div class="notice">
    <%= flash[:notice] %>
  </div>

</div>
