<h1>Sign In</h1>

<%= form_tag sessions_path do %>
  <div>
    <%= label_tag 'email', 'Email' %>
    <%= text_field_tag 'email' %>
  </div>
  <div>
    <%= label_tag 'password', 'Password' %>
    <%= password_field_tag 'password' %>
  </div>
  <%= submit_tag 'Sign In' %>
<% end %>