
<div>
  <h1>Log In</h1> <%= link_to 'Sign Up', new_user_path %>
</div>

<br>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= form_for :session do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.text_field :password %>
  <%= form.submit "Submit" %>
<% end %>
