<div class="jumbotron">
  <p style="font-size:45px; font-weight:900">Acebook</p>
  <h2>Welcome to Acebook</h2>
</div>

<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Join Now", signup_path, class: "btn btn-primary" %></p>
  </div>
</div>
