<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="bg">
  <div class="box">
    <%# <%= flash[:notice] %>
    <%=form_tag sessions_path do |form| %>
    <p>
      <%=label_tag :email %>: <br><br>
      <%=text_field_tag :email, params[:email] %> <br><br>
      <%=label_tag :password %>: <br><br>
      <%=password_field_tag :password %> <br><br>
      <%=submit_tag "Sign In", class: 'button' %>
    </p>
    <% end %>
  </div>
  </body>
</html>
