<% provide(:title, "Log in") %>
<div class="column is-half is-offset-one-quarter">
  <div class="box">
    <h1 class="title has-text-centered">Log In</h1>
    <div class="field">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, class: 'input', type: "email", placeholder: "alex@example.com" %>
      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, class: 'input', type: "password", placeholder: "********" %>
      <br><br>
      <%= f.submit "Log in", class: "button is-primary is-fullwidth" %>
    <% end %>
    <br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
