<% provide(:title, "Log in") %> 
<div><br>
  <h1 style="text-align:center">Log in</h1>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %> <%= f.label :email %><br>
  <%= f.email_field :email, class: 'form-control' %> <%= f.label :password %><br>
  <%= f.password_field :password, class: 'form-control' %><br>
  <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  <% flash.each do |type, msg| %>
    <div style="color:red">
      <%= msg %>
    </div>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", new_user_url %></p> </div>
  </div>
</div>
