<h1>Welcome to <span>&#9824;</span>cebook</<h1>
</h1><h1>Sign in</h1>
<%= flash[:danger] %>
<%= form_for(:session, url: sessions_path, method: "POST") do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email%>
  <%= form.label :password %>
  <%= form.password_field :password%>

  <%= form.submit "Log in" %>

<% end %>

Don't have an account? <%= link_to "Sign up now!", new_user_path %>
