<div class="text-center d-flex justify-content-center">
  <div class="w-25">
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
    <%= form_with scope: :session, url: sessions_path, local: true, class: 'form-signin' do |form| %>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in:</h1>
      <%= form.label :email %>
      <%= form.text_field :email, placeholder: 'example@acebook.com', class: 'form-control' %>
      <br>
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
      <br>
      <%= form.submit 'Sign in', class: 'btn btn-lg btn-primary' %>
    <% end %>
    <br>
    <br>
    or sign in with GitHub:
    <br>
    <br>
    <%= link_to image_tag('/github.png', height: '75px'), '/auth/github' %>
  </div>
</div>
</div>
