<div id="single_form">
  <h1>Log in</h1>
  <%= form_for(:session, url: login_path) do |form| %>
    <p>
      <%= form.label :email_address %><br>
      <%= form.email_field :email_address %>
    </p>

    <p>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.submit "Log in", class: "btn btn-primary" %>
    </p>
  <% end %>

  <p>
    Don't have an account? <%= link_to "Sign up for one here.", root_path %>
  </p>
</div>
