<span>Login</span>
<% if flash[:alert]%>
  <div>
    <%= flash[:alert]%>
  </div>
<%end%>
<%= form_for(:session, url: login_path) do |f|%>
  <%=f.email_field :email ,placeholder: "email"%>
  <%=f.password_field :password ,placeholder: "password"%>
  <%=f.submit "Login"%>
<%end%>