<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>🦁 Acebook</title>
  </head>

  <body>
    <div>
      <h1>Login</h1>
      <%= form_tag '/login' do %>
        <%= label_tag :email%><br>
        <%= text_field_tag :email%><br>
        <%= label_tag :password%><br>
        <%= password_field_tag :password%><br>
        <button class="log-in-button"><%= submit_tag "Login"%></button>
      <%end%>
    </div>

    <div class="welcome-header">
      <% if !!flash[:notice] %>
        <% flash.each do |type, message| %>
          <p><%= message %></p> <br>
        <% end %>
      <% end %>
    </div>

  </body>
</html>