
<div class="container">
  <div class="row">

    <div class="col-6">
    <br> <br> 
    
    <img src="https://i.imgur.com/8RKTBwB.png" alt="">
  </div>

  
  <div class="col-6 ">
   <div class="container">

  <% if logged_in? %>
    <li><%= link_to 'Posts', '/posts', method: :get%></li>
    <li class="right_links"><%= link_to 'Logout', '/logout', method: :post%></li>
    <% if current_user.avatar.attached? %>
      <li class="right_links"><img src="<%=(url_for(current_user.avatar))%>" width="25" height="30"><li>
    <% end %>
    <li class="right_links">🟢 Online: <%= current_user.username %></li>
    <br>
    <h1>♠️ Welcome, <%= current_user.username %></h1>
    <% if current_user.avatar.attached? %>
      <img src="<%=(url_for(current_user.avatar))%>">
    <% end %>
  <% end %>

  <% if logged_in? == false %>
  <br> <br> <br>
   <h1 class="d-flex justify-content-center">  ♠️ Welcome to Acebook ♠️ </h1>
   <br> <br>
  <p class="d-flex justify-content-center">Have an Account?</p>
    <p class="d-flex justify-content-center"><%= link_to 'Login', '/login', method: :get , class:"btn btn-outline-primary"%></p>
    <br>
    <p class="d-flex justify-content-center">New here?</p>
    <p class="d-flex justify-content-center"><%= link_to 'Sign Up', '/users/new', method: :get, class:"btn btn-outline-primary"%></p>
    <br>
  <% end %>
   </div>

 
  </div>  
  
  
  </div>

</div>




