<h1>hi <%= current_user.user_name %></h1>
<p><%= link_to "Update account details", edit_user_registration_path %></p>
<p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>


  <% if user_signed_in? %>
    <div>Signed in as... <%= current_user.email %></div>
    <div>Signed in as... <%= current_user.id %></div>
  <% end %>
<%= link_to 'User Profile', userprofile_path, :class => 'btn btn-secondary'%>
