<div class="container-fluid vh-100">
    <div class="row">
    <div class="col d-flex justify-content-center vh-100">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


<h3>Personal</h3>

  <div class="form-group">
    <%= f.label :firstname %> <i></i><br />
    <%= f.text_field :firstname %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %> <i></i><br />
    <%= f.text_field :lastname %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth %> <i></i><br />
    <%= f.date_field :date_of_birth %>
  </div>

  <div class="form-group">
    <%= f.label :location %> <i></i><br />
    <%= f.text_field :location %>
  </div>

  <div class="form-group">
    <%= f.label :interests %> <i></i><br />
    <%= f.text_field :interests %>
  </div>

  <div class="form-group">
    <%= f.label :about_me %> <i></i><br />
    <%= f.text_field :about_me %>
  </div>

   <div class="form-group">
  <%= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
  </div>


  <label class="custom-file-upload">
    <%= f.file_field :avatar %> Update profile picture: 
    <i class="far fa-image fa-lg"></i>
  </label>

 <div class="actions mb-3 text-center">
      <%= f.submit "Update", class:"btn btn-success" %>
    </div>




  </div>

   <div class="col">

  <h3>Login</h3>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(*)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

<br>
  <h6> Current Password required to update your details. </h6>

<% end %>

<br>
<br>
<br>
<h3>Cancel Account?</h3> 


<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


</div>
</div>
