<%= form_for(@user, as: resource_name, url: avatar_path, html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %><br />
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<%= link_to "Back", :back %>
