<h2 align="center">Edit account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div align="center">
  <div class="c-top-container">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'c-input'  %>
      </div>
        <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <br><i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: 'c-input'  %>
        <% if @minimum_password_length %>
            <br />
        <% end %>
      </div>
        <br>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'c-input'  %>
      </div>
        <br>

      <div class="field">
        <%= f.label :current_password %> <br><i>(enter current password to confirm changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'c-input' %>
      </div>
      <br>
      <div class="field">
        <%= f.file_field :avatar, class: 'c-input' %>
      </div>
        <br>
      <div class="actions">
        <button class="c-button-green"<%= f.submit "Update" %>Update</button>
      </div>
    <% end %>
  </div>
  <br>

  <div class="c-bottom-container">
    <h5>Leaving MakersGram? :(</h5>
    <br>
      We hope to see you again soon
    <br>
    <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, :class => "c-button-cancel", method: :delete %>
      <br>
    <%= link_to "Back", root_path(), class: 'c-button ltb' %>
  </div>
</div>
