<%= render "devise/shared/error_messages", resource: resource %>

<section class="form-wrap">
  <h1 class="nav-bar" id="logo">update account</h1></br></br></br></br></br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div align="left" class="form">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div align="left" class="form">
    </br>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div align="left" class="form">
    </br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div align="left" class="form">
    </br>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div align="left" class="form">
    </br>
    <%= f.label "Profile Picture" %> <i>(Upload your new profile picture below!)</i><br />
    <%= f.file_field :avatar %><br><br>
  </div>

  <div align="left" class="form">
    <%= f.submit "Update" %>
  </div>
<% end %>
</section>

<section class="form-wrap">
  <h1 class="nav-bar" id="logo">cancel my account</h1></br></br></br></br></br>
    <div align="left" class="form">
      <h4 align="center">unhappy?</h4>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </br>
      <%= link_to "Back", :back %>
    </div>
</section>
