<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AceBook</title>
  </head>
  <body>
    <span class="align-middle">
    <div class="container">
    <div class="text-center">

      <h1>AceBook</h1>
      <br><br>
      <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="text-center">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname, autofocus: true, autocomplete: "first name" %>
      </div>

      <div class="text-center">
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname, autofocus: true, autocomplete: "last name" %>
      </div>

      <div class="text-center">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="text-center">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="text-center">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="text-center">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="text-center">
        <%= f.submit "Sign up", :class => 'btn btn-primary' %>
      </div>
      <div class="text-center"</div>

    <% end %>

    <%= render "devise/shared/links" %>
    </div>

  </body>
</html>
