<h2 class="is-size-2 has-text-weight-bold mb-3">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="columns is centered">
    <div class="column is-one-fifth">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="columns is centered">
    <div class="column is-one-fifth">
      <%= f.label :password, class: "label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum, 10 characters maximum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="columns is centered">
    <div class="column is-one-fifth">
    <%= f.label :password_confirmation, class: "label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
