<div id="container" >

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <br>
    <%= f.text_field :name, placeholder: "Name", onfocus: "this.placeholder = ''", onblur:"this.placeholder = 'Name'", class: "form-control" %>
  </div>

  <div class="field">
    <br />
    <%= f.text_field :surname, placeholder: "Surname", onfocus: "this.placeholder = ''", onblur:"this.placeholder = 'Surname'", class: "form-control" %>
  </div>

  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", onfocus: "this.placeholder = ''", onblur:"this.placeholder = 'Email'", class: "form-control" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", onfocus: "this.placeholder = ''", onblur:"this.placeholder = 'Password(6 characters)'", class: "form-control" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", onfocus: "this.placeholder = ''", onblur:"this.placeholder = 'Confirm Password'", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: "post-submit", class: "btn btn-info"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>