<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/posts">AceBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/users/sign_up">Register</a></li>
      <li><a href="/users/sign_in">Log In</a></li>
      <!-- <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li> -->

    </ul>
  </div>
</nav>
<div class="container-fluid">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "First Name" %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autocomplete: "Surname" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
</div>
