<h2>Sign up to</h2>
<h2 style="color:#0d6efd"> Acebook</h2>
<div class="shadow p-3 mb-5 bg-white rounded">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br/>  
  <div class="field">
    <%= f.text_field :surname, autofocus: true, autocomplete: "name", placeholder: "name", class: "form-control" %>
  </div>
<br/>
  <div class="field">
    <%= f.text_field :surname, autofocus: true, autocomplete: "surname", placeholder: "surname", class: "form-control" %>
  </div>
<br/>
<div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control" %>
  </div>
<br/>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "form-control" %>
  </div>
 <br/>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confirmation", class: "form-control" %>
  </div>
  <div class="actions">
  <br/>
    <%= f.submit "Sign up", class: 'btn btn-primary'%>
  </div>
<% end %>
</div>

<%# <%= render "devise/shared/links" %>
