<div id='post-spacer'>
</div>


<div id='devise-form-container'>
  <div id='devise-form-top'>
    <%= image_tag("facebook_log_in.png") %>
  </div>
  <div id='devise-form-bottom'>
    <div id='devise-form-header'>
    <h2>Create an account</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up" %>
      </div>
    <% end %>

    <div id='devise-links'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>