
<div class="container" id="sign-up-form">
  <div class="row">
    <h1>Get in touch with your friends and family</h1>

    <div class="col-sm-offset-4 col-sm-4">
      <h3>Sign up <small>it's free!</small></h3>

      <%= devise_error_messages! %>

      <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

        <%= f.text_field :first_name,
                         placeholder: 'first name',
                         class: 'form-control' %>
        <%= f.text_field :last_name,
                         placeholder: 'last name',
                         class: 'form-control' %>
        <%= f.text_field :email,
                         placeholder: 'email',
                         class: 'form-control' %>
        <%= f.password_field :password,
                             placeholder: 'password',
                             class: 'form-control' %>
        <%= f.password_field :password_confirmation,
                             placeholder: 'password confirmation',
                             class: 'form-control' %>

        <%= f.submit 'Sign up', class: 'form-control sign-up-button' %>
      <% end %>
      <p>Already Signed up? <%= link_to 'Login', login_path %></p>
    </div>
  </div>
</div>
