<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel light-blue darken-4">


        <h2 class="white-text">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field white-text">
            <%= f.label :email, class: "white-text"  %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "white-text"  %>
          </div>

          <div class="field white-text">
            <%= f.label :password, class: "white-text" %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %> to 10 characters)
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "white-text"  %>
          </div>

          <div class="field white-text">
            <%= f.label :password_confirmation, class: "white-text"  %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "white-text"  %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn waves-effect waves-light white" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
