  <div class="comment m-2">
  <div class="comment-text m-2">
    <b><a href="/users/<%= comment.user_id %>/user_posts"><%= User.find_by(id: comment.user_id).name %></a></b>
    <p class="comment_body m-2"><%= simple_format(comment.body) %>
    </p>
  </div>
    <div class="parent-likes">
      <div class="like_count" <%= comment.id %>'>
        <%= comment.get_likes.size %> &#128077
      </div>
      <a>
        <% if current_user != nil %>
          <% if current_user.liked? comment %>
            <div id="liked-btn"> <%= link_to like_comment_path(comment, 'unlike'), class: "liked-btn",
                              method: :put, remote: :true do %> Unlike </div>
          <% end %>
          <% else %>
            <div> <%= link_to like_comment_path(comment, 'like'), class: "like-btn",
                              method: :put, remote: :true do %> Like </div>
          <% end %>
          <% end %>
        </a>
      <p class='is-size-7 is-family-code has-text-info-dark'>Commented at <%= comment.created_at.strftime("%k:%M:%S on %B %e, %Y") %></p>
      </span>
      <% if Time.now - comment.created_at < 600 && current_user.id == comment.user_id %><%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %>
      -
      <% end %>
      <% if current_user.id == comment.user_id %><%= link_to 'Delete comment', post_comment_path(comment.post, comment), method: :delete %>
      <% end %>
    <% end %>
  <br><br>
</div>
