<% @post.comments.each do |comment| %>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <br>
  <strong>Timestamp:</strong>
  <%= comment.created_at.localtime %>
</p>

<%= link_to 'Delete Comment', [@post, comment], method: :delete, data: { confirm: 'Are you sure? '} %>
<%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %>

<% end %>
