<div class="comment">
  <div class="comment-text">
    <b><%= link_to comment.user.username, user_post_path(id: comment.user.id), :class => "post-link" %></b>
    <p class="comment_body"><%= simple_format(comment.body) %>
    </p>
  </div>
  <%= link_to Like_comment_path(comment), method: :put do %>
  <img class="vote-pic" src="https://bit.ly/34UJcAc" alt="Rabbit">
<% end %>
<span class="upvote">
<%= comment.get_upvotes.size %>
</span>
-
<%= link_to Dislike_comment_path(comment), method: :put do %>
<img class="vote-pic" src="https://bit.ly/2rHl1XS" alt="Snake">
<% end %>
<span class="downvote">
  <%= comment.get_downvotes.size %>
</span>
-
<% if Time.now - comment.created_at < 600 %><%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %>
-
<% end %><%= link_to 'Delete comment', post_comment_path(comment.post, comment), method: :delete %>
</div>
