<% @post.timesort_comments.each_with_index do |comment, i| %>
  <div id="<%="comment_#{i}"%>">
    <%= simple_format(comment.content) %>
  </div>
  <br>
  <div>
    <%= User.find(comment.user_id).identifier %>
  </div>
  <br>
  <% if current_user == comment.user %>
    <%= link_to 'Delete comment', [comment.post, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= render 'comments/form' %>
