<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="comment">
        <% @post.timesort_comments.each_with_index do |comment, i| %>
          <div class="list-group">
            <div class="list-group-item">
              <div id="<%="comment_#{i}"%>">
                <%= simple_format(Rinku.auto_link(comment.content)) %>
                <%= User.find(comment.user_id).identifier %>
                <% if current_user == comment.user %>
                  <%= link_to 'Delete', post_comment_path(@post, comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
