<% post.comments.each do |comment| %>

<h2><%= comment.user.first_name %> <%= comment.user.last_name %>:</h2>
<h5><%= comment.content %></h5>


<div style="float: left">

<%= button_to "Delete Comment", { :controller => "comments",:action => 'destroy', :id => comment.id }, :method => :delete %> </div>

<div style="float: none"><%= button_to "Edit", edit_comment_path(comment.id), :method => :get %></div>

<% if !current_user.voted_for?(comment)%>
        <%= link_to like_comment_path(comment), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="badge badge-secondary"> Like <span class="badge"><%= comment.get_upvotes.size %> </span></button> </p>
         </div>
        <% end %>
    <% else%>
        <%= link_to unlike_comment_path(comment), method: :put do %>
        <div class="engagement"> <button type="button" class="badge badge-info"> Unlike <span class="badge">
        <%= comment.get_upvotes.size %> </div>
        <% end %>
<%end%>

      
<% end %>

