<% post.comments.each do |comment| %>


<div class="comment">
    <h5><a href="/users/<%=comment.user.id%>   "><%= comment.user.first_name %> <%= comment.user.last_name %></a></h5>
    <h6><%= comment.content %></h6>
    <%= comment.created_at.strftime("%d/%m/%Y")%> at <%= comment.created_at.strftime("%k:%M") %><br>
</div>

<div style="float: left"><%= link_to edit_comment_path(comment.id), :method => :get do %>
    <div class="engagement"> 
        <p> <button type="button" class="btn btn-primary btn-sm">Edit</span></button> </p>
            </div>
        <% end %> </div></div>
    <div style="float: none"><%= button_to "Delete Comment", { :controller => "comments",:action => 'destroy', :id => comment.id }, :method => :delete  %>
        

<div style="float: none"> 
    <% if !current_user.voted_for?(comment)%>
        <%= link_to like_comment_path(comment), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="badge badge-secondary"> Like <span class="badge"><%= comment.get_upvotes.size %> </span></button> </p>
            </div>
        <% end %>
    <% else%>
        <%= link_to unlike_comment_path(comment), method: :put do %>
        <div class="engagement"> <button type="button" class="badge badge-info">Unlike<span class="badge">
        <%= comment.get_upvotes.size %> </div>
        <% end %>
    <%end%>
      <% end %>
      </div>

