<%= form_with(model: comment, local: true) do |form| %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :body, id: :comment_body %>
  </div>

  <%= form.hidden_field :post_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
