<% post.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <%= comment.created_at.strftime('%H:%M, %-d %B') %>
  <%= render 'likes/index', :resource => comment %>

  <% if comment.user_id == current_user.id && comment.less_than_ten_mins_ago %>
    <%= link_to edit_post_comment_path(post, comment) do %>
      Edit comment
    <% end %>
  <% end %>
  <% if comment.user_id == current_user.id %>
    <%= button_to 'Delete comment', post_comment_path(post, comment), method: :delete %>
  <% end %>
<% end %>
