<% post.comments.each do |comment| %>
  <div class="comment">
    <div class="comment-text"><%= comment.body %></div>
    
    <div class="post-meta-data">
      <div class="likes-container">
        <div class="comment-date"><%= comment.created_at.strftime('%H:%M, %-d %B') %></div>

        <div id="like-form">
          <% if comment.likes.find { |like| like.user_id === current_user.id } %>
            <% like = comment.likes.find { |like| like.user_id === current_user.id } %>
            <%= button_to '', comment_like_path(comment, like), method: :delete, :class => "unlike-comment-button" %>
          <% else %>
            <%= button_to '', comment_likes_path(comment), method: :post, :class => "like-comment-button" %>
          <% end %>
        </div>
        <p class="comment-number-of-likes"><%= comment.likes.length %></p>
      </div>

      <div class="update-delete-post-container">
        <% if comment.user_id == current_user.id && comment.less_than_ten_mins_ago %>
          <%= link_to edit_post_comment_path(post, comment) do %>
            <p class="update-post-anchor">Edit comment</p>
          <% end %>
        <% end %>
        <% if comment.user_id == current_user.id %>
          <%= button_to 'Delete comment', post_comment_path(post, comment),
              class: "delete-button",
              method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
