<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :text %>
    <%= form.hidden_field :user_id, :value => session[:user_id] %>
    <%= form.hidden_field :post_id, :value => @post_id %>
    <br>
    <%= form.submit %>
  </p>
<% end %>
