<h1> Comments </h1>
<%= form_with model: @post, local: true do |form| %>
<%= form.label :comment %>
<%= form.text_area :body %>
<%# <%= form.hidden_field @post.id %> %>
<%= form.submit %>
<%= p params[:post_id] %>
<% end %>
