<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%# <%= form.text_field :email, id: :person_email %>
    <%= form.email_field :email, id: :person_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%# <%= form.text_field :password, id: :person_password %>
    <%= form.password_field :password, id: :person_password, minlength: 6, maxlength: 10 %>
  </div>

   <div class="field">
    <%= form.label :username %>
    <%# <%= form.text_field :email, id: :person_email %>
    <%= form.text_field :username, id: :username %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
