<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<h1>The users of this app are</h1>
<% @people.each do |user| %>
  <p><%=  user.email  %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.email %></td>
        <td><%= person.password %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
