<%= stylesheet_link_tag "signin" %>

<body style="background: url('https://i.pinimg.com/originals/e1/7c/6b/e17c6bbe81aeca9b1835d8b14294af1b.jpg')">


<%= stylesheet_link_tag "signup" %>

<%= form_for @user do |form| %>
<p>
  <%= form.label :username %>
  <%= form.text_field :username %>
</p>
<p>
  <%= form.label :password %>
  <%= form.text_field :password %>
</p>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.submit "Submit" %>
</p>
<% end %>
</body>
