<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :confirmed_status %>
    <%= form.check_box :confirmed_status, id: :friend_confirmed_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
