<main class="ui two column doubling stackable grid container">
    <section class="column">
        <div class="ui teal segment">
            <% if @user.friend_requests? %>
                <div class="ui vertical clearing segment">
                    <header class="ui basic segment">
                        <h3 class="ui header">Friend Requests:</h3>
                    </header>
                    <% @requests.each do |friend| %>
                        <section class="ui basic segment">
                            <span class="ui green header">
                                <%= friend.name%>
                            </span>
                            <div class="ui basic segment">
                                <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
                                    <input class="ui basic tiny left floated positive button" type=submit value='Accept'>
                                    <% end %>
                                        <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
                                            <input class="ui basic tiny right floated negative button" type=submit value='Politely Refuse'>
                                            <% end %>
                            </div>
                        </section>
                        <% end %>
                </div>
                <% end %>
                    <% if @user.requested_friends? %>
                        <div class="ui vertical segment">
                            <header class="ui basic segment">
                                <h3 class="ui header">Pending:</h3>
                            </header>
                            <% @pending.each do |friend| %>
                                <section class="ui basic segment">
                                    <span class="ui yellow header">
                                        <%= friend.name%>
                                    </span>
                                </section>
                                <% end %>
                        </div>
                        <% end %>
                            <header class="ui basic segment">
                                <h3 class="ui header">Your Friends:</h3>
                            </header>
                            <div class="ui vertical segment">
                                <% if @user.friends? %>
                                    <% @friends.each do |friend| %>
                                        <section class="ui basic segment">
                                            <span class="ui header">
                                                <%= link_to  friend.name, user_path(friend) %>
                                            </span>
                                        </section>
                                        <% end %>
                                            <% end %>
                            </div>
        </div>
    </section>
    <section class="column">
        <section class="ui basic segment">
            <header class="ui basic segment">
                <h3 class="ui header">Find Friends</h3>
            </header>
            <div class="ui basic segment">
                <%= form_tag ({controller: 'friends', action: 'search'}) do %>
                    <div class="ui input">
                        <input type="text" name="search" id="search">
                    </div>
                    <input class="ui mini basic button" type="submit" name="commit" value="Search" data-disable-with="Search">
                    <% end %>
            </div>
            <% @user.not_friends.sample(5).each do |user| %>
                <section class="ui basic segment">
                    <span class="ui header">
                    <%= link_to user.name, user_path(user) %>
                </span>
                    <div class="ui basic segment">
                        <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                            <input class="ui basic button" type=submit value='Add Friend'>
                            <% end %>
                    </div>
                </section>
                <% end %>
        </section>
    </section>
</main>
