<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg|%>
    <%= msg %>
  <%end%>
<%end%>
