<%= form_with(model: post, local: true) do |form| %>

  <p id="notice"><%= notice %></p>

  <p>
    <%= form.label :profile_picture%>
    <%= form.file_field :profile_picture%>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, autofocus: true, placeholder: 'Email' %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
  </p>
 
  <p>
    <%= form.submit 'Join the Rebel Alliance' %>
  </p>
<% end %>
