
<div class="text-field">
  <%= form.label :firstname %>
  <%= form.text_field :firstname, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :surname %>
  <%= form.text_field :surname, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :birthday %>
  <%= form.text_field :birthday, type: 'date' %>
</div>

<div class="text-field">
  <%= form.label :gender %>
  <%= form.text_field :gender, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="password-field">
  <%= form.label :profile_picture %>
  <%= form.file_field :profile_picture %>
</div>
