<%= form_for @user do |form| %>
  <div class="field form-group col-md-4">
    <%= form.label :username %>
    <%= form.text_field :username, class:"form-control" %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= form.label :Upload_a_Profile_Image %>
    <%= form.file_field :avatar, class:"form-control" %>
  </div>
  <br>

  <div class="actions form-group col-lg-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
