<%= form_for @user do |form| %>
  <div class="field form-group col-md-4">
    <%= form.label :username %>
    <%= form.text_field :username, class:"form-control" %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= form.file_field :avatar, class:"form-control" %>
  </div>

  <div class="actions form-group col-lg-2">
    <%= form.submit class:"btn btn-primary btn-block py-2" %>
  </div>
<% end %>
