<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for @user do |user| %>
      <%= user.label :font_family %>
      <%= user.select(:font_family, [['Times New Roman'], ['Times'], ['Courier New'], ['Verdana'], ['Courier'], ['Arial Narrow'], ['Candara'], ['Geneva'], ['Calibri'], ['Optima'], ['Cambria'], ['Garamond'], ['Arial Narrow'], ['Perpetua'], ['Monaco'], ['Didot'], ['Brush Script MT'], ['Lucidia Bright'], ['Copperplate']]) %>

      <%= user.label :background_colour %>
      <%= user.select(:background_colour, [['#F3FCF2'], ['#D5E3D5'], ['#E86FE2'], ['#F2FCFC'], ['#FCFBF2'], ['#FFFAF5'], ['#FCDAB8'], ['#9E764D'], ['#F5F5F5']])%>

      <%= user.submit "Lizardify me!" %>
    <% end %>
  </body>
</html>

<!--
Colour Palettes
- #F3FCF2 (light green)
- #D5E3D5 (dark off-green)
- #E86FE2 (bright pink)
- #F2FCFC (off-white blue)
- #FCFBF2 (Baige)
- #FFFAF5 (earthy brown)
- #FCDAB8 (soil brown)
- #9E764D (shit brown)
- #F5F5F5 (light grey) -->
