<h2> My Profile </h2>

<% if @user.avatar != "" %>
    <img src=<%= @user.avatar %> width="150" height="150" class="avatar">
  <% end %>
<p> Name: <%= @user.user_name %></p>
<p> Birthday: <%= @user.birthday %></p>
<p> Occupation: <%= @user.occupation %></p>
<p> Bio: <%= @user.bio %></p>

<%= form_with model: @user, local: true do |f| %>

  <div>
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label :Birthday %><br>
    <%= f.text_field :birthday, :placeholder => 'yyyy-mm-dd' %>
  </div>

  <div>
    <%= f.label :Occupation %><br>
    <%= f.text_field :occupation %>
  </div>

  <div>
    <%= f.label :Bio %><br>
    <%= f.text_field :bio %>
  </div>

  <br>
  <p>
    <%= f.submit %>
  </p>

<% end %>


