<h1> My profile </h1>


<div class="posts">

    <% @posts.reverse.each do |post| %>
        <div class="post-card">

          <div class="message-grid">

            <div class="message-internal">
              <div id='post-<%= post.id %>' class='post'>

                <div class='message'>
                  <%= simple_format post.message %>
                </div>
                
                <div class='user'>
                  <%= User.find_by(id: post.user_id).email %>
                </div>

                <div class='timestamp'>
                  <%= Post.format_time(post.created_at) %>
                </div>

              </div>

            </div> <%# message-internal %>

            <div class="right-container">

              <div class="profile-thumb-container">
                <img src="http://fanaru.com/unicorns/image/230993-unicorns-unicorn-avatar.png" alt="Avatar" class="profile-thumb">
              </div> <%# profile-thumb %>

              <div class="message-buttons">

                <% if post.allow_update? %>
                  <%= button_to "Edit", edit_post_path(:id => post.id), :method => :get, :id => "edit_#{post.id}", class: "main_button button_edit"%>
                
                <% end %>
                  
                  <%= button_to "Delete", post_path(:id => post.id), :method => :delete, :id => post.id, class: "main_button button_delete" %>
              </div>
            </div> <%# right-container %>
          </div> <%# message-grid %>
        </div> <%# post-card%>
    <% end %>

  </div> <%# posts %>