<p class="glow">Hello, <%= @user.email %></p>

<p>
  <img src="/newpost.png" alt="New post" height="150" width="150">
  <%= link_to new_post_path do %>
  Want to write a new post? Click here!
<% end %>
</p>

<div class="container">
<% @userposts.reverse.each do |post| %>
  <%= simple_format(post.message) %>
  <%= post.created_at.strftime("Posted on %d/%m/%Y") %>
  <%= link_to 'Edit', edit_post_path(post) %>
</div><% end %>
