<%= flash[:returnMessage] %>

<h2>Login Page</h2>

<%= form_for @user do |form| %>
  <%= form.label :Login %>
  <%= form.email_field :email %>
  <%= form.password_field :password %>

  <%= submit_tag "Submit", :name=> "login_button" %>
<% end %>
