
<div class='main_sign_up_in_page'>

  <h1 class="acebook">Acebook</h1>

  <div class="sign_in">
    <div class="sign_in_form">
      <%= form_for :user, url: '/users' do |f| %>
        <%= form_tag '/login' do %>
          <h2><strong>Sign In</strong></h2>
        <div class = "form-group">
          <strong><%= f.label :email %></strong>
          </br>
          </br>
          <%= f.text_field :email, class:"sign_in_email" %>
        </div>
        </br>
        <div class = "form-group">
          <strong><%= f.label :password %></strong>
          </br>
          </br>
          <%= f.password_field :password %>
        </div>
      </br>
      </br>
        <%= submit_tag "Submit", class: "sign_up_submit" %>
        <% end %>
      <% end %>
    </div>
  </div>
<!-- ------------------------ -->


  <div class="sign_up">
    <div class="sign_up_form">
      <%= form_for :user, url: '/users' do |f| %>
        <h2><strong>Sign up<strong></h2>
      <div class ="form-group">
        <%= f.label :name %>
      </br>
      </br>
        <%= f.text_field :name, class:"sign_up_name" %>
      </div>
      </br>
      <div class = "form-group">
        <%= f.label :email %>
        </br>
        </br>
        <%= f.text_field :email %>
      </div>
      </br>
      <div class = "form=group">
        <%= f.label :password %>
        </br>
        </br>
        <%= f.password_field :password %>
      </div>
      </br>
      </br>
      <%= f.submit "Submit", class: "sign_up_submit" %>
      <% end %>
    </div>

</div>
