<%= stylesheet_link_tag "/homepage.css" %>

<div class="header">
  <img src="/acebook-logo.jpg" id="logo">
  <div class="navigation">
    <div class="links">
      <%= link_to @user.first_name, user_path(@user.id) %>
      <%= link_to "Home", '/' %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
    </div>
  </div>
</div>

<div class="body">

  <div class="full-name">
    <img src="/blank-avatar.jpg" id="thumb">
    <div class="title"><h1><%= @user.first_name + ' ' + @user.last_name %></h1></div>
  </div>



  <div class="content">

    <div class="flash">
      <%= notice ? notice : '' %>
    </div>

    <div class="add-post">
      <%= form_for @post do |form| %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= label_tag "What's on your mind, #{@user.first_name}?" %>
        <%= text_field_tag :message %>
        <%= form.submit "Post", class: "post-button" %>
      <% end %>
    </div>

    <% @posts.reverse.each do |post| %>
      <div class="post">
        <div class="details">
          <%= link_to post.users.first_name, user_path(post.user_id), class: "name" %>
          <div class="time"><%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
      <p><%= post.message %></p>
      <% if @user.id == post.users.id %>
        <div class="changes">
          <%= link_to 'Delete', user_post_path(@user.id, post.id), method: "delete", class: "change" %>
          <%= link_to 'Update', user_post_path(@user.id, post.id), method: "get", class: "change" %><br>
        </div>
      <% end %>
        <div class="likes">
          <%= link_to 'Like', user_post_likes_path(@user.id, post.id), method: "post", class: "like-button" %>
          <%= link_to 'Unlike', user_post_like_path(@user.id, post.id, @user.id), method: "delete", class: "like-button" %>
          <%= link_to 'Likes', user_post_likes_path(@user.id, post.id), class: "like" %> <div class="number"><%= post.likes.length %></div>
        </div>
    </div>
    <% end %>

  </div>
</div>
