<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <%if user != current_user%>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <%# <% if user != current_user %> 
        <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
        <%# <% else %> 
        <%# <% end %>
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
