<h1>Log in</h1>

<%= form_with scope: :user, url: users_path, local: true  do |form| %>

<%= form.label :email %>
<%= form.email_field :email %>

<%= form.label :password %>
<%= form.password_field :password %>

<%= form.submit "Log in" %>

<% end %>
