<h1>Log in</h1>

<%= form_with scope: :user, url: '/login', local: true  do |form| %>

<%= form.label :email %>
<%= form.email_field :email %>

<%= form.label :password %>
<%= form.password_field :password %>

<%= form.submit "Log in" %>

<% if flash[:login_errors] %>
<% flash[:login_errors].each do |error| %>
<p> <%=error%></p>
<% end %>
<% end %>

<% end %>
