<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div> <%= msg %> </div>
    <% end %>
  <% end %>

  <div>
    <%= f.text_field :username, placeholder: 'username' %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: 'email' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: 'password' %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>
  </div>
  <%= f.submit 'Sign Up' %>
<% end %>