<div id="form">
<%= form_for(@user) do |f| %>
   <%= f.label :firstname %>
   <%= f.text_field :firstname %>

   <%= f.label :lastname %>
   <%= f.text_field :lastname %>

   <%= f.label :username %>
   <%= f.text_field :username %>

   <%= f.label :email %>
   <%= f.email_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %>

  <%= f.submit "Sign up" %>
<% end %>
</div>

<div>
<%= link_to "Log In", new_session_path %>
</div>

<div id="alert">
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
</div>
