<div class="text-center d-flex flex-column align-items-center">
  <div class='w-50'>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h2>
          <%= pluralize(@user.errors.count, 'error') %> encountered:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="w-25">
    <%= form_with scope: :user, url: users_path, local: true do |form| %>
      <h1 class="h3 mb-3 font-weight-normal">Create a new user:</h1>
      <%= form.label :username %><br>
      <%= form.text_field :username, placeholder: 'Example', class: 'form-control' %>
      <br>
      <%= form.label :email %><br>
      <%= form.text_field :email, placeholder: 'example@acebook.com', class: 'form-control' %>
      <br>
      <%= form.label :password %><br>
      <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
      <br>
      <%= form.submit 'Register', class: 'btn btn-lg btn-primary' %>
    <% end %>
    <br>
    <br>
    or sign up with GitHub:
    <br>
    <br>
    <%= link_to image_tag('/github.png', height: '75px'), '/auth/github' %>
  </div>
</div>
