<body class="bg bg_4">
  <div class="text-center box titleFont">
  <%=form_for :user, url: users_path do |form| %>
  <p>
   <h1>New User</h1>
    <%=form.label :name %> <br>
    <%=form.text_field :name %> <br>
    <%=form.label :email %> <br>
    <%=form.text_field :email %> <br>
    <%=form.label :password %> <br>
    <%=form.password_field :password %> <br><br>
    <%= form.submit "Sign Up", class: 'button'%>
  </p>
  <% end %>
  </div>
</body>
