<div class='posts-body'>
<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password, minlength: 6 %><br>
  <%= f.submit 'create'%>
<%end%>
<% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
  </div>