<h1>Sign up</h1>
<%= flash[:danger] %>
<%= form_for @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username%>
  <%= form.label :email %>
  <%= form.email_field :email%>
  <%= form.label :password %>
  <%= form.password_field :password%>

  <%= form.submit "Submit" %>

<% end %>
