<h1>New users page</h1>

<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :Email %>
      <br>
      <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :password %>
      <br>
      <%= form.text_field :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% end %>
