<body class="header">
  <div class="header">
    <h1>Acebook</h1>
    <%= link_to login_path do %>
      <h4>Log in</h4>
    <% end %>
  </div>
</body>

<body class="signup-body">
  <div class="signup-card">
    <div class="signup-header">Sign up</div>

<%= form_for @user do |form| %>

    <div class="signup-body__message">
      <div class="hidden"><%= form.label :first_name %></div>
      <%= form.text_field :first_name, placeholder: "first name", required: true %>
    </div>
    <div class="signup-body__message">
      <div class="hidden"><%= form.label :last_name %></div>
      <%= form.text_field :last_name, placeholder: "last name", required: true %>
    </div>
    <div class="signup-body__message">
      <div class="hidden"><%= form.label :email %></div>
      <%= form.email_field :email, placeholder: "email", required: true %>
    </div>
    <div class="signup-body__message">
      <div class="hidden"><%= form.label :password %></div>
      <%= form.text_field :password, placeholder: "password", type: "password", required: true, minlength: 6, maxlength: 10 %>
    </div>
    <div class="signup-body__submit">
      <%= form.submit "Submit" %>
    </div>

<% end %>

  </div>
</body>
