<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
  </head>
  <body>

  <div class="text-center box">
  <%=form_for :user, url: users_path do |form| %>
  <p>
   <h1>New User</h1>
    <%=form.label :name %> <br>
    <%=form.text_field :name %> <br>
    <%=form.label :email %> <br>
    <%=form.text_field :email %> <br>
    <%=form.label :password %> <br>
    <%=form.password_field :password %> <br>
    <%= form.submit "Sign Up" %>
  </p>
  <% end %>
  </div>
  </body>
</html>
