<div class='sign-up-in-tile'>

<%= link_to "Sign in", new_session_path %>

<h1>Sign up to Acebook</h1>
<%= flash[:have_to_log_in_error] %>

  <% if @user.errors.any? %>
     <div id="error_explanation">
       <h3>
         <%= pluralize(@user.errors.count, "error") %>
       </h3>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </div>
   <% end %>

  <%= form_for(@user, url: users_path) do |f|  %>
    <%= f.label :email %><br />
    <%= f.text_field :email %><br>

    <%= f.label :password %><br />
    <%= f.password_field :password %><br>

    <%= f.submit "Signup" %>

  <% end %>

</div>
