<h1>Create an account</h1>

<div>
  <%= form_for(:user, url: signup_path) do |f| %>

  <%= f.text_field :first_name, placeholder: "First Name" %>

    <%= f.text_field :last_name, placeholder: "Last Name" %>

    <%= f.email_field :email, placeholder: "Email" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.password_field :confirmpassword, placeholder: "Confirm Password" %>

    <%= f.submit "Sign Up" %>
  <% end %>
</div>
