<h1>Sign Up</h1>

<%= form_for @user do |form| %>
  <%= form.label :full_name %>
  <%= form.text_field :full_name %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Submit" %>
<% end %>
