<h1>Create account</h1>

<%= form_for :user do |f| %>

  <%= f.label :fname %>
  <%= f.text_field :fname %> <br />

  <%= f.label :lname %>
  <%= f.text_field :lname %> <br />

  <%= f.label :email %>
  <%= f.text_field :email %> <br />

  <%= f.label :password %>
  <%= f.password_field :password %> <br />

  <%= f.submit "Create account" %>

<% end %>
