<%= flash[:returnMessage] %>

<h4>Registration Page</h4>

<%= form_for @user do |form| %>
  <%= form.label :Login %>
  <%= form.email_field :email %>
  <%= form.password_field :password %>

  <%= form.submit "Submit" %>
<% end %>