<h1 class="title">Sign Up</h1>
<%= form_for @user do |f|%>
  <p><%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit %>
  </p>
<%end%>

<%= button_to 'Homepage', '/posts', method: :get%>  
