<h1> Acebook </h1>

<%= form_with model: @user do |f| %>
 <%= f.label :first_name %>
 <%= f.text_field :first_name %>
 <%= f.label :last_name %>
 <%= f.text_field :last_name %>
 <%= f.label :email %>
 <%= f.text_field :email %>
 <%= f.label :password %>
 <%= f.password_field :password %>
 <%= f.submit %>
<% end %>
