<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <title>Acebook - Signup</title>
  </head>

  <body>

    <div class="wrapper">
      <div class="sign-up">
        <h1>Bearbook</h1>
         <p id="bear-icon">&#128059;</p>

        <%= form_with scope: :user, url: users_path, local: true do |form| %>

            <%= form.label :first_name %><br>
            <%= form.text_field :first_name %>

            <br>

            <%= form.label :last_name %><br>
            <%= form.text_field :last_name %>

            <br>

            <%= form.label :email %><br>
            <%= form.text_field :email %>

            <br>

            <%= form.label :password %><br>
            <%= form.password_field :password %>

            <br>

            <%= form.submit "Signup", :class => 'btn' %>

        <% end %>
      </div>
    </div>

  </body>

</html>
