  <h1>Sign Up</h1>
  <%= form_for @user do |f|%>
    <%= f.label :name%><br>
    <%= f.text_field :name%><br>
    <%= f.label :email%><br>
    <%= f.text_field :email%><br>
    <%= f.label :password%> (6 - 10 characters)<br>
    <%= f.password_field :password%><br>
    <%= f.submit %>
  <%end%>
