<h1> New User </h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>

   <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>

  <div>
    <%= form.submit%>
  </div>
<% end %>
