<div class="container">
<div class="row">

  <div class="col-6">
    <img src="https://i.imgur.com/8RKTBwB.png" alt="">
  </div>



      <div class="col-4">
        <br>
      <h1>Sign Up</h1>
    <%= form_for @user do |f|%>
      <%= f.label :username%><br>
      <%= f.text_field :username%><br>
      <%= f.label :password%><br>
      <%= f.password_field :password%><br>
      <%= f.submit %>
    <%end%>
      
      
      </div>

</div>

</div>