<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


<h1>Welcome to Catflap</h1>
<h2>Please Sign Up!</h2>


<%= form_for @user do |form| %> 
  <div>
    <%= render 'shared/error_messages' %>
  </div>
  <p>
    <%= form.label :email %> <br>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password %> <br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>

<div>
  Already a member? 
  <%= link_to "Log in", sessions_new_path, method: :get %>
</div>
