<h1>Acebook Signup</h1>

<%= form_with scope: :user, url: users_path, local: true do |f|  %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Signup" %>

<% end %>