<div class="row">

  <div class="sidebar col-4 p-2">
    <div class="profile p-2">
      <div>
        Avatar goes here
      </div>
    </div>
    <div class="profile-name p-2">
      <%=@user.first_name%> <%=@user.last_name%>
    </div>
  </div>

  <!-- Start of main -->
  <div class="main col-8 p-2">
    <!-- Start of create-post form, to replace with partial -->
    <%= render './partials/post_form'%>
    <!-- End of create-post form -->

    <!-- Start of wall -->
    <div class="wall">
      <% @posts.each do |post| %>
        <!-- Start of a post -->
        <div id="post" class="row">
          <div class="col-1">
            <div class="avatar my-3">
              <img src="avatar.jpeg" alt="<%=@user.first_name%> <%=@user.last_name%>" class="avatar-small">
            </div>
          </div>
          <div class="col-11">
            <div class="post-container my-3 p-3">
              <div class="post-author">
                <%= link_to "#{@user.first_name} #{@user.last_name}", "/users/#{@user.id}" %>
              </div>
              <div class="post-content mb-2">
                <%=post.message%>
              </div>
              <div class="post-meta">
                <%= post.created_at.strftime("%-d %b %Y at %H:%M") %>
              </div>
            </div>
          </div>
        </div>
        <!-- End of post -->
      <% end %>
    </div>
    <!-- End of wall -->
  </div>
  <!-- End of main -->

</div>
