

<div class="profile">
 <h1> <%= @user.first_name %> <%=@user.last_name%> </h1>
<p>About me: <%= @user.bio %></p>


<p><% if @user.avatar.attached? %>
  <img src="<%=(url_for(@user.avatar.variant(resize: "400x400")))%>">
<% end %></p>
</div>
<%if current_user.id != @user.id%>
  <%= render :partial => "./friendships/user_friendship", locals: { user_id: @user.id, user: @user }%> 
<%end%>

<%if current_user.id == @user.id%>
<%= render :partial => "./posts/create_post", locals: { post: @post}%>
<%end%>

<% @posts.reverse.each do |post| %>
  <% if post.user_id == @user.id %>
    <%= render :partial => "./posts/view_posts", locals: { post: post}%> <br>
    <%= render :partial => "./comments/comment_form", locals: { comment: @comment, post_id: post.id}%> <br>
    <%= render :partial => "./comments/display_comment", locals: { comment: @comment, post: post}%> 
  </div>
  <% end %>
<% end %>