<div class="panel panel-info">
  <div class="panel-heading">
<% if @user.id == current_user.id%>
    <h3 class="panel-title">My Profile</h3>
<% else %>
  <h3 class="panel-title">Profile</h3>
<% end %>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center">
        <%= image_tag @user.avatar.url, size:"100x100" %>
      </div>
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Username:</td>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <td>First name:</td>
              <td><%= @user.firstname %></td>
            </tr>
            <tr>
              <td>Last name:</td>
              <td><%= @user.lastname %></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td><%= @user.birthday %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Bio</td>
              <td><%= @user.bio %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% if @user.id == current_user.id%>
 <div class="panel-footer">
    <span class="pull-right">
        <a href="edit.html" type="button" class="btn btn-primary">Edit</a>
        <%= link_to "Delete", delete_user_path(current_user.id),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-danger" %>
    </span>
  </div>
<% end %>

  <div id="your-friends">
    <br>
    <h3>Friends: </h3>
    <hr>
    <div class="card-columns">
      <% @friends.each do |friend| %>
          <div class="card col-5">
            <%= link_to profile_page_path(friend.id) do %>
              <div class="card-body">
                <%= image_tag friend.avatar.url, size:"50x50", class: "mr-2 rounded-circle center"%>
                <%= "#{friend.firstname} #{friend.lastname}" %>

              <% if @user.id == current_user.id %>
                  <%= link_to 'Unfriend', friendships_delete_path(friend.id),  method: :delete %>
              <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div id="your-friends">
    <br>
    <h3>Posts: </h3>
    <hr>
    <% current_user.posts.each do |post| %>
    <div class="card mt-5">
      <div class="card-header">
        <h5>

            <%= link_to profile_page_path(post.user.id) do %>
            <%= image_tag post.user.avatar.url, size:"50x50", class: "mr-2 rounded-circle"%>
            <%= "#{post.user.firstname} #{post.user.lastname} " %>
          <small class="float-sm-right">
            <%= "#{distance_of_time_in_words_to_now(post.created_at)} ago" %>
            <% end %>
          </small>
        </h5>
      </div>

      <div class="card-body">
        <div class="card-text">
          <%= post.message %>
          <div class="float-right">
              <%= link_to "Delete", post_path(post.id), method: :delete, class: "btn btn-link" %>
              <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-link" %>
              <%= link_to "Comment", "/posts/#{post.id}/comments/new", class: "btn btn-link" %>
              <%= post.post_likes.count %>
              <%= post.post_likes.count == 1 ? 'like' : 'likes' %>
              <% if PostLike.where(post_id: post.id, user_id: @user.id).exists? %>
                <%= link_to "Unlike", post_like_path(post.id), method: :delete %>
              <% else %>
                <%= link_to "Like", post_likes_new_path(post.id) %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
