<br>

<div class="user-avatar-container">
  <%= image_tag @user.avatar %>
</div>
<h1><%= @user.name %></h1>
<%= link_to "Back to homepage", root_path() %> |
<%= link_to "Edit bio" %>
<br>
<h4><%= @user.bio %></h4>

<div class="row">
  <%= render @user_posts %>
</div>
