<p>Welcome <%= @user.first_name %>!</p>

<%= form_tag('/users/@user.id', method: :patch) do |form| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= text_field_tag :message %>
<%= submit_tag "Post" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.users.first_name %></p>
  <p><%= post.message %></p>
  <p><%= time_ago_in_words(post.created_at) %></p>
<% end %>
