  <div id='post-spacer'>
  </div>
  
  <div id='new-post-link'>
    <%= link_to new_post_path(:wall_id => params[:id]) do %>New post<% end %>
  </div>
  
  <div id='post-spacer'>
  </div>

<div id='posts'>

  <% @posts.each do |post| %>
    <div class="card">
      <div id='top'> 
        <div id='top-left'>
          <div id='post-user'>
            <%= User.find(post.user_id).email %>
          </div>

          <div id='post-date'> 
          <%= post.created_at.strftime("%m/%d/%Y, %H:%M") %>
          </div>
        </div>

        <div id='post-links'> 
          <%= link_to 'Edit', edit_post_path(post) %>
           
          <%= link_to 'Delete', post, :method => :delete %>
        </div>

      </div>

      <div id='post-message'>
        <%= simple_format(post.message, {}, wrapper_tag: "div") %>
      </div>
  
    </div>
    <div id='post-spacer'>
    </div>
  <% end %>

</div>


