<p>
  Welcome <%= @user.email %>
</p>

<% @user.posts.each do |post| %>
  <p>
    <strong>Posts:</strong>
    <%= post.message %>
  </p>
<% end %>
<h2>Add a post:</h2>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>