<button><%= link_to 'See all posts', posts_path %></button>

<l1 style="padding: 20px"> </l1>
<button><%= link_to 'Add new post', new_post_path %></button>
<l1 style="padding: 20px"> </l1>
<button> <%= link_to 'Albums', albums_path %></button>
<div class=" text-center">
    <%if current_user.id == @user.id%>

        <%= form_for current_user do |form| %>
            <div>
                <h4 class='avatar-title'>
                    <%= form.label 'Set your avatar:'  %>
                </h4>

                <%= form.file_field :avatar, direct_upload: true %>

                    <p class="avatar-btn">
                        <%= form.submit "Set avatar" %>
                    </p>
            </div>


            <%end%>
                <%end%>


                    <h1>
                        <%= image_tag(@user.avatar, style:'width:5%') if @user.avatar.attached?%>
                            <p>
                                <%=@user.username%> wall:
                            </p>
                    </h1>
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
</div>

<div class="wall-container">
    <ul class="list-group">
        <% @posts.each do |post|%>
            <li class="list-group-item list-group-item-dark text-center" style="padding: 20px; max-width: 50vw; margin: 0 auto">
                <%=post.message%>
                    <%= link_to 'Edit', edit_post_path(post) if current_user.id == post.user_id  %>
                        <%= link_to 'Delete', post_path(post),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } if current_user.id == post.user_id%>
                            <%= link_to 'Show comments', post_path(post) %>
                                <h5>Comments</h5>
                                <% post.comments.each do |comment| %>

                                    <p>
                                        <strong>Comment:</strong>
                                        <%= comment.body %>
                                    </p>
                                    <% end %>
                                        <%end%>
    </ul>

    <ul class="list-group">
        <% @albums.each do |album|%>
            <li class="list-group-item list-group-item-dark text-center" style="padding: 20px; max-width: 50vw; margin: 0 auto">
                <%=album.title%>
                    <%album.images.each do |image|%>
                        <%= link_to image_tag(image, class: "album-image"), image %>

                            <%end%>

                                <%end%>

    </ul>
</div>