<p>
  Welcome <%= @user.email %>
</p>

<% @posts.each do |post| %>
  <p>
    <strong><%= post.user.email %>:</strong>
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime("%H:%M:%S - %d/%m/%Y") %>
  </p>
<% end %>

<h2>Add a post:</h2>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'home', posts_path%>