<h1><%= @user.name%>'s Profile</h1>
<br>
<h3>Posts:</h3>
<% @posts.each do |post| %>
    <% if @user.id == post.user_id %>
    <%= simple_format(post.content) %>&nbsp;<%= post.created_at %>
    <% end %>
<% end %>

<br>
<br>
<% if current_user.id != request.original_url.split('/').last.to_i %>
  <%= link_to "Post to #{@user.name}'s wall", new_post_path(:recipient_id => request.original_url.split('/').last)%>
<% end %>

<br>
<br>
  <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
  <%= link_to 'New post', new_post_path%>
  <%= link_to 'Back', posts_path %>
