<% provide(:title, @user.name) %>
<h2 class="page-title">Welcome, <%= @user.name %>!</h2>
<h3 class="page-subtitle">Your newsfeed</h3>
<div>
  <%= form_for :post, url: "/#{@user.id}" do |form| %>
    <%= form.label :message %>
    <%= form.text_area :message %>
    <%= form.hidden_field :wall_id, value: @user.id %>
  <%= form.submit "Submit" %>
  <% end %>
</div>
<% @posts.each do |post| %>
  <div class="posts card">
    <% user = User.find(post.user_id) %>
    <p><%= user.name %></p>
    <p><%= post.message %></p>
    <p><%= post.updated_at.strftime('%I:%M %p, %A, %b %d') %></p>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post_path(post), method: :delete %>
  </div>
<% end %>
