  <center><h2>Welcome to <%=@user.email %>'s Wall</h2></center>

  <br>
  <p>
  <% @recipient_posts.each do |post| %>

  <div class="container">

  <p><%= post.created_at.strftime('%l:%M%P %-d-%B-%Y') %></p>
  <p class="post" ><%= post.message %> (<%= post.user.email %>)</p>
    <br>
    <% if current_user.id == post.user_id && post.created_at > 10.minutes.ago
  %>
  <%= link_to 'Edit', edit_post_path(post) %>
  |
  <%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure?"} %>
  <br>
  <% end %>
</div>
<br>

<% end %>

<center><%= button_to "New post", new_post_path, :method => :get, params: { wallUserID: @user.id } %></center>
