<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> - Wall
      </h1>
    </section>
  </aside>
</div>
<div>
  <%= form_for :post, url: "/#{@user.id}" do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>
    <%= form.fields_for :users do |user| %>
        <%= user.hidden_field :id %>
          <% end %>
          <%= form.hidden_field :wall_id, value: @user.id %>
      <%= form.submit "Submit" %>
  <% end %>
</div>
