<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> - Wall
      </h1>
    </section>
  </aside>
</div>
<div>
  <%= form_for @user do |form| %>
    <%= form.hidden_field :id %>
    <%= form.fields_for :posts, Post.new do |post| %>
      <%= post.label :message %>
      <%= post.text_area :message %>
      <%= post.submit "Submit" %>
    <% end %>
  <% end %>
</div>
