<p id=”notice”><%= flash[:notice] %></p>
<h1><%= User.find(params[:id]).email %>'s profile </h1>

<div class='posts-body'>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <%= form.label :message %>
  <%= form.text_area(:message, :size => "60x10") %>
  <% hidden_field(:post, :recipient_id, value: params['id']) %>
  <% hidden_field(:post, :post_type, value: 'wall') %>
  <%= form.submit "Submit" %>
<% end %>

<article class='posts'>
<% if @posts %>
 <% @posts.each do |post| %>
  <% @user = User.find(post.users_id) %>
  <article class="post" id='<%= post.id %>'>
      <header>
        <p> <%= post.message %> </p>
      </header>
      <footer class='post-footer'>
        <span>&#x1F9E1 0<span>
        <p>
          posted at
          <time datetime= <%= post.created_at %> ></time>
          by <a href='users/<%=@user.id%>'><%= @user.email %>.</a>
        </p>
    </footer>
  </article>
  <% end %>
  <% else %>
  <h1>There is nothing to display</h1>
<% end %> 

</article>
</div>

