<% content_for :head do %>
  <%= stylesheet_link_tag "profile" %>
<% end %>
          <!-- /Avatar info area -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= @user.username %></h4>
                      <p class="text-secondary mb-1">Ruby, HTML, CSS.</p>
                      <p class="text-muted font-size-sm">London, UK</p>
                      <button class="btn btn-primary">Add Friend</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /GITHUB AREA IF I WANT
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div>
              -->
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <%= @user.full_name %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @user.email%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                         <%= @user.mobile%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <%= @user.address%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">URL</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      https://www.acebook.com/users/<%= @user.id %>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        
                  </div>
              </div>
            </div>
          </div>
          <div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">

                
                  
                <!-- BEGIN profile-header-tab -->
                  <div class="container">
                    <div>
                      <ul class="profile-header-tab nav nav-tabs">
                        <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
                        <li class="nav-item"><a href="#profile-posts" class="nav-link" data-toggle="tab">POSTS</a></li>
                    </ul>
                  </div>
                  <div class="tab-content">

                  <div class="tab-pane fade" id="profile-posts">
                     <h1>Posts</h1>
                     <% if session[:user]["id"] == @user.id %>
                        <%= render "shared/add_post" %>
                     <% end %>
                     <div id="posts">
                        <%= render partial: @posts, locals: { depth: 1 } %>
                     </div>
                  </div> 
                  <div class="tab-pane active" id="profile-friends">  
                  <!-- end profile -->
                  <!-- begin profile-content -->
                  <div class="profile-content">
                     <!-- begin tab-content -->
                     <div class="tab-content p-0">
                        <!-- begin #profile-friends tab -->
                        <div class="tab-pane fade in active show" id="profile-friends">
                           <h4 class="m-t-0 m-b-20">Friend List (14)</h4>
                           <!-- begin row -->
                           <div class="row row-space-2">
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">James Pittman</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                             <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Mitchell Ashcroft</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Ella Cabena</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                             <ul class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, -2px, 0px);">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Declan Dyson</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">George Seyler</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Patrick Musgrove</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Taj Connal</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Laura Pollock</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Dakota Mannix</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Timothy Woolley</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Benjamin Congreve</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Mariam Maddock</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Blake Gerrald</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <!-- end col-6 -->
                              <!-- begin col-6 -->
                              <div class="col-md-6 m-b-2">
                                 <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                       <a class="media-left" href="javascript:;">
                                       <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="media-object img-circle">
                                       </a>
                                       <div class="media-body valign-middle">
                                          <b class="text-inverse">Gabrielle Bunton</b>
                                       </div>
                                       <div class="media-body valign-middle text-right overflow-visible">
                                          <div class="btn-group dropdown">
                                             <a href="javascript:;" class="btn btn-default">Friends</a>
                                             <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                             <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:;">Action 1</a></li>
                                                <li><a href="javascript:;">Action 2</a></li>
                                                <li><a href="javascript:;">Action 3</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:;">Action 4</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end col-6 -->
                           </div>
                           <!-- end row -->
                        </div>
                        <!-- end #profile-friends tab -->
                     </div>
                     <!-- end tab-content -->
                  </div>
                  <!-- end profile-content -->
               </div>
            </div>
         </div>
      </div>
      </div>
   </div>
</div

        </div>
    </div>