<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">My Profile</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div> -->
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Username:</td>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <td>First name:</td>
              <td><%= @user.firstname %></td>
            </tr>
            <tr>
              <td>Last name:</td>
              <td><%= @user.lastname %></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td><%= @user.birthday %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Bio</td>
              <td><%= @user.bio %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 <div class="panel-footer">
    <span class="pull-right">
        <a href="edit.html" type="button" class="btn btn">Edit</a>
        <a href="????" type="button" class="btn btn">Delete</a>
    </span>
  </div>

  <div id="your-friends">
    <br>
    <h3>Your friends: </h3>
    <hr>
    <% @friends.each do |friend| %>
      <p>
      (*v*)
      <%= "#{friend.firstname} #{friend.lastname}" %>
      <%= link_to "unfriend","#" %>
      </p>
    <% end %>
  </div>
