<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <div class="center">
   <h1><%= @user.name.to_s.capitalize %>'s Posts</h1>
    </div>
  </div>
</div>


<% if @user_posts.length > 0 %>
   <% @user_posts.each do |post| %>
   <div class="neonBox">
     <div class="alert alert-custom" role="alert">
       <%= simple_format(post.message) %>
       <p class="timestamppost"> You <%= post.created_at.strftime("posted on %m/%d/%Y at %I:%M%p")%> </p>
       <% if post.likes.count > 0 %>
         <p><%= post.likes.count %> <%= '🦎' %></p>
       <% end %>
       <%= button_to "Edit Post", edit_post_path(post), method: :get, class: "postbuttons", id: "editpost" %>
       <%= button_to "Delete Post", post_path(post), method: :delete, class: "postbuttons", id: "deletepost",
       data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="neonBox">
    <div class="alert alert-custom" role="alert">
      <p>You haven't posted yet! Why not make a post now?</p>
      <%= button_to "Make a post", new_post_path, method: :get, class: "newpostbutton" %>
      </div>
  </div>
  <% end %>
