<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/posts">AceBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to('My Profile', user_path(current_user), method: :get) %>
      </li>
      <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>

    </ul>
  </div>
</nav>
<div class="container-fluid">
<h5>Hello <%= @user.username %>. You are now signed in!</h5>
<ul class="list-group">
<% @user_posts.each do |post| %>
  <li class="list-group-item"> <%= post.message %> | <%= post.created_at.strftime("%m/%d/%Y") %> </li>
<% end %>
</ul>
</div>
