Hello, <%= @user.email %>
<br>
<% @userposts.reverse.each do |post| %>
  <p><%= simple_format(post.message) %></p>
  <p><%= post.created_at.strftime("Posted on %d/%m/%Y") %></p>
  <p><%= link_to 'Edit', edit_post_path(post) %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
