<div class="text-center">
  <h1><%= @user.email %> wall</h1>
</div>
<% if notice %>
  <%= notice %>
<% end %>
<% if @user.id == session[:user_id] %>
  <h2 class="h3 mb-3 font-weight-normal">Add a post:</h2>
  <%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
    <%= form.label :message %><br>
    <%= form.text_area :message, class: 'form-control', required: true%>
    <br>
    <%= form.submit 'Add post', class: 'btn btn-lg btn-primary' %>
  <% end %>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>
<% @posts.each do |post| %>
  <div class="container p-3 my-3 border shadow">
    <strong><%= post.user.email %>:</strong>
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime("%H:%M:%S - %d/%m/%Y") %>
    <%= link_to 'Delete', user_path(post),
    method: :delete %>
    <%= link_to 'Edit', edit_post_path(post), controller: 'posts'%>
  </p>
</div>
<% end %>
