<%= render 'layouts/navbar' %>

<h2 class="center"><%= @user.first_name %> <%= @user.last_name %>'s wall</h2>

<div class="form-group">
  <%= form_with scope: :post, url: posts_path, local: true do |form| %>
    <p>
      <%= form.label 'Add a Post' %><br>
      <div id="textarea">
      <%= form.text_area :message, class: "form-control width: 50%" %><br>
      </div>
      <%= form.hidden_field :recipient_id, :value => params[:id] %>
    </p>
    <p>
      <%= form.submit "Post!", class: "btn btn-info" %>
    </p>
  <% end %>
  <br>
  <h4 id="title">All Posts</h4>
  <div>
    <% @posts.each do |post| %>
      <div id="holder">
        <p> <%= post.message %> </p>
        <% sender = User.find_by(id: post.user_id) %>
        <p><%= link_to "#{sender.first_name + ' ' + sender.last_name}",
                user_path(sender) %>: <%= post.time_stamp %></p>
        <% if post.editable? %>
          <%= link_to 'Edit', edit_post_path(post) %>
        <% end %>
        <% if session[:user_id] == post.user_id || session[:user_id] == post.recipient_id %>
          <%= link_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= link_to "Comments (#{post.comments.length})", post_path(post) %>
      </div>
      <br>
    <% end %>
  </div>
</div>

</div>



<%# <div class="container">
  <%= link_to new_post_path do %>
    <%# <div class="btn btn-info btn-lg"> %>
      <%# New post %>
    <%# </div> %>
  <%# <% end %>
<%# </div> %>
<%# <br> %>
