<table>
  <tr>
    <td>
      <p><%= image_tag(@user.get_photo(@user.id), style:'width:100px') %></p>
    </td>
    <td>
      <h1><%= @user.first_name + " " + @user.last_name %>'s Profile</h1>
    </td>
</table>

<h3><%= @user.first_name %>'s Albums</h3>

<% @albums.each do |album| %>

  <%= link_to(album) do %>
    <h4><%= album.title %></h4>
    <%= image_tag(@photos.first.image.url, width:'160px') %>
  <% end %>
<% end %>

<br>
<% if @user.id == current_user.id %>
  <%= link_to 'New post', new_post_path %>
<% end %>


<h3><%= @user.first_name %>'s Posts</h3>

<%= form_for @post, html: {multipart: true} do |form| %>
  <p><%= form.label :message %></p>
  <p>
  <%= form.text_area :message, :cols => 40, :rows => 5 %>
  </p>
  <p><%= form.file_field :image %></p>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <% if post.user_id == @user.id %>
  <p id="post-id-<%= post.id %>"><%= simple_format(post.message) %></p>
    <% unless post.get_photo(post.id).nil? %>
      <%= image_tag(post.get_photo(post.id).image.url, style:'width:50%') %>
    <% end %>
   
    <p><%= @user.first_name + ' ' + @user.last_name %></p>
    <p><%= post.created_at.strftime("%e %b %Y %H:%M") %></p>

    <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_likes_path(post), method: :post %>
      <% end %>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <% end %>

<table>
  <tbody>
    <tr>
      <% if current_user.id == post.user_id %>
      <p><td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete%></td></p>
      <% end %>
    </tr>
  </tbody>
</table>



<% end %>
