<%= link_to 'User Wall', user_session_path(@users) %>

<div class="user">
  <h2>Welcome to <%=@user.email %>'s wall</h2>
  <br>
  <br>
  <%= link_to new_post_path(id: @user.id) do %>
  New post
  <% end %>
  <% @usersposts.reverse.each do |post| %>
  <p><%= post.message %>: posted at <%= post.created_at.strftime('%l:%M%P %-d-%B-%Y') %>
  </p>
  <%= link_to 'Edit', edit_post_path(post) %>
  |
  <%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

</div>
