<h1>
  <%= image_tag(@user.avatar, size: "300x300") %>
  <%= @user.name.capitalize + "'s Profile" %>
</h1>
<%= link_to "Edit", edit_user_path(@user) %>
<h3>
  <%= @user.email %>
  <% if @posts %>
    <ul><% @posts.each do |message| %>
      <li>
        <%= "#{message.message}" %>
      </li>
    <% end %>
    </ul>
  <% end %>

</h3>
