<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
      <ul class="list-inline">
        <li><% provide(:title, @user.firstname) %></li>
        <li>
          <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar, :class => "avatar") %>
          <% else %>
            <%= image_tag('halo.jpg', :class => "avatar") %>
          <% end  %>
        </li>
        <li><strong>Name: </strong><%= @user.firstname %></li>
        <li><strong>Lastname: </strong><%= @user.lastname %></li>
        <li><strong>Email: </strong><%= @user.email %></li>
        <li><strong>Member since: </strong><%= @user.created_at.strftime("%d %B %Y") %></li>
        <li><strong>Last Updated: </strong><%= @user.updated_at.strftime("%d %B %Y")%></li>
        <br>
        <li><%= link_to "New post", new_post_path, type: "button", class: "btn btn-primary" %></li>
      </ul>

      <% @posts.each do |post| %>
         <div class="well">
           <div class="time_since_post"><%= "Created: #{time_since_post(post)}" %></div>

           <% if current_user == post.user && post.less_than_10_minutes_ago  %>
             <p><%= best_in_place post, :message  %></p>
           <% else %>
             <p><%= post.message %></p>
           <% end %>

           <a href="#" role="button" class="btn" data-toggle="modal" data-target="#<%=post.id%>ModalCenter">Read<a>
            <div class="modal fade" id="<%=post.id%>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <%= post.message %>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
           </div>
       </div>
       <% if current_user == (post.user) %>
        <%= link_to 'Delete', post_path(post), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?"} %>
       <%end%>
     <%end%>
       <br>
     </div>
  </body>
</html>
