<p id="notice"><%= notice %></p>
<% if @user.photo.attached? %>
  <%= image_tag(@user.photo, size: '100x100') %>
<% else %>
  <%= image_tag("avatar.png", size: '50x50')%>
<% end %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', root_url %>
