<p id="notice"><%= notice %></p>

<%= image_tag(@user.photo, width: 200) if @user.photo.attached? %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', root_url %>
