<<<<<<< HEAD

<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
  <div class="container">
    <div class="row center">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
    </div>
  </div>

  <div class="center text-block">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %>
  |
  <%= link_to 'Back', users_path %>
  </div>
=======
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
>>>>>>> master
