

<div class='content profil-content'>
  <div class='profile-user-info'>
    <h1>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </h1>
    <h3> <%= @user.username %> </h3>
  </div>

  <div class='profile-posts'>
    <%= render partial: 'posts/form' %>
    <%= render partial: 'posts/display_posts' %>
  </div>
</div>
