<center>
<h1><%= @user.username %>'s Timeline</h1>
<br>
 <%= link_to new_post_path do %>
    <h3>New post</h3>
  <% end %>
<% @posts.reverse.each do |post| %>
    <h2><%= simple_format(post.message) %></h2>
    <h5>Posted by <%= post.user.username %> on <%= post.created_at.strftime('%d-%m-%Y at %H:%M') %></h5>
    <% if current_user == post.user%>
     <p><%= link_to 'Delete', destroy_post_path(id: post.id), method: :delete %>
      <% if Time.now - post.created_at < 600 %>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <% end %>
      <% end %>
      <%= commontator_thread(post) %>
      <p>-------------------------<p>
    <%end%>
    </center>
