<h1><%= @user.name%></h1>

<% if (@user.friendships.map{|f| f.friend.name} + @user.inverse_friends.map{|f| f.name}).include? current_user.name %>
  <a rel="nofollow" data-method="delete" href="/friendships/<%=@friendship.pluck(:id)[0]%>">remove</a>
<% else %>
  <%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
<% end %>

<p><%= link_to "Find Friends", user_path(@user) %></p>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= friendship.friend.name %>
    <a rel="nofollow" data-method="delete" href="/friendships/<%=friendship.id%>">remove</a>
  </li>
  <% end %>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%= user.name %>
  <% end %>
  </li>
</ul>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a id="profile-pic" href=<%= edit_user_path(@user) %>>
          <img class="img-thumbnail" src=<%= @user.profilepic %> style="height: 175px; width: 175px" >
        </a>
      </div>
      <div class="col-8">
        <% @posts.each do |post| %>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= post.user.name%></h5>
              <p class="card-text"><%= link_to simple_format(post.content), post%></p>
              <h6 class="card-subtitle mb-2 text-muted">
                <%=post.updated_at.strftime("%B %d at %I:%M%p")%>
              </h6>
              <%= link_to 'Edit', edit_post_path(post.id), class: 'card-link' %>
              <%= link_to 'Delete', post_path(post.id), method: :delete, class: 'card-link' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
