<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <style>
      * {
        font-family: <%= @user.font_family %>
      }

      body {
        background-color: <%= @user.background_colour %>
      }
    </style>

    <title></title>
  </head>
  <body style=>
    <div class="container" style="padding-top:20px">
      <div class="row">
        <div class="col-12" style="padding-right:25px; margin-bottom:35px">
          <div class="card" style="width: 100%; height:400px">
            <img class="card-img-top" src="https://www.tnaqua.org/images/uploads/blog/Madagascar_Giant_Day_Gecko_002_blog_image.jpg">
            <div class="card-body">
              <h2 class="card-text" style="font-family:<%= @user.font_family %>"><%= @user.full_name %></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">


<!-- user information section -->

        <div class="col-4"  style="background-color: rgba(0,0,0,.1); padding-bottom:15px">
          <br><h5 style="text-align:center">Profile Information</h5><br>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="<%= @user.profile_picture %>" height="150px" style="display:block; margin-left:auto;
margin-right:auto; width:50%; border-radius:50%; margin-top:15px; margin-bottom:15px"></li>
            <li class="list-group-item">
              <b>Name:</b>
              <%= @user.full_name %></li>
            <li class="list-group-item">
              <b>Username:</b>
              <%= @user.username %></li>
            <li class="list-group-item">
              <b>Email:</b>
              <%= @user.email %></li>
            <li class="list-group-item">
              <b>Birthday:</b>
              <%= @user.birthday %></li>
            <li class="list-group-item">
              <b>Species:</b>
              <%= @user.lizard_species %></li>
            </ul>

            <ul style="margin-top: 25px" class="list-group list-group-flush">
            <li class="list-group-item">

            <b>Settings:</b><br>

            <%= render template: "/users/edit"%></li>
          </ul>
        </div>
        <div class="col-8">

<!-- post on user's wall form -->
          <div class="card">
            <h5 class="card-header">What's on your mind?</h5>
            <div class="card-body">
              <%= render template: "posts/new" %>

            </div>
          </div>


<!-- list of posts -->

          <br><h5 style="padding-left:10px">Recent Posts</h5><br>

          <ul class="list-group list-group-flush">


<!-- post list starts here -->
            <% @posts.reverse.each do |post| %>

              <% if post.receiver_id == @user.id %>
                <!-- this is the html for a single post -->
                <li class="list-group-item">
                <img src="<%= post.user.profile_picture %>" height="50px" width="50px" style="border-radius:50%; margin-top:15px; margin-bottom:15px"><span style="text-decoration:underline">
                    <a href="/users/<%= post.user.id %>" style="color:rgba(47,79,79,0.8); margin-left:10px; font-weight:bold"><%= post.user.username %></a></span>
                <p style="margin-top:20px; margin-bottom:20px"><%= simple_format post.content %></p>
                <div style="text-align:right">
                  <div style="font-size:12px; color:grey; text-align:right">
                    <%= time_ago_in_words(post.updated_at) %> ago <br>
                    <%= post.created_at.strftime("%H:%M %a %e %b %Y") %> <br>

                  </div>
                  <br>
                  <div class="edit-delete">

<!-- like button -->
                    <% @post_id = post.id %>
                    <% unless @like = Like.exists?(post.id, session[:user_id]) %>
                      <%= render template: "likes/new" %>
                    <% else %>
                      <%= link_to '👎', @like, :method => :delete, class: "btn btn-outline-primary" %>
                      <br>
                    <% end %>


<!-- edit and delete controls -->
                    <% session[:path] = request.path %>
                    <% if post.user_id == session[:user_id] && Time.now - post.updated_at < 600 %>
                      <%= link_to "Edit", edit_post_path(post) %> |
                    <% elsif Time.now - post.updated_at < 600 %>
                      <a href="#" onclick="alert('Cant do that, this post does not belong to you!');">Edit</a> |
                    <% else %>
                      Cannot Edit |
                    <% end %>
                    <% if post.user_id == session[:user_id] %>
                      <%= link_to 'Delete', post, :method => :delete, data: {:confirm => "Are you sure?"} %>
                    <% else %>
                      <a href="#" onclick="alert('Cant do that, this post does not belong to you!');">Delete</a>
                    <% end %>
                  </div>
                </div>

  <!-- like information -->
                  <span style="color:grey"><%= post.likes.length %> licks</span>
                  <br>
                  <% unless post.likes.length == 0 %>
                    <span style="color:grey">LICKED BY: <%= post.users.map { |x| x.username }.join(", ") %></span>
                  <% end %>

<!-- comment section starts here (starts with input box) -->
                  <% @post_id = post.id %>
                  <%= render template: "comments/new" %>




<!-- single post html ends above this line -->

                <!-- list of comments for current post -->
                <ul style="list-style-type:none">
                  <% post.comments.each do |comment| %>
                    <li class="com-div">
                      <%= comment.user.username %>: <b><%= comment.text %></b>

                      <!-- comment likes and unlikes -->
                      | <span style="color:grey"> <%= comment.comment_likes.length %> licks |</span>
                      <% unless @comment_like = CommentLike.exists?(comment.id, session[:user_id]) %>
                        <%= link_to 'Lick', new_comment_like_path(comment_id: comment.id.to_s, redirect: request.path) %>
                      <% else %>
                        <%= link_to 'Unlick', @comment_like, :method => :delete %>
                      <% end %>
                      <br>

                      <!-- comment information and edit controls -->
                      <p style="font-size:13px">
                        <% if comment.created_at != comment.updated_at %>
                          edited:
                        <% end %>
                        <%= time_ago_in_words(comment.updated_at) %> ago |
                        <%= comment.created_at.strftime("%H:%M %a %e %b %Y") %> |
                        <% if comment.user.id == session[:user_id] && Time.now - comment.updated_at < 600 %>
                          <%= link_to 'Edit Comment', edit_comment_path(comment)%> |
                        <% elsif Time.now - comment.updated_at < 600 %>
                          <a href="#" onclick="alert('Cant do that, this comment does not belong to you!');">Edit Comment</a> |
                        <% else %>
                          Cannot Edit |
                        <% end %>
                        <% if comment.user.id == session[:user_id] %>
                          <%= link_to 'Delete Comment', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% else %>
                          <a href="#" onclick="alert('Cant do that, this comment does not belong to you!');">Delete Comment</a>
                        <% end %>
                      </p>
                    </li>
                  <% end %>
                </ul>
              </li>
              <!-- single post html ends above this line -->

            <% end %>
            <% end %>
<!-- list of posts ends above this line -->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
