<%= link_to 'See all posts', posts_path %>
    <l1 style="padding: 20px"> </l1>
    <%= link_to 'Add new post', new_post_path %>
        <div class=" text-center">

            <h1>
                <%= image_tag(@user.avatar, style:'width:5%') if @user.avatar.attached?%>
                    <p>
                        <%=@user.username%> wall:
                    </p>
            </h1>
            <p>
                <br>
                <br>
                <br>
                <br>
        </div>

        <ul class="list-group">
            <% @posts.each do |post|%>
                <li class="list-group-item list-group-item-dark text-center" style="padding: 20px; max-width: 50vw; margin: 0 auto">
                    <%=post.message%>
                        <%= link_to 'Edit', edit_post_path(post) if current_user.id == post.user_id  %>
                            <%= link_to 'Delete', post_path(post),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
                                <%end%>
        </ul>