

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= User.find(params[:id]).name %>'s Profile</h1>
  </div>
</div>

 <div class="container">
    <div class="row">
      <div class="col-3">
       <% profilepicture = Profilepicture.where(:user_id => User.find(params[:id]))%>
        <% if profilepicture.last != nil %>
          <%= image_tag(profilepicture.last.image, style:'width:100%', class:"rounded") %>
        <% else %>
          <img src="https://merriam-webster.com/assets/mw/images/article/art-wap-landing-mp-lg/egg-3442-4c317615ec1fd800728672f2c168aca5@1x.jpg" style="width:100%">
        <%end%>
        <br>
        <% if @profilepicture != [] %>
          <% if @profilepicture.last.user.id == @current_user.id %>
            <%= link_to 'Edit', edit_profilepicture_path %>
            <%= link_to 'Destroy', @profilepicture.last, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Upload a new profile picture!', new_profilepicture_path %>
          <% end %>
        <% else %>
          <%= link_to 'Upload a new profile picture!', new_profilepicture_path %>
       <% end %>
      </div>
      <div class="col-9">
       <h3>Click album to view all photos</h3>
        <% @albums.each do | album | %>
        <h4><%= album.caption %></h4>
        <p>    
          <div style="width:200px; height:auto" class="mx-auto">
            <a href="/albums/<%= album.id%>"><%= image_tag(album.images[0], style:'width:100%') %></a>
          </div>
          + <%= album.images.length - 1%> more..
        </p>
        
        <% end %>
 
      </div>
    </div>
 </div>
  
