<div class="container" style="padding-top: 100px">
  <div class="columns">
    <div class="column col-3 centered">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title h3">
            Forgot your password?
          </div>
        </div>

        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'form-label'%>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input'%>
            </div>

            <div class="actions" style="padding-top:10px">
              <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block'%>
            </div>
          <% end %>
        </div>

        <div class="panel-footer">
          <div class="divider"></div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
