<div class="container">
<br>
<h2>Forgot your password?</h2>
<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field input-group mb-4">
  <%= f.label :username, class:"input-group-text", id:"basic-addon1"%>
    <%= f.text_field :username, class:"form-control" %>
  </div>

  <div class="field input-group mb-4">
    <%= f.label :email, class:"input-group-text", id:"basic-addon1"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-primary" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

</div>