<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', home_index_path, class: 'columns mt-4 mr-3 is-family-code has-text-info-dark' %>
      </a>

      <a class="navbar-item">
        <%= link_to 'Timeline', posts_path, class: 'columns mt-4 mr-3 is-family-code has-text-info-dark' %>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-family-code has-text-info-dark">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item is-family-code has-text-info-dark">
            Profile
          </a>
          <a class="navbar-item is-family-code has-text-info-dark">
            User Settings
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'User Settings', edit_user_registration_path, class: 'is-family-code button is-info' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'is-family-code button is-info' %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, class: 'is-family-code button is-info' %>
            <%= link_to 'Sign In', new_user_session_path, class: 'is-family-code button is-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
