<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <a href="https://imgur.com/ISUGNRh"></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', home_index_path, class: 'columns mt-4 mr-3 is-family-code has-text-info-dark navbar-item' %>

      <%= link_to 'Timeline', posts_path, class: 'columns mt-4 mr-3 is-family-code has-text-info-dark navbar-item' %>

      <div class="navbar-item has-dropdown is-hoverable mt-1" style="left: -11px; top: -1px">
        <a class="navbar-link is-family-code has-text-info-dark">
          More
        </a>

        <div class="navbar-dropdown">
            <% if current_user == nil %>
              <%= link_to 'Profile', posts_path, class: 'navbar-item mt-4 is-family-code has-text-info-dark' %>
            <% else %>
              <%= link_to 'Profile', custom_user_posts_path(current_user.id), class: 'navbar-item mt-4 is-family-code has-text-info-dark' %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'User Settings', edit_user_registration_path, class: 'is-family-code button is-info' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'is-family-code button is-info' %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, class: 'is-family-code button is-info' %>
            <%= link_to 'Sign In', new_user_session_path, class: 'is-family-code button is-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

