<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3><%= link_to "AceBook", root_path %></h3>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <%= link_to "Home", root_path, class: "mdl-layout__tab" %>
    <a href="#overview" class="mdl-layout__tab is-active">About</a>
    <% if Current.user %>
      <%= link_to "Log Out", logout_path, method: :delete, class: "mdl-layout__tab" %>
      <%= link_to "User: " + Current.user.first_name, root_path, class: "mdl-layout__tab" %>
    <% else %>
      <%= link_to "Sign Up", sign_up_path, class: "mdl-layout__tab" %>
      <%= link_to "Log In", sign_in_path, class: "mdl-layout__tab" %>
    <% end %>

    <!-- <%= button_to new_post_path, method: :post, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" %> -->
<%= link_to new_post_path do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
      <i class="material-icons" role="presentation">add</i>
      <span class="visuallyhidden">Add</span>
    </button>
<% end %>
  </div>
</header>

<!-- <nav class="navbar">
    <%= link_to "AceBook", root_path %>
    <ul class="menu">
      <li class="menu-item"><%= link_to "Home", root_path, class: "menu-item" %></li>
      <% if Current.user %>
        <li>Welcome, <%= Current.user.first_name %>!</li>
        <li><%= button_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", sign_up_path %></li>
        <li><%= link_to "Log In", sign_in_path %></li>
      <% end %>
    </ul>
</nav> -->
