<% @posts.reverse.each do |post| %>
  <div style="padding-bottom: 7.5px;">
    <div class="card">
        <div style="padding: 20px;">
          <% if post.user.id == post.wall.id %>
            <strong>
              <%= link_to post.user.real_name, user_path(post.user) %>
            </strong>
            <br/>
          <% else %>
            <strong>
              <%= link_to post.user.real_name, user_path(post.user) %>
            </strong> ☞
            <strong>
              <%= link_to post.wall.user.real_name, user_path(post.wall.user) %>
            </strong>
            <br/>
          <% end %>
        <small><%= time_ago_in_words(post.created_at)%> ago.</small>

        <p><%= simple_format(post.message) %></p>

          <%= div_for post do %>
            <%= render partial: "likes/like_button", locals: { post: post } %>
          <% end %>
        <% if user_signed_in? && current_user == post.user %>
          <%= link_to 'Delete', post_path(post), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
