<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id:"email" %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password, id:"password" %>
  </p>
 
  <p>
    <%= form.submit id:"submit" %>
  </p>
<% end %>