

<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <%= link_to "Ace-Book by AmoebaBoyz", root_url, class: "navbar-brand" %>
   </div>
   <div class="collapse navbar-collapse" id="navbar-top">
     <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
       <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
       <%= link_to 'New post', new_post_path %>
       <h1>Your wall</h1>
       <br>
        <% @posts.each do |post| %>
          <% if current_user.id == post.user_id %>
            <li><%= simple_format(post.content) %>&nbsp;<%= post.created_at %></li>
          <% end %>
        <% end %>
         <li><%= link_to 'All posts', posts_path %></li>
       <% else %>
         <li><%= link_to 'Sign up', new_user_registration_path %></li>
         <li><%= link_to 'Sign in', user_session_path %></li>
       <% end %>
     </ul>
   </div>
 </div>
</nav>

