<h1>Welcome</h1>
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to “Log Out”, logout_path %>
  <% else %>
    <%= link_to “Sign Up”, users_path %> or 
    <%= link_to “Log In”, login_path %>
  <% end %>

<p id=”notice”><%= notice %></p>

<h1>Example</h1>
<p>Lorem ipsum …</p>
