<div class="jumbotron">
  <h1>Acebook</h1>
  <p>Welcome to Acebook</p>
</div>
<%= form_with do %>
<label>Email</label>
<%= email_field(:user, :address) %>
<label>Password</label>
<%= password_field_tag(:password) %>
<%= submit_tag(:LogIn) %>
<% end %>

<div>
<%= form_with do %>
<%= button_to "Sign Up" %>
<% end %>
</div>
