<div class="jumbotron">
  <h1>Acebook</h1>
  <p>Welcome to Acebook</p>
</div>
<%= form_with scope: :session, url: sessions_path, local: true do %>
  <%= label :email, "Email" %>
  <%= email_field(:user, :address) %>
  <%= label :password, "Password" %>
  <%= password_field_tag(:password) %>
  <%= submit_tag "Log In" %>
<% end %>

<div>
<%= form_with do %>
  <%= button_to "Sign Up" %> 
<% end %>
</div>
