<%# Friendships controller: Requests: @friends %>

<% friends.each do |user| %>
    
    <%# List current_users friends  %>
  <a href="/users/<%=user.id%>"><%= user.first_name %> <%= user.last_name %></a> 
   
  <%# Allows current_user to unfriend a user  %>
  <%= link_to unfriend_friendship_path(user.id), method: :put do %> 
    <button type="button" class="btn btn-secondary btn-sm">Unfriend</button> 
  <% end %>

<%# Allows current_user to block a friended user %>
  <%= link_to block_friendship_path(user.id), method: :put do %> 
    <button type="button" class="btn btn-danger btn-sm">Block</button> 
  <% end %>
          
<% end %>