<%# Friendships controller: Requests: @friends %>

<% friends.each do |user| %>
    
    <%# List current_users friends  %>
    <div class="friends-name"><a href="/users/<%=user.id%>"><%= user.first_name %> <%= user.last_name %></div></a>
   
  <%# Allows current_user to unfriend a user  %>
  <div class="friends-buttons">
  <%= link_to unfriend_friendship_path(user.id), method: :put do %> 
    <button type="button" class="btn btn-secondary btn-sm" style="font-size: 0.6em;">Unfriend</button> 
  <% end %>

<%# Allows current_user to block a friended user %>
  <%= link_to block_friendship_path(user.id), method: :put do %> 
    <button type="button" class="btn btn-danger btn-sm" style="font-size: 0.6em;">Block</button> 
  <% end %></div>         
<% end %>