<%# Friendships controller: Requests: @pending %>

<% pending.each do |user| %>
  
<%# Allows user to accept incoming friend request %>
  <div class="friends-name"><a href="/users/<%=user.id%>   "><%= user.first_name %> <%= user.last_name %></a></div> 
    
    <div class="friends-buttons">
    <%= link_to accept_friendship_path(user.id), method: :put do %> 
      <button type="button" class="btn btn-secondary btn-sm" style="font-size: 0.6em;">Accept</button>
    <%end%>

 <%# Allows user to decline incoming friend request %>
    <%= link_to decline_friendship_path(user.id), method: :put do %>         
      <button type="button" class="btn btn-danger btn-sm" style="font-size: 0.6em;">Decline</button>     
    <% end %>

  <%# Allows user to block incoming friend request user %>
    <%= link_to block_friendship_path(user.id), method: :put do %> 
       <button type="button" class="btn btn-danger btn-sm" style="font-size: 0.6em;">Block</button> 
    <% end %>  </div><br>
<% end %>