<%# Friendships controller: Requests: @pending %>

<% pending.each do |user| %>
  
  <a href="/users/<%=user.id%>   "><%= user.first_name %> <%= user.last_name %></a> 
    
    <%# Allows user to accept incoming friend request %>
    <%= link_to accept_friendship_path(user.id), method: :put do %> 
      <button type="button" class="btn btn-secondary btn-sm">Accept</button>
    <%end%>

 <%# Allows user to decline incoming friend request %>
    <%= link_to decline_friendship_path(user.id), method: :put do %>         
      <button type="button" class="btn btn-danger btn-sm">Decline</button>      
    <% end %>

  <%# Allows user to block incoming friend request user %>
    <%= link_to block_friendship_path(user.id), method: :put do %> 
       <button type="button" class="btn btn-danger btn-sm">Block</button>
    <% end %>      
<% end %>