 <div class="jumbotron jumbotron-fluid "  style="background-image: url(https://d16yj43vx3i1f6.cloudfront.net/uploads/2020/10/Diversity.jpg); background-size: 100%; background-position-y: 5%;">
  <div class="container">
    <h1 class="display-4  text-white">Friends</h1>
    <%# <p class="lead">Request new friends</p> %>
  </div>
</div>

 
 <% # Displays the list of friends of both relationships if status equals to true %>
 <h2> Your List of Friends</h2>

<% @friendships.each do |friendship| %>
  <% if friendship.status === 't' %>
      <ul>
        <li><%= friendship.status %></li>
        <li><%= friendship.friend.username %></li>
      </ul>
  <% end %>
<% end %>

<% @inversefriendships.each do |friendship| %>
  <% if friendship.status === 't' %>
      <ul>
        <li><%= friendship.status %></li>
        <li><%= friendship.user.username %></li>
      </ul>
<% end %>
<% end %>

<% ###################################################### %>

<% # Displays friends you requested if you made the requested %>
<% # Displays another view for user who received friend request %>

<h2> Friends You Requested - Still Pending</h2>
<% @friendships.each do |friendship| %>
  <% if current_user.id != friendship.friend.id %>
      <ul>
        <li><%= friendship.status %></li>
        <li><%= friendship.friend.username %></li>
      </ul>
  <% end %>
<% end %>


 <% @inversefriendships.each do |friendship| %>
  <% if current_user.id === friendship.friend.id && friendship.status != 't' || current_user.id === friendship.friend.id && friendship.status === 'f' %>
    <h2> Friend Requests You Recieved</h2>
      <ul>
        <li><%= friendship.status %></li>
        <li><%= friendship.user.username %> <%= link_to "Accept Friend", accept_friendship_path(friendship), :method => :put %> <%= link_to "Decline Friend", decline_friendship_path(friendship), :method => :delete %></li>
      </ul>
  <% end %>
<% end %>
