<div class='friendlist'>
  <div class='friends'>
    <h3>Friends...</h3>
    <% @friendships.each do |friendship| %>
        <div class='friend'>
            <p>
            <%= link_to "#{friendship.friend.username}", user_wall_path(friendship.friend.id) %>
            <% if @user.id == current_user.id %>
                <%= link_to "Remove", friendship, :method => :delete%>
            <% end %> 
            <p>
        </div>        
    <% end %>
    <% @inverse_friendships.each do |friendship| %>
        <div class='friend'>
            <p>
            <%= link_to "#{friendship.user.username}", user_wall_path(friendship.user.id) %>
            <% if @user.id == current_user.id %>
                <%= link_to "Remove", friendship, :method => :delete%>
            <% end %>
            <p>
        </div>
    <% end %>
  </div>

<% if @user.id == current_user.id %>
    <div class='non-friends'>
        <h3>People you haven't met...</h3>
        <% @non_friends.each do |user| %>
            <div class='non-friend'>
                <p>
                <%= link_to "#{user.username}", user_wall_path(user.id) %>
                <%= link_to "Add friend", friendships_path(:friend_id => user.id), :method=> :post, :id=> "add_friend_user#{user.id}"   %>
                <p>
            </div>
        <% end %>
    </div>
<% end %>
</div>
