<html>

<head>
<title>About Acebook</title>
<link rel='stylesheet' href=
'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css'>

<!-- font-awesome cdn -->
<script src=
'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
</script>
	

</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="<%= asset_path('logo.png') %>"  >
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
      <a href="http://localhost:3000">Home</a>
      </a>
      <a class="navbar-item"> 
      <a href="http://localhost:3000/pages/about">About</a>
        
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<body>
<div class='container has-text-centered'>
	<div class='columns is-mobile is-centered'>
	<div class='column is-5'>
    <h1 class="title"> About Acebook team </h1>
    <h2> This is a Makers Academy Ruby on rails group project.</h2>
    <br>
    <br>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small><a href="https://github.com/MrsVer">@mrsver</a></small>
                
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>

        <div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small>@mrsver</small>
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>

        <div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small>@mrsver</small>
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>

<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small>@mrsver</small>
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>

        <div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small>@mrsver</small>
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>

        <div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
            <img src="<%= asset_path('about/zsuzsanna_ver.jpg') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small>@mrsver</small>
				<br>
                <br>
				“My mom always said life was like a box of chocolates. You never know what you're gonna get.”
				</p>
			</div>
			</div>
		</article>
		</div>
        <br>
        <br>
	</div>
	</div>
</div>
</body>

</html>
