<body>
<br>
<h1 class="title"> About Soda team </h1>
<h2> This is a Makers Academy Ruby on rails group project.</h2>
<br>
<br>
<div class='container has-text-centered'>
	<div class='columns is-mobile is-centered'>
	<div class='column is-5'>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/cynthia.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Cynthia Fu</strong>
				<small><a href="https://github.com/YinnyF">@YinnyF</a></small>
				<br>
				Hello world!
				</p>
			</div>
			</div>
		</article>
		</div>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/fabio.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Fabio Rodriguez</strong>
				<small><a href="https://github.com/frodri13">@frodri13</a></small>
				<br>
				Hello world!
				</p>
			</div>
			</div>
		</article>
		</div>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/Masako.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Masako Grey</strong>
				<small><a href="https://github.com/1ugia">@1ugia</a></small>
				<br>
				Hello world!
				</p>
			</div>
			</div>
		</article>
		</div>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/merryn.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>	Merryn Hurley-Rawlins</strong>
				<small><a href="https://github.com/merrynhr">@merrynhr</a></small>
				<br>
				Hello world!
				</p>
			</div>
			</div>
		</article>
		</div>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/sean.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>	Sean Phillips</strong>
				<small><a href="https://github.com/SeanEmmers">@SeanEmmers</a></small>
				<br>
				Hello world!
				</p>
			</div>
			</div>
		</article>
		</div>

		<div class="box">
		<article class="media">
			<div class="media-left">
			<figure class="image is-128x128">
				<img class='is-rounded'src="<%= asset_path('about/zsuzsanna.png') %>"  
			</figure>
			</div>
			<div class="media-content">
			<div class="content">
				<p>
				<strong>Zsuzsanna Ver</strong>
				<small><a href="https://github.com/MrsVer">@mrsver</a></small>
				<br>
					<li>Front end with bulma gem</li>
					<li>Add comment function with Ruby on Rails</li>
					<li>About page</li>
					<li>Video editing for the demo</li>
				</p>
			</div>
			</div>
		</article>
		</div>


	<h2> <br>
		<a href="https://trello.com/b/Sj8Qlv4L/team-soda">Trello board</a> and
		<a href="https://github.com/frodri13/acebook-rails-soda">Github repository</a>
	</h2>

	</div>
	</div>
</div>
</body>

