<%# / (homepage) %>

<div id="illustration-block"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= image_tag "front_page_illustration.svg" %>
    </div>
    <div class="col-8">
      <div class="il-text-block">
        <h2 class="white-text">Online Education Platform</h2>
        <p class="white-text">Share your knowledge with others.</p>
        <%= button_to "Register", new_user_url, class: "s-button purple-highlight", method: :get %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mg-med">
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-container">
          <%= image_tag "front_page_share.svg", class: "card-img-top", id: "card-img-share" %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Share</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-container">
          <%= image_tag "front_page_learn.svg", class: "card-img-top", id: "card-img-learn" %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Learn</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-container">
          <%= image_tag "front_page_connect.svg", class: "card-img-top", id: "card-img-connect"  %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Connect</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
