<!DOCTYPE html>
<html lang="en">



<!--  Page header -->
<head>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
<h1 class="username"><%= @username %></h1>
<div><%= link_to "Acebook", posts_path, class: "title no-underline " %></div>

<!--  Write new post button -->
<center>
  <form action="/posts/new" method="GET">
    <button style="background-color:#643F47; color: white; padding: 15px 32px; text-align: center;">
      WRITE NEW POST
    </button>
  </form>
</center>


<!--  Separate posts with outline boxes -->
<div>

  <% @posts.each do |post| %>
    <div class="post-box">
      <p class="user-name"><%= post.user.username if post.user %></p>
      <div class="post-message"><%= simple_format(post.message).html_safe %></div> <!--  This allows multiple lines (paragraphs to be entered while writing the post message)  -->
    </div>
  <% end %>

</div>


</body>
</html>


<!--  Formatting for each class -->
<style>

body {
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    background-color: #191B1E;
}

.custom-btn{
    background-color:#643F47; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
}

.username {
    color: #C28A6A;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.title {
    color: #C28A6A;
    font-size: 40px;
    padding: 10px;
}

.post-box {
    border-color: white;
    border-width: thin;
    border-style: solid;
    color: white;
    margin: 20px; /*Adds spacing between posts-boxes*/
    padding: 20px; /*Adds padding to the posts-boxes*/
    border-radius: 15px;
}

.user-name { /*this will separate the 'username' from the post-box and aligns it on the left top corner */
  margin: 0; 
  padding: 5px; 
  font-weight: bold;
  text-align: left; 
}

.post-message { /*this will separate the 'post-message' from the post-box and center it */
  margin: 0; 
  padding: 10px; 
  text-align: center;
}

.btn{
  width: 80%;
  background-color: #643F47;
  color: white;
}
.btn:hover {
  background-color: #C28A6A; /* Change to your desired hover background color */
  color: #fff; /* Change to your desired hover text color */
}
.no-underline {
  text-decoration: none;
}
</style>

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>

