<%= stylesheet_link_tag "application" %>
<%= flash[:notice] %>
<h1><%=@user.email%></h1>

<%= form_for :post, url: '/walls', method: :post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Post" %>
<% end %>

<% @posts.each do |post| %>
  <article id="<%= post.id %>">


  <p><%= post.message %> by <%= post.user.email %> </p>

  <%  if current_user == post.user %>
  <%= button_to "Delete", {
    :controller => :posts,
    :action => 'destroy',
    :id => post.id
    }, :method => :delete %>
    <%end%>
    </article>

  <p class="date"><%= post.date %></p>
  <%= button_to "Update", "/posts/#{post.id}/edit", method: :get  %>
<% end %>

<%= button_to "Log out", destroy_user_session_path, method: :delete  %>
