<%= stylesheet_link_tag "application" %>
<%= flash[:notice] %>
<h1><%=@user.email%></h1>

<%= form_for :post, url: '/walls', method: :post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Post" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %> by <%= post.user.email %> </p>
  <form>
    <input type="submit" name="Delete" value="Delete">
  </form>
<% end %>

<%= button_to "Log out", destroy_user_session_path, method: :delete  %>
