<h1><%=@wall.user.username%>'s Wall </h1>

 <div class="wall_logout_button"
 <%= button_to "Logout", logout_path, method: :delete, class: "buttons" %>
 </div>

 <div class = 'post'>
 <%= render 'form' %>
 </div>

 <div class="message_form_on_wall"
 <%= render 'form' %>
 </div>

 <% @posts.reverse.each do |post| %>
   </br>
   <div class='post'>
     <div class = 'post-message'>
       <h4><%= post.user.username %></h4>
       <h4><%= simple_format post.message %> <%= time_ago_in_words(post.created_at) %> ago</h4>
       <h4><%= link_to 'Show', post_path(post) %>
       <% if post.user_id == session[:user_id] %>
           <% if Time.now - post.created_at < 10.minutes %>
           <%= link_to 'Edit', edit_post_path(post) %>
           <% end %>
           <%= link_to 'Destroy', post_path(post),
           method: :delete,
           data: { confirm: 'Are you sure?' } %>
       <% end %>
       </h4>
    </div>

     <% @post = post %>
     <%= render post.comments %>

     <h4>Add a comment:</h4>
     <%= render 'comments/form' %>
   </div>
   <div class="like_button">
   <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
     <% if pre_like %>
       <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
     <% else %>
       <%= button_to 'Like', post_likes_path(@post), method: :post %>
   <% end %>
   </div>


 <% end %>
 <% @walls.each do |wall| %>
  </br>
  <div class='wall'>
      <h4><%= wall.user.username %></h4>
      <h4><%= link_to 'Show', wall_path(wall) %></h4>
  </div>
  <% end %>

  <% def time_ago_in_words(from_time, include_seconds_or_options = {})
    distance_of_time_in_words(from_time, Time.now, include_seconds_or_options)
    end%>
