<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<% (0...@album.images.count).each do |image| %>
  <%= image_tag(@album.thumbnail(image)) %>
  <% end %>

<br><br>
<%= link_to 'Delete Album', @album, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to "Back to posts", posts_url %>