<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @album.post %>
</p>

<% @album.images.each do |image| %>
<%= image_tag(image, height: '500') %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @album.body %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
