<p id="notice"><%= notice %></p>

<p>
  <% @album.images.each do |image| %>
  <p>
    
    <div style="width:200px; height:auto">
      <%= link_to image_tag(image, style:'width:100%'), image %> <br>
    </div>
  </p>
  <% end %>
</p>
<p>
  <strong>Caption:</strong>
  <%= @album.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.name %>
</p>
<% if @album.user.id == @current_user.id %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'Back', albums_path %>