<p id="notice"><%= notice %></p>

<p>
  <strong>Created by: </strong>
  <%= User.find_by(id: @album.user_id).firstname + " " + User.find_by(id: @album.user_id).surname %>
</p>

<% (0...@album.images.count).each do |image| %>
  <%= image_tag(@album.thumbnail(image)) %>
  <% if @album.user_id == current_user.id %>
    <%= link_to "Remove", delete_image_attachment_album_url(@album.images[image]), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.body %>
</p>

    <span class='parent-likes'>
      <span class="like_count" <% @album.id %> >
        <%= @album.get_likes.size %> &#128077
      </span>

      <a>
        <% if current_user.liked? @album %>
          <div> <%= link_to like_album_path(@album, 'toggle'), class: "liked-button",
          method: :put, remote: :true do %> Liked </div>
          <% end %>
        <% else %>
          <div> <%= link_to like_album_path(@album, 'toggle'), class: "like-button",
            method: :put, remote: :true do %> Like </div>
            <% end %>
        <% end %>
      </a>
    </span>

    <br>

<% if @album.user_id == current_user.id %>
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>
<%= link_to 'Back', albums_path %>
