<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<% (0...@album.images.count).each do |image| %>
  <%= @image.inspect %>
  <%= image_tag(@album.thumbnail(image)) %>
<% end %>

<br><br>
<%= link_to 'Delete Album', destroy_album_path(:user_id => params[:user_id], :id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to "Back to profile", profile_index_path(:id => params[:user_id]) %>