<h1>Write your post here</h1>

<%= form_for [@user, @wallpost] do |form| %>
  <%= form.label :text %>
  <%= form.text_area :text %>

  <%= form.hidden_field :sender_id, value: current_user.id %>

  <%= form.submit "Submit" %>
<% end %>
