<p id="notice"><%= notice %></p>

<h1>Image Posts</h1>

  <tbody>
    <% @image_posts.each do |image_post| %>
      <tr>
        <td><%= image_post.caption %></td>
        <td><%= image_tag image_post.picture_url, width: '50%' if image_post.picture.present? %></td>
      </tr>
      <br>
      <br>
      <br>
      <tr>
        <td><%= link_to 'Edit', edit_image_post_path(image_post) %></td>
        <td><%= link_to 'Destroy', image_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
