<p id="notice"><%= notice %></p>

<h1>Image Posts</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th> Posted at </th>
      <th>Picture</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_posts.each do |image_post| %>
      <tr>
        <td><%= image_post.caption %></td>
        <td><%= image_tag image_post.picture_url, width: '100%' if image_post.picture.present? %></td>
        <td><%= link_to 'Show', image_post %></td>
        <td><%= link_to 'Edit', edit_image_post_path(image_post) %></td>
        <td><%= link_to 'Destroy', image_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>

  </tbody>
</table>
<p>

  </p>
<br>

<%= link_to 'New Image Post', new_image_post_path %>
