<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm">

<div>
<p>
  <strong>Caption:</strong>
  <%= @image_post.caption %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@image_post.picture_url, width: 600) if @image_post.picture.present? %>
</p>

<%= link_to 'Edit', edit_image_post_path(@image_post) %> |
<%= link_to 'Back', image_posts_path %>
</div>

    </div>

    <div class="col-sm">
      <%= render 'image_comments/index' %>
    </div>
  </div>
</div>
