<body class='text-center'>

  <main class="form-signin">

    <%= image_tag('poke-2.png', class: "md-4", style: 'height:100px;width:auto;padding:15px;') %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: 'inputEmail', placeholder: "Email address" %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", id: 'inputPassword' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div >
          <%= f.check_box :remember_me, class: "checkbox mb-3" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div>
        <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary",style: 'background-color:#44d9e6;border-color:#44d9e6'%>
      </div>

    <% end %>
    <br>
    <%= render "devise/shared/links" %>

  </main>

</body>
