
<section class='p-5 text-center text-sm-start'>
   <div id ='signup-containers' class='container'>
      <div id ='signup' class="d-flex align-items-center justify-content-between" style="height: 600px;">
         <div class="m-2">
            <h1 id="title-text" class='m-2 text-primary' style="font-size: 350%;"><strong>catbook</strong></h1>
            <h4 class='m-2'>Catbook helps you connect and share with the felines in your life.</h4>
         </div>
         <div class="text-center">
            <div class="card shadow p-2" style="width: 28rem; height: 23rem">
               <div class="card-body">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field mb-3">
                     <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control p-3", placeholder:"Email address"%>
                  </div>
                  <div class="field mb-3">
                     <%= f.password_field :password, autocomplete: "current-password", class:"form-control p-3", placeholder:"Password" %>
                  </div>
                  <div class="d-grid gap-2">
                     <button type="submit" name="commit" value="Post" class='btn btn-primary btn-lg'>Log In</button>
                  </div>
                  <br>
                  <%= link_to "Forgotten password?", new_password_path(resource_name), class: "text-primary" %>
                  <br>
                  <hr>

                  <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Create New Account
                  </button>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<footer class="footer">
  <div class="d-flex align-items-end justify-content-center" ">
    <p class="text-muted">
      &copy; StringMeAlong - Makers May21
    </p>
  </div>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Sign Up</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= render 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>