<div class="container" style="padding-top: 100px">
  <div class="columns">
    <div class="column col-3 centered">

      <div class="panel">
        <div class="panel-header">
          <div class="panel-title h3">
            Log in to PinkFish
          </div>
        </div>

        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'form-label'%>
              <%= f.password_field :password, autocomplete: "off", class: 'form-input'%>
            </div>

            <% if devise_mapping.rememberable? -%>

              <div class="form-group">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log In", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <div class="divider"></div>
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
</div>
