

  <div class="col-7">
    <%= image_tag("welcome3.png", alt: "welcome", style: "width: 600px;") %>
  </div>
      <div class="col-5">
 
            <div class="sign-up-form p-4 mb-2">
              <h1 >Welcome home!</h1>
              

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-group pt-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control" %>
  </div>

  <div class="form-group ">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="form-check my-2">
      <%= f.check_box :remember_me, class: "form-check-input"%>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>


        </div>
      </div>
