<h1>Fill in the Below to Create your Account<h1>

<%= form_for :user, :url => { :action => "create" } do |f| %>
  <p>
    <%= f.label :Username %><br>
    <%= f.text_field :username, id: "username"%>
  </p>

   <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email, id: "email" %>
  </p>

  <p>
    <%= f.label "First Name" %><br>
    <%= f.text_field :firstname, id: "firstname" %>
  </p>

  <p>
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lastname, id: "lastname" %>
  </p>

  <p>
    <%= f.label :Password %><br>
    <%= f.text_field :password, id: "password"%>
  </p>

  <p>
    <%= f.label "Date Of Birth" %><br>
    <%= f.date_field :dateofbirth, id: "dateofbirth", as: :date, value: f.object.try(:strftime, "%d/%m/%Y"), class: 'form-control' %>
  </p>

  <p> 
  <%= f.submit "Create Account!" %>
  </p>
<% end %>