<%= form_for @avatar, html: { multipart: true } do |f| %>
  <% if @avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
      <% @avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :username, :value => current_user.username %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>

  </div>


    <%= f.submit %>

<% end %>
