<p id="notice"><%= notice %></p>

<h1>Avatars</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avatars.each do |avatar| %>
      <tr>
        <td><%= avatar.username %></td>
        <td><%= image_tag avatar.image.thumb.url %></td>
        <td><%= link_to 'Show', avatar %></td>
        <td><%= link_to 'Edit', edit_avatar_path(avatar) %></td>
        <td><%= link_to 'Destroy', avatar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avatar', new_avatar_path %>
