<%# Individual course %>

<div class="col-12 col-md-6 col-lg-4 align-center">
  <div class="course-index-container" onclick="location.href='<%= course_path(course.id) %>';">
    <div class="img-container">
      <% if course.main_image.attached? %>
        <%= image_tag course.main_image  %>
      <% end %>
    </div>
    <% if course.title.length >= 25 %>
      <h2 class="title"><%= link_to course.title[(0..25)] + "...", course %></a></h2>
    <% else %>
      <h2 class="title"><%= link_to course.title, course_url(course) %></a></h2>
    <% end %>
    <p class="author">
      <b>By </b>
      <%= link_to course.username, user_path(course.user_id) %>
    </p>
    <p class="rating">	
      <% course.rating.to_i.times do %>	
        <%= image_tag "rating_star_y.png", class: 'rating-star' %>	
      <% end %>	
      <% if course.rating == 0 %>	
        <%= "No rating" %>	
      <% end %>	
    </p>
    <p class="desc">
      <% if course.description %>
        <% if course.description.length >= 75 %>
          <%= course.description[(0..75)] + "..." %>
        <% else %>
          <%= course.description %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>