<div align="center">
  <%= form_for @course do |form| %>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <br>
    <%= form.label :description %>
    <br>
    <%= form.text_area :description, rows: "10" %>
    <br>
    <label class="btn p-button btn-file">
      Select course banner
      <%= form.file_field :main_image %> 
    </label>
    <br>
    <hr style="border-color: white; margin: 0;">
    <%= form.submit "Submit", class: "s-button purple-highlight" %>
  <% end %>
</div>
