<%# /courses %>
<br>
<%= link_to "Create new course", new_course_url, class: 'p-button ml-st' %>

<div class="container-fluid">
  <div class="row">
      <% @courses.each_with_index do |course, i| %>
          <div class="col-12 col-md-6 col-lg-4 align-center">
            <div class="course-index-container">
              <div class="img-container">
                <% if course.main_image.attached? %>
                  <%= image_tag course.main_image  %>
                <% end %>
              </div>
              <h2 class="title"><a href="/courses/<%= course.id %>"><%= course.title %></a></h2>
              <p class="author">
                <b>By </b>
                <%= link_to User.find(course.user_id).username, user_path(course.user_id) %>
              </p>
              <p class="rating">
                <% course.rating.times do %>
                  <%= image_tag "rating_star_y.png", class: 'rating-star' %>
                <% end %>
                <% if course.rating == 0 %>
                  <%= "No rating" %>
                <% end %>
              </p>
              <p class="desc">
                <% if course.description %>
                  <% if course.description.length >= 75 %>
                    <%= course.description[(0..75)] + "..." %>
                  <% else %>
                    <%= course.description %>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
      <% end %>
  </div>
</div>
