<%# /courses/:id %>

<div class="container-fluid">
  <div class="row i-purple-cont">
    <div class="col-12">
      <div class="i-course-img-container">
        <% if @course.main_image.attached? %>
          <%= image_tag @course.main_image %>
        <% end %>
      </div>
      <div class="i-course-info">
        <h2><%= @course.title %></h2>
        <p><%= @course.description %></p>
        <a href="<%= user_path(@course.user_id) %>">By <%= @course.get_course_user_name %></a>
        <br>
        Added on <%= @course.created_at.strftime("%B %Y") %>
      </div>
    </div>
  </div>
</div>

<div id="buttons">
  <% if @subscription.valid? %>
    <%= button_to 'Unsubscribe', course_subscription_path(@course, @subscription), method: :delete, class: 'p-button' %>
    <%= render "ratings/rating_form" %>
    <%= link_to "See Posts", course_posts_path(@course) %>
  <% elsif @course.user_id == session[:user_id] %>
    <%= link_to "See Posts", course_posts_path(@course) %>
  <% else %>
    <%= button_to "Subscribe",  course_subscriptions_path(@course, @subscription), method: :create, class: 'p-button' %>
    <p>Please subscribe to see posts</p>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#posts">View Posts</a></li>
  <% if @course.user_id == session[:user_id] %>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit">Edit Course</a></li>
  <% end %>
</ul>
<%# Tabs -> only shows edit  %>

<div class="tab-content">
  
  <div id="course" class="tab-pane active">
    
  </div>
  
  <div id="edit" class="tab-pane">
    <%= render "courses/edit" %>
  </div>
</div>
<%# Render tabs -> edit course %>