<%# /courses/:id %>

<% if @course.main_image.attached? %>
  <%= image_tag @course.main_image %>
<% end %>
<%# COURSE IMAGE %>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#course">View Course</a></li>
  <% if @course.user_id == session[:user_id] %>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit">Edit Course</a></li>
  <% end %>
</ul>
<%# Tabs -> only shows edit  %>

<div class="tab-content">
  
  <div id="course" class="tab-pane active">
    
    <%= @course.title %>
    By <%= link_to @course.username, user_url(@course.user_id) %>
    Rating: <%= @course.ratings.average(:value) || "Not rated yet!" %>

    <% if @subscription.valid? %>
      <%= button_to 'Unsubscribe', course_subscription_path(@course, @subscription), method: :delete, class: 'p-button' %>
      <%= render "ratings/rating_form" %>
      <%= link_to "See Posts", course_posts_path(@course) %>
    <% elsif @course.user_id == session[:user_id] %>
      <%= link_to "See Posts", course_posts_path(@course) %>
    <% else %>
      <%= button_to "Subscribe",  course_subscriptions_path(@course, @subscription), method: :create, class: 'p-button' %>
      <p>Please subscribe to see posts</p>
    <% end %>

  </div>
  
  <div id="edit" class="tab-pane">
    <%= render "courses/edit" %>
  </div>

</div>
<%# Render tabs -> edit course %>
