<h1>Welcome to Pacebook!</h1>
<h2>Signin</h2>

<%= form_for(:signin, url: signin_url) do |form| %>
<p>
 <%= form.label :username %>
 <%= form.text_field :username %>
</p>
<p>
 <%= form.label :password %>
 <%= form.password_field :password %>
</p>
<p>
<%= form.submit "Signin" %>
</p>
<% end %>

<form class="" action="/signup" method="get" >
  <input type="submit" value="Signup">
</form>
