
<%= stylesheet_link_tag "signin" %><div class="header">
<body style="background: url('https://www.coburgbanks.co.uk/wp-content/uploads/2016/02/dog-on-surf-board-amazing-jobs-resized.jpg'); background-repeat: no-repeat; background-size: 100%;">

<h1>Welcome to Pacebook</h1>
<h1> Signin </h1>

<%= form_for(:signin, url: signin_url) do |form| %>
<p>
 <%= form.label :username %>
 <%= form.text_field :username %>
</p>
<p>
 <%= form.label :password %>
 <%= form.password_field :password %>
</p>
<p>
<%= form.submit "Signin" %>
</p>
<% end %>

<form class="signup_button" action="/signup" method="get" >
  <input type="submit" id='sub' value="Signup">
</form>

</body>
</div>
