<div class="chat border" id="chat">
  <h3>Chatbox</h3>
  <section class="chat-log" id="chat-box">
    <% for chat in @chats %>
      <article>
        <span class="chat-line border rounded">
            <span class="speaker"><%= chat.user.name %></span><br>
            <span class="body"><%= chat.message %></span>
        </span>
      </article>
    <% end %>
  </section>
  <%= form_with(model: @chat) do |form| %>
    <%= form.label :message %>
    <%= form.text_area :message %>
    <%= form.submit "Submit" %>
  <% end %>
</div>
