<%= stylesheet_link_tag 'posts' %>

  <% @posts.each do |post| %>
  <div class="item">
    <% Time.zone = 'London' %>
    <div class='user'>
      <% @user = (User.find_by(id: post.user_id)) %>

      <%= link_to(image_tag(@user.image.url(:thumb)), user_url(@user), class:'avatar') %>
      <div class='name'>
        <div class='post-name'>
          <%= link_to(user_url(@user)) do %>
            <p> <%= @user.first_name %> <%= @user.last_name %> </p>
          <% end %>

        </div>
        <div class='post-username'>
          <div class='username'>
            <%= @user.username %>
          </div>

          <% if post.recipient_id != @user.id && post.recipient_id != nil %>
          <div class="inter_user_posts">
            <% @recipient_user = User.find_by(id: post.recipient_id) %>
            To <%= link_to(user_url(@recipient_user)) do %>
                <p> <%= @recipient_user.first_name %> <%= @recipient_user.last_name %> </p>
               <% end %>
          </div>
          <% end %>

          <div class='timestamp'>
            <%= post.created_at.strftime("%e %B %Y %H:%M") %>
          </div>
        </div>
      </div>
    </div>

    <div class='post-caption'>
      <%= post.message.gsub(/\n/, '<br>').html_safe%>
    </div>

    <% if post.image? %>
      <%= image_tag post.image.url(:medium), class: 'image-post' %>
    <% end %>

    <div class='popularity'>
      <div class='likes'>
        <p><%= link_to like_post_path(post), class: "like", method: :put do %>
            <%= image_tag 'buuble.png', class: 'bubble-logo' %>
            <% end %>
            </p>
            <%= post.get_upvotes.size %>
      </div>
      <div class='dislikes'>
        <p><%= link_to dislike_post_path(post), class: "dislike", method: :put do %>
            <%= image_tag 'anchor.png', class: 'anchor-logo' %>
            <% end %>
            </p>
            <%= post.get_downvotes.size %>
      </div>
      <div class='comments'>
        <%= image_tag 'message-in-a-botle.png', class: 'message-logo' %>
        <p> <%= post.comments.count %> </p>
      </div>
    </div>

  <div class='comments-container'>
    <div class='comments-list'>
      <% post.comments.each do |comment| %>
        <% @comment_user = User.find_by(id: comment.user_id) %>
        <div class='comment'>
          <div class='comment-user'>
            <%= link_to(image_tag(@comment_user.image.url(:thumb)), user_url(@comment_user), class:'small_avatar') %>
            <p class='comment-name'><%= link_to(@comment_user.first_name, user_url(@comment_user)) %> </p>
            <p class='comment-username'> @<%= @comment_user.username %> </p>
            <p class='comment-timestamp'> <%= comment.created_at.strftime("%e %B %Y %H:%M") %> </p>
          </div>
          <p class='comment-message'> "<%= comment.content %>" </p>
        </div>
      <% end %>
    </div>
  </div>

<!-- form -->
    <%= form_for ([post, post.comments.build]) do |form| %>
      <%= form.label :comment %>
      <%= form.text_area :content, class:'message-box' %>
      <%= form.submit "Comment" %>
    <% end %>

<!-- crud -->
    <% if post.user_id == current_user.id %>
      <div class='crud'>
        <p> <%= link_to "Edit", edit_post_path(post) %> </p>
        <p> <%= link_to "Delete", post, :data => { :confirm => "Are you sure you want to delete this post?" }, :method => :delete %> </p>
      </div>
    <% end %>

  </div>
  <% end %>
