<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %>
      prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>

<div class="text-center">
  <%= form.label :content %>
  <%= form.text_area :content, id: :post_content %>
  <%= form.hidden_field :recipient_id, value: params[:recipient_id] %>
  <br><br>
  <%= form.submit "Create Post", class: 'btn btn-success' %>
</div>
<% end %>
