<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= Whats on your mind  %></li>
      <% end %> 
      </ul>
    </div>
  <% end %>

    <%= form.text_field :message, placeholder: "What's on your mind #{@user.firstname}" %>
    <%# <%= form.file_field :image %>
    <%= form.submit "Post"%>

  <% end %>
