<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %>
        prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :message %><br>
    <%= form.text_field :message %>
  </p>

  <p>
  <%= form.label :input_user_id %><br>
  <%= form.number_field session[:user_id] %>
  </p>


  <p>
    <%= form.submit %>
  </p>

<% end %>
