<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= Whats on your mind  %></li>
      <% end %> 
      </ul>
    </div>
  <% end %>
    <%= form.text_field :message, placeholder: "What's on your mind, #{current_user.firstname}?" %>
    <%= form.submit "Post"%>
    <%= form.file_field :image %>
    <button type="submit" name="commit" value="Post" class='btn btn-primary'>Post</button>
  <% end %>
