<div class="post">
  <div class="dropdown">
    <button class="dropbtn">...</button>
    <div class="dropdown-content">
      <a
        href="#"
        data-post-id="<%= post.id %>"
        data-user-id="<%= post.user_id %>"
        data-session-id="<%= session[:user_id] %>"
        data-created-time="<%= post.created_at %>"
        class="edit-post-inline-link"
      >
        Edit
      </a>

      <a
        href="#"
        data-post-id="<%= post.id %>"
        data-user-id="<%= post.user_id %>"
        data-session-id="<%= session[:user_id] %>"
        class="delete-post"
      >
      <%= link_to 'Delete', post, method: :delete %>
    </a>
    </div>
  </div>


  <div class="post-body">
    <h2 class="post-user"><%= User.find(post.user_id).username %> </h2>
    <p class="posts-time">posted <%= time_ago_in_words(post.created_at)%> ago</p>
    <p
      class="post-text"
      id="post-text-<%= post.id %>"
    >
      <%= post.message %>
    </p>

    <div
      class="edit-post-inline"
      id="edit-post-inline-<%= post.id %>"
    >
      <%= form_for post, url: @edit_post_path do |form| %>
        <%= form.text_field :message%>

        <%= form.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>
