<title>The name of your site</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>

<button class ='close_comment'>X</button>

<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <h2>Comments</h2>
   <p>
   <%= form.label :commenter %>
    <%= form.text_area :commenter %>
    </p>
    <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.submit "Enter" %>
  </p>
  <% @post.comments.each do |comment| %>
    <p>
      Commenter:
      <%= comment.commenter %>
    </p>
    <p>
      Comment:
      <%= comment.body %>
    </p>
<% end %>

<div style="width: 200px; height: auto">
  <% if @post.image.attached? %>
    <%= image_tag(@post.image, style:'width:100%') %>
  <% end %>
</div>
  <% end %>
 