    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>

<div class ='post__enter-comments'>
  <%= form_with(model: [@post, @comment]) do |form| %>
        <span class ='comment__text-area'><%= form.text_field :body, placeholder: "Write a comment..." %></span>
      </div>
    
    <div class ='comments-container'>
      <% @post.comments.each do |comment| %>
          <span class ='comment'>
          <% if comment.user.avatar.attached? %>
                  <span class='comment-img'><%= image_tag(comment.user.avatar, style: "border-radius: 50%") %></span>
                <% else %>
                  <span class='comment-img'><%= image_tag("default_image.jpg", style: "border-radius: 50%") %></span>
                <% end  %>
            <span class ='comment__name'><%= comment.user.firstname%> <%= comment.user.lastname%>: </span>
            <span><%= comment.body %></span>
          </span>
          <br>
      <% end %>

    <% end %>
 </div>