

<div class='username'>
<a href="/users/<%=post.user.id%> "><%= post.user.first_name %> <%= post.user.last_name %></a> <br>
</div>
<div class='message'>
 <%= post.message %> 
</div> 
 

<div class='date'>
<%= post.created_at.strftime("%d/%m/%Y")%> at <%= post.created_at.strftime("%k:%M") %><br>
</div>

