<h1>Edit Post</h1>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<%= form_for @post, url: update_post_path, method: :patch do |f| %>
  <br/>
  <input type='hidden' name='previous_wall_id' value='<%= @previous_wall_id %>'></input>
  <%= f.text_area :message %>
  <br/>
  <%= f.submit %>
<% end %>
<%= link_to 'Back to Timeline', user_post_path(id: current_user.id)%>