<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Update" %>
<% end %>
