<h1>Edit Post</h1>
  <% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %>
<%= form_with(model: @post, local: true) do |form|%>

  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>


<%= link_to 'Back', posts_path %>
