
<%= form_for @post do |f| %>
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
<% end %>
<h1>Edit post</h1>
<p>
  <%= f.label :message %><br />
  <%= f.text_field :message %>
</p>
<p>
  <%= f.submit "Update" %>
  <%= link_to 'Cancel', posts_url %>
</p>
<% end %>
