<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <div class="card-panel light-blue darken-4">
              <h2 class="white-text">Edit your post</h2>

              <div>
              <%= @post.message %>
              </div>
              <% time_diff = Time.now - @post.created_at %>
              <% if time_diff < 600 %>
             <%= form_for @post do |post| %>
             <p>
              <%= post.label :message %><br>
              <%= post.text_area :message %>
             </p>

              <p>
                  <%= post.submit %>
              </p>
              <% end %>
              <% else %>
              <%= link_to('Return to posts', posts_url) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
