<div id="logout">
  <%= link_to 'Back', :users, :class => 'btn btn-secondary btn-sm' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-secondary btn-sm' %>
</div>


<br><h1>Edit post</h1><br>

<% @user = User.find(@post.creator_id) %>
<div class="eachpost">
  <div class="createdby">
    <small><%= "created by: " %> <%= @user.email %></small><br>
    <small> <%= @post.created_at %></small>
  </div><br>

  <h3>Post</h3>

  <div id="post-description">
    <%= @post.description %>
  </div><br>

  <h3>Edit</h3>
<%= render 'form' %>

</div>
