
 <%= form_for @post do |form| %>
   <%= form.label :message %>
  <%= form.text_area :message %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class='alert danger'><%= msg %></div>
    <% end %>
  <% end %>
  <%= form.submit "Update" %>
<% end %>

