<h1>Edit message</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <p>
    <%= form.label :message %><br>
    <%= form.text_field :message, :value => Post.find(params[:id]).message %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<%end%>

<%= link_to 'Back', posts_path %>