<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>🦁 Acebook</title>
  </head>

  <body>

    <h1>Editing post</h1>

    <%= form_for :post, url: post_path(@post.id), method: :patch do |f| %>
      <% if @post.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :message %><br>
        <div id="updatePost">
          <%= f.text_area :message %>
        </div>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </body>
</html>
