<h1>Edit Article</h1>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <%= form.submit "Submit" %>
<% end %>

<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
<% end %>
