<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>
<h2 class="h3 mb-3 font-weight-normal">Edit a post:</h2>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message, class: 'form-control', required: true %>
<br>
  <%= form.submit "Update", class: 'btn btn-lg btn-primary' %>
<% end %>
