<%= link_to "Ace-Book by AmoebaBoyz", root_url, class: "navbar-brand" %>
<%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
