<body class="header">
  <div class="header">
    <h1>Acebook</h1>
    <%= link_to posts_path do %>
      <h4>Back</h4>
    <% end %>
  </div>
</body>

<body class="edit-body">

  <div class="edit-card">

    <%= form_for @post do |form| %>
      <div class="edit-header">
        <%= form.label :message, "Edit" %>
      </div>
      <div class="edit-body__message">
        <%= form.text_area :message %>
      </div>
      <div class="edit-body__submit">
        <%= form.submit "Update" %>
      </div>
    <% end %>

  </div>

</body>
