<div>
  <%= notice %>
</div>

<%= form_for @post do |form| %>
  <%= form.label :message %></br>
  <%= form.text_area :message %></br>
  <%= form.submit "Edit" %></br>
<% end %>

<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
