<h1>Edit message</h1>

<%= form_with(modle: @post, local: true) do |form| %>
  <p>
    <%= form.label :message %><br>
    <%= form.text_field :message, :value => "sting that works" %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<%end%>

  <%= link_to 'Back', posts_path %>


