<h1>Edit your post</h1>

<%= form_with(model: @post, local: true) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= form.label :message %><br>
  <%= form.text_area :message %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>

<%= link_to 'Back', post_path %>
