<!-- frozen_string_literal: true -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
</head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">404Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><%= link_to 'My Profile' ,profile_path(current_user)%></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a>
        </li>
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <%= link_to 'Back to Posts', posts_path %></a>
        </li>
      </ul>

    </div>
  </nav>

</head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <h4>Edit message below</h4>

      <%= form_with(model: @post, local: true) do |form| %>
        <p>
          <%= form.label :message %><br>
          <%= form.text_area :message, :value => Post.find(params[:id]).message, size: "30x10" %>
        </p>

        <p><%= form.submit %></p>
      <%end%>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  </body>
</html>






