<h1>Edit post</h1>
<%= form_for @post, html: { multipart: true } do |form| %>
  <%= form.label :message %>
  <p class="emoji-picker-container">
    <%= form.text_area :message, :maxlength => 500, data: { emojiable: true } %>
  </p>
  <%= form.file_field :image %>
  <%= form.submit "Submit" %>
<% end %>
<%= link_to 'Back', posts_path %>
