<% @posts.reverse.each do |post| %>
  <p><%= simple_format post.content %></p>

  <% if post.created_at != post.updated_at %>
  edited: <% end %>
  <%= time_ago_in_words(post.updated_at) %> ago<br>
  

  <%= post.created_at.strftime("%H:%M %a %e %b %Y") %>
  <br>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to 'Delete', post, :method => :delete, data: {:confirm => "Are you sure?"} %>
<% end %>

<br>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
