<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Sign Out</a>
  </li>
</ul>


<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.created_at %></p>
  <%=button_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure'}%>
  <%=link_to 'Edit', edit_post_path(post) %>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>



