<% @posts.each do |post| %>
  <p class="post"><%= h(post.message).gsub(/\r\n/, '<br>').html_safe %>
    <br>
    <br>
    Date posted: <%= post.created_at.strftime('%d %B %Y at %I:%M %p') %>
    <br>
    Posted by <%= User.find(post.user_id).email %>
    <%= link_to 'Edit', edit_post_path(post)%>
    
    
  </p>

  

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
