
  <%= render 'shared/stats' %>


<div class="newsfeed">
  <ul><% @posts.reverse.each do |post| %>
    <li>
    <p style="color: blue; font-size: 20px;"><%= post.user.name %>:</p>

      <div id="follow_form">
      <% if current_user.following?(post.user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'shared/follow' %>
      <% end %>
      </div>


    <p><%= post.message %></p>
    <p style="font-size: 10px; color: grey; text-align: right"><%= post.created_at.strftime("%m/%d/%Y") %></p>
    <% if post.image.attached? %>
      <div>
        <p><%= image_tag(post.image, size: "410x300") %></p>
      </div>
    <% end %>
    <p><i class="fa fa-thumbs-up"></i><%= post.votes_for.size %></p>
    <div style="text-align: center;">
    <p><%= link_to('<i class="fa fa-thumbs-up fa-lg"></i>'.html_safe, "/users/#{current_user.id}/posts/#{post.id}/likes", method: :post) %>
      <%= link_to '<i class="fa fa-comment fa-lg"></i>'.html_safe, new_user_post_comment_path(current_user.id, post.id)%></p>
    </div>
    <hr/>
    <% post.comments.each do |message| %>
      <p style="color: blue;"><%= message.user.name %>:</p>
      <p><%= message.comment %></p>
      <p style="font-size: 10px; color: grey; text-align: right"><%= message.created_at.strftime("%m/%d/%Y") %></p>
    <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to new_user_post_url do %>
    New post
  <% end %>
  </li>
  </ul>
</div>
