<head>
  <title> Listings</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F2F2F2;
    }
    .profilepic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .username {
      font-weight: bold;
    }
    .time {
      font-size: 0.7em;
      text-align: right;
    }
    .edit-delete {
      text-align: right;
      font-size: 0.7em;
    }
  </style>
</head>
<body>
  <% if session[:user_id] == true %>
    <h5>Welcome, <%= User.find_by(id: session[:user_id]).full_name %>!</h5>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h5 class="card-header">What's on your mind?</h5>
        <div class="card-body">
          <%= render template: "posts/new" %>
        </div>
        <ul class="list-group list-group-flush">

          <!-- post list starts here -->
          <% @posts.reverse.each do |post| %>

            <!-- this is the html for a single post -->
            <li class="list-group-item">
              <img class="profilepic" src="<%= post.user.profile_picture %>" width="100" height="100" >
              <span class="username" style="margin-left:15px"><a href="users/<%= post.user.id %>" ><%= post.user.username %></a> <br></span>
              <p style="margin-top:45px"><%= simple_format post.content %></p>
              <div class="time">
                <% if post.created_at != post.updated_at %>
                  edited:
                <% end %>
                <%= time_ago_in_words(post.updated_at) %> ago<br>
                <%= post.created_at.strftime("%H:%M %a %e %b %Y") %>
              </div>
              <br>
              <div class="edit-delete">

                <!-- like button -->
                <% @post_id = post.id %>
                <% unless @like = Like.exists?(post.id, session[:user_id]) %>
                  <%= render template: "likes/new" %>
                <% else %>
                  <%= link_to '👎', @like, :method => :delete, class: "btn btn-outline-primary" %>
                  <br>
                <% end %>

                <!-- edit and delete controls -->
                <% session[:path] = request.path %>
                <% if post.user_id == session[:user_id] && Time.now - post.updated_at < 600 %>
                  <%= link_to "Edit", edit_post_path(post) %> |
                <% elsif Time.now - post.updated_at < 600 %>
                  <a href="#" onclick="alert('Cant do that, this post does not belong to you!');">Edit</a> |
                <% else %>
                  Cannot Edit |
                <% end %>
                <% if post.user_id == session[:user_id] %>
                  <%= link_to 'Delete', post, :method => :delete, data: {:confirm => "Are you sure?"} %>
                <% else %>
                  <a href="#" onclick="alert('Cant do that, this post does not belong to you!');">Delete</a>
                <% end %>
              </div>

              <!-- like information -->
              <span style="color:grey"><%= post.likes.length %> licks</span>
              <br>
              <% unless post.likes.length == 0 %>
                <span style="color:grey">LICKED BY: <%= post.users.map { |x| x.username }.join(", ") %></span>
              <% end %>

              <!-- comment section starts here (starts with input box) -->
              <% @post_id = post.id %>
              <%= render template: "comments/new" %>

              <!-- list of comments for current post -->
              <ul style="list-style-type:none">
                <% post.comments.each do |comment| %>
                  <li class="com-div">
                    <%= comment.user.username %>: <b><%= comment.text %></b>

                    <!-- comment likes and unlikes -->
                    |<span style="color:grey"><%= comment.comment_likes.length %> licks |</span>
                    <% unless @comment_like = CommentLike.exists?(comment.id, session[:user_id]) %>
                      <%= link_to 'Lick', new_comment_like_path(comment_id: comment.id.to_s, redirect: request.path) %>
                    <% else %>
                      <%= link_to 'Unlick', @comment_like, :method => :delete %>
                    <% end %>
                    <br>

                    <!-- comment information and edit controls -->
                    <p style="font-size:13px">
                      <% if comment.created_at != comment.updated_at %>
                        edited:
                      <% end %>
                      <%= time_ago_in_words(comment.updated_at) %> ago |
                      <%= comment.created_at.strftime("%H:%M %a %e %b %Y") %> |
                      <% if comment.user.id == session[:user_id] && Time.now - comment.updated_at < 600 %>
                        <%= link_to 'Edit Comment', edit_comment_path(comment)%> |
                      <% elsif Time.now - comment.updated_at < 600 %>
                        <a href="#" onclick="alert('Cant do that, this comment does not belong to you!');">Edit Comment</a> |
                      <% else %>
                        Cannot Edit |
                      <% end %>
                      <% if comment.user.id == session[:user_id] %>
                        <%= link_to 'Delete Comment', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                        <a href="#" onclick="alert('Cant do that, this comment does not belong to you!');">Delete Comment</a>
                      <% end %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </li>
            <!-- single post html ends above this line -->
          <% end %>
          <!-- list of posts ends above this line -->
        </ul>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</body>
