<%= link_to new_post_path do %>
  Create a new post
<% end %>
<br />

<br />

<% @posts.reverse.each do |post| %>
  <div class="card">
      <div style="padding: 20px;">
      <strong><%= post.user.real_name %></strong><br/>
      <small><%= time_ago_in_words(post.created_at)%> ago.</small>

      <p><%= simple_format(post.message) %></p>
      <% if user_signed_in? %>
        <%= div_for post do %>
          <%= render partial: "likes/like_button", locals: { post: post } %>
        <% end %>
      <% end %>
      <%= link_to 'Delete', post_path(post), method: :delete %>
    </div>
  </div>
<% end %>
<br/>
