

<h1>FacelessBook</h1>
<br>


<%= form_for @post do |form| %>
  <%= form.label "What's on your mind?" %><br>
  <%= form.text_field :message %><br>
  <%= form.submit "Submit" %>
<% end %>


<% @posts.reverse.each do |post| %>
  <div>
    <h4><%= post.user.first_name %> <%= post.user.last_name %>: </h4>
    <p><%= post.updated_at.strftime("%d/%m/%Y %k:%M") %></p>
    <h5><%= post.message %></h5>
    <div>
      <div style="float: left"><%= button_to "Delete Post", { :action => 'destroy', :id => post.id }, :method => :delete %> </div>

      <div style="float: none"><%= button_to "Edit", edit_post_path(post.id), :method => :get %></div>


      <% if post.user.likes post %>
       <%= link_to unlike_post_path(post), method: :put do %>
        <div class="engagement"> <%= button_to "Unlike"%><p><%= post.get_likes.size %> </p> </div>
      <% end %>
      <%end%>
       
       <%if !post.user.likes post%>
      
      <%= link_to like_post_path(post), method: :put do %> 
      <div class="engagement"> <%= button_to "Like"%> <p><%= post.get_likes.size %> </p> </div>
      <% end %>
      <% end %>
      
      
      

     <%= render :partial => "./comments/comment_form", locals: { comment: @comment, post_id: post.id}%> <br>
     <%= render :partial => "./comments/display_comment", locals: { comment: @comment, post: post}%> 

  </div>
<% end %>




