
<% @posts.each do |post| %>
  <p><%= post.message %>
     <% time = post.created_at.to_s %>
     <%= time[8..9] + "/" + time[5..6] + "/" + time[0..3] %>
     <% if post.signup_id == session[:user] %>
          <form class="" action="posts/update" method="get" >
       <input type="hidden" name="post_id" value="<%= post.id %>">
       <input type="submit" id = "<%="Edit#{post.id}"%>" value="<%="Edit"%>">
     </form>
     <% end %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<%# <%= "hidden" unless @user == post.signup_id %> %>
