<!DOCTYPE html>
<html lang="en">
  <title>The name of your site</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
    <h1 id = 'title'>CatBook</h1>
    <div class ='nav-bar'>
      <a class ='nav-bar_li'>New Post</a>
      <a class ='nav-bar_li'>Profile</a>
      <a class ='nav-bar_li'>Sign Out</a>
    </div>
  </header>

  <main>
    
    <% @posts.each do |post| %>
      <p><%= post.message %></p>
    <% end %>

    <%= link_to new_post_path do %>
      New post
    <% end %>
  </main>

</body>
</html>