<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<p id="notice"><%= notice %></p>
<h3> Hello, <%= current_user.firstname %>. (<%= link_to "Log out", session_path(:id => current_user.id), :method => :delete %>)</h3> 
<%= link_to "Profile", profile_index_path(:id => current_user.id) %>
<%= form_for @post do |form| %>
  <%= form.label :message%>
  <%= form.text_area :message, placeholder: "What are your thoughts?" %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.submit "Submit" %>
<% end %>
<% @posts.reverse.each do |post| %>
  <!-- name of poster -->
  <p><%= User.find(post.user_id).firstname %></p>
  <!-- post message -->
  <p><%= post.message %></p>
    <% if post.user_id == current_user.id %>
        <% if post.editable? %>
          <%= link_to "Edit", edit_post_path(post), id: 'edit' %>
        <% end %>
        <%= link_to "Delete", destroy_post_path(:id => post.id), :method => :delete %>
    <% end %>
  <!-- post updated time -->
  <p> <%= post.updated_at.in_time_zone("London") %> </p>
  <!-- comments -->
  <% post.comments.each do |comment| %>
    <!-- name of commenter -->
    <div id="singlecomment">
    <p><%= User.find(comment.user_id).firstname %></p>
    <p><%= comment.body %></p>
    <% if comment.user_id == current_user.id %>
      <% if comment.editable? %>
        <%= link_to "Edit", edit_post_comment_path(:id => comment.id, :post_id => post.id) %>
      <% end %>
      <%= link_to "Delete", post_destroy_comment_path(:id => comment.id, :post_id => post.id), :method => :delete %> 
    <% end %>
    </div>
  <% end %> 
  <%= form_for([post, post.comments.build]) do |form| %>
    <p><%= form.text_area :body, placeholder: "Add comment" %></p>
    <p><%= form.submit "Comment" %></p>
  <% end %>
<% end %>
