<% def increment %>
  <% @post.likeCount += 1 %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= link_to edit_post_path(post[:id]) do %>
    Edit post
  <% end %>
  <%= link_to post_path(post[:id]), method: :delete do %>
    Delete post
  <% end %>
  <%= button_to 'Like', post_likes_path(post[:id]), method: :post %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
