<% flash.each do |key, value| %>
 <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p> posted by <%= post.user.email %></p>
    <a><%= link_to 'Edit', edit_post_path(post) %></a>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
