<h1> My posts </h1>

<table>
  <tr>
    <th>Message</th>
    <th>Author</th>
    <th>Created at</th>
  </tr>

<% @posts.each do |post| %>
<tr>
  <td><%= post.message %></td>
  <td><%= post.user.first %>
      <%= post.user.last %></td>
  <td><%= post.created_at %></td>
  <td><%= link_to 'Show', post_path(post) %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<%= link_to new_post_path do %>
  New post
<% end %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
