<p id=”notice”><%= notice %></p>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'Log Out', logout_path %>
  <%= link_to 'My Profile', profile_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or 
  <%= link_to 'Log In', login_path %>
<% end %>


<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%=post.created_at.to_formatted_s(:long)%>
  <% if can? :edit, post %>
    <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  <% if can? :destroy, post %>
    <%= link_to 'Delete', post_path(post), method: :delete, data: { :confirm => "Are you sure?" } %>
  <% end %>
  
<% end %>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
