<!DOCTYPE html>


<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
      <body>
        <%= notice %>
        <% @posts.reverse_each do |post| %>
      <p><%= post.message %>
      (posted <%= time_ago_in_words(post.created_at)%> ago)
        <%= link_to edit_post_path(post.id) do %>
          Edit
        <% end %></p>

        <%= link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>
        <br>
        <div>
        <%= link_to new_post_path do %>
          New post
        <% end %>
    </div>

  </body>
</html>
