<%= link_to "Log out", logout_path, method: :delete %>

<% if flash[:success] %>
<div class='notice'> <%= flash[:success] %> </div>
<% end %>

<% @posts.reverse.each do |post| %>
  <div>
    <p id='post-<%= post.id %>'><%= post.message %> -
      <span> <%= Post.format_time(post.created_at) %> </span>
    </p>
    <%= link_to edit_post_path(post) do %>
      edit post 
    <% end %> 
  </div>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
