<div class="container">
<br>
<% @posts.reverse_each do |post| %>
  <% if post.image.attached? %>
  <img src="<%=(url_for(post.image))%>"
     width="400" 
     height="400"/>
    <%# could maybe do with a better resizing option %>
    <%# resize before it goes into storage? %>
    <%# portrait vs landscape?? %>
    
  <% end %>
  <div class='post' id='<%= post.id %>'>
  <p class='post-content'><%= post.message %></p>
  <div class='likes'>Likes: <%= post.likes.count %></div>
  <%= button_to 'Like', post_likes_path(post.id), method: :post ,id: post.id, class:'btn btn-primary'%>
  <br>
  </div>

<% end %>
<%= link_to new_post_path, class:"btn btn-primary" do %>
  New post
<% end %>
</div>