<% @posts.reverse_each do |post| %>
  <div>
    <p><%= simple_format(post.message).html_safe %></p>
    <p><%= 'Posted ' + time_ago_in_words(post.created_at) + ' ago' %></p>
    <h3>Comments</h3>
    <% post.comments.each do |comment| %>
      <p>
        <strong>Comment:</strong>
        <%= comment.message %>
      </p>
    <% end %>
    <h2>Add a comment:</h2>
    <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
      <p>
        <%= form.label :message %><br>
        <%= form.text_area :message %>
      </p>
      <p>
        <%= form.submit %>
      </p>
      <% end %>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<%= link_to destroy_user_session_path do %>
  Log out
<% end %>
