<body>
  <% @posts.each do |post| %>
    <p><%= post.message %></p>
    <p><%= post.user.user_name %></p>
    <p><%= post.created_at %></p>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
    <p><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p>-------------------------<p>
  <% end %>

  <%= link_to new_post_path do %>
    New post
  <% end %>
</body>