
<% @posts.each do |post| %>
  <div class="container">
<p><%= (post.created_at).strftime("%l:%M%P %-d-%B-%Y") %></p>
<p class="post" ><%= post.message %> (<%= post.user.email %>)</p>
<% if current_user.id == post.user.id %>
<%= link_to 'Edit Post', edit_post_path(post) %>
<%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
  </div>

<% end %>

<center><%= button_to "New post", new_post_path, :method => :get %></center>
