<p></p>
<%= link_to new_post_path do %>
  New post
<% end %>


<% @posts.reverse.each do |post| %>
      <p><%= post.message %>: posted at <%= post.created_at.strftime('%H:%M on %d-%b-%y') %>
    </p>

    <%= link_to edit_post_path(post.id) do %>
      Edit
    <% end %>

    <%= link_to post_path(post.id) do %>
      Delete
    <% end %>
  

<% end %>

<style>
p {
    white-space: pre-line; /* collapse WS, preserve LB */
  }
</style>
