<% if flash[:messages] %>
  <h2><%= flash[:messages] %></h2>
<% end %>

<h1> Main Posts Page </h1>

<% @posts.each do |post| %>
  <div id="<%= post.id%>" class="posts">
    <p>Post: <%= post.message %></p>
    <p>Created At: <%= (post.created_at + 1.hours).strftime('%d-%m-%y %H:%M:%S') %></p>

    <%if logged_in? %>
      <p>Author: <%= link_to post.user.name, "/" + post.user.id.to_s %></p>
      <p>Wall: <%= link_to User.find(post.wall_id).name, "/" + post.wall_id.to_s %></p> 
    
      <%if (post.created_at + 1.hours + 10.minutes).strftime('%Y-%m-%d %H:%M:%S') > @time.to_formatted_s(:db) && (current_user.id == post.user_id) %>
        <%= button_to edit_post_path(post.id), method: :get do %>
          Update post
        <% end %>
      <% end %>

      <%if current_user.id == post.user_id %>
        <%= button_to post_path(post), method: :delete do %>
          Delete post
        <% end %>
      <% end %>
    <%else%>
      <p>Author: <%= post.user.email %></p>
      <p>Wall: <%= User.find(post.wall_id).email %></p>
    <% end %>
      
  </div>

<% end %>

