<%= link_to "Log out", logout_path, method: :delete %>

<% if flash[:success] %>
<div class='notice'> <%= flash[:success] %> </div>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p> 
  <%= link_to edit_post_path(post) do %>
   edit post 
    <% end %> 
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
