<center>
<div class='titleFont font-size:24px'>
<%= flash[:notice] %>
</div>
<div class="loginBox">
<h2 class="titleFont" style= "color:purple"><%= @user.name %>'s Feed<br></h2>
<br>
<br>
<h3>
<%= form_for :post, url: posts_path, html: {method: :post} do |form| %>
  <p class="titleFont"><%= form.label :message %> </p>
  <p class='circular-sb'>  
  <%= form.text_area :message, class: 'textfield' %></p>
  <p class='circle1'></p>
  <p class='circle2'></p> 
  </p>
  <%= form.hidden_field :user_id, value: @user.id %>
  <%= form.hidden_field :wall_id, value: @wall.id %>
  <%= form.submit "Submit", class:'titleFont submit' %>
</h3>
<% end %>
<br>
<br>
<h4><%= button_to 'Your Wall', user_path(@user), method: 'get', class:'button titleFont'%></h4>
<h4><%= button_to "Sign Out", destroy_session_path, method: 'delete', class:'button titleFont'%></h4>
</div>
</center>
