<h1>Posts page</h1>

<div class="new-post-button">
  <%= link_to new_post_path do %>
    Create new post
  <% end %>
</div>

<% @posts.each do |post| %>

  <div class='post-card'>
    <div class="post-header">
      <div class="post-author">
        <%= get_user_email(post) %>
      </div>
      <div class="post-pubished-time"><%= post.created_at.strftime("%d-%m-%Y")%> at <%= post.created_at.strftime("%I:%M %p")%></div>
    </div>
    <div class="post-content">
      <p><%= post.message %></p>
      <% if post.user_id == current_user.id %>
        <p><%= link_to 'Edit', edit_post_path(post) %></p> 
        <p><%= link_to 'Delete', post, method: :delete, :data => { :confirm => "Delete me!" } %></p> 
      <% end %>
    </div>
  </div>
<% end %>
