<h1> Create a post here ! </h1>

<% @posts.reverse_each do |post| %>
  <div class="post" id="post<%= post.id %>">
  <% post.message.split("\n").each_with_index do |line, index| %>
    <p><%= line %></p>
  <% end %>
    <% time_diff = Time.now.utc - post.created_at  %>

    <p>Created At: <%= post.created_at %></p>
    <p> <%= time_diff / 1.minute.round %> </p>

  <% if post.created_at != post.updated_at %>
    <p>Last Updated : <%= post.updated_at %></p>
    <% end %>

  <% if time_diff / 1.minute.round < 10  %>
    <%= link_to "edit", edit_post_path(post) %>
      <% end %>
  </div>
  
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
