<% if user_signed_in? %>
  <%= form_for @post do |form| %>
    <%= form.text_field :message, placeholder: 'Enter your message' %>
    <%= form.submit "Post" %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <p class="post">
    <%= post.user.name %>
    - <%= best_in_place post, :message, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', activator: '#edit-' + post.id.to_s %>
    - <%= post.created_at.strftime("%e %B at %k:%M") %>
    <% if current_user.id == post.user_id %>
      - <%= link_to 'DELETE', post, method: :delete %>
      - <a href="#" id="edit-<%= post.id %>">EDIT</a>
    <% end %>
  </p>
  <p>
    <%= post.likes.where(liked: true).length %> <%= 'Like'.pluralize(post.likes.where(liked: true).length) %>
  </p>
  <% pre_like = Like.find_by(user_id: current_user.id, post_id: post.id) %>
  <% if pre_like && pre_like.liked %>
   <%= button_to "Unlike", post_like_path(post, pre_like), method: :delete, class: 'unlike_post' %>
  <% else %>
    <%= button_to "Like", post_likes_path(post), class: 'like_post' %>
  <% end %>

  <% post.comments.each do |comment| %>

    <p class="comment">
      <%= comment.user.name %>
      - <%= comment.comment %></p>
     <%= button_to "Delete", post_comment_path(post, comment), method: :delete %>
     <%= comment.likes.where(liked: true).length %> <%= 'Like'.pluralize(comment.likes.where(liked: true).length) %>
     <% pre_like = Like.find_by(user_id: current_user.id, comment_id: comment.id) %>
     <% if pre_like && pre_like.liked %>
      <%= button_to "Unlike", comment_like_path(comment, pre_like), method: :delete, class: 'unlike_comment' %>
     <% else %>
       <%= button_to "Like", comment_likes_path(comment), class: 'like_comment' %>
     <% end %>
  <% end %>
  <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
    <%= form.text_field :comment %>
    <%= form.submit "Comment" %>
  <% end %>
<% end %>
