

 <!-- Need below doctype etc -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Need put our own css file below this bootstrap link above ^^ -->
    <link rel="stylesheet" href="posts-index.css">
  </head>




<!-- <div class ="container"> -->
<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <% if current_user.profile_picture.attached? %>
          <%= image_tag current_user.profile_picture.variant(resize: '100x100!'), :style => "border-radius: 50%" %>

          <% else %>
          <%= image_tag('totally_normal_human_dude.jpg', size: '100x100', style: "border-radius: 50%") %>
          <% end %>

          <div class="h5"><%=current_user.firstname%></div>

          <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
            etc.
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">5.2342</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">6758</div>
          </li>

        </ul>
      </div>
    </div>


    <div class="card-container">  
    <% @posts.each do |post| %>

    <div class="card mb-4 box-shadow">      


      <% @post_creator_id = post.user_id.to_i %>
      <% @post_creator = User.find_by(id: @post_creator_id) %>
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">

            <div class="mr-2">
              <% if @post_creator.profile_picture.attached? %>
              <%= image_tag @post_creator.profile_picture.variant(resize: '100x100!'), :style => "border-radius: 50%" %>

              <% else %>
              <%= image_tag('totally_normal_human_dude.jpg', size: '100x100', style: "border-radius: 50%") %>
              <% end %>
            </div>
            <div class="ml-2">
              <div class="h5 m-0"><%= @post_creator.firstname + " " + @post_creator.surname %></div>
              <div class="h7 text-muted"></br>Posted on: <%= post.created_at %></div>

            </div>
          </div>
        </div>
      </div>

      <div class="card-body">


          <h5 class="card-title"><%= simple_format post.message %></h5>



      </div>


      <div class='container'>

      <span class='parent-likes'>
        <span class="like_count" <% post.id %> >
          <%= post.get_likes.size %> &#128077
        </span>

        <a>
          <% if current_user.liked? post %>
          <div> <%= link_to like_post_path(post, 'toggle'), class: "liked-button",
            method: :put, remote: :true do %> Liked </div>
            <% end %>
            <% else %>
            <div> <%= link_to like_post_path(post, 'toggle'), class: "like-button",
              method: :put, remote: :true do %> Like </div>
              <% end %>
              <% end %>
            </a>
          </span>



          <p><%= link_to 'Show', post_path(post),
            method: :get %>
            <% if @post_creator_id == current_user.id %>
            <%= link_to 'Edit', edit_post_path(post),
            method: :get %>
            <%= link_to 'Delete', post_path(post), class: "#{post.id}",
            method: :delete %>
            <% end %>
          </p>



<h4>Commments:</h4>
         <% post.comments.each do |comment| %>
         <% @comment_creator = User.find_by(id: comment.user_id) %>
         <div class="row">


<div class="col-sm-1">
<div class="thumbnail">


                <% if @comment_creator.profile_picture.attached? %>
                <%= image_tag @comment_creator.profile_picture.variant(resize: '30x30'), :style => "border-radius: 50%" %>
                <% else %>
                <%= image_tag('totally_normal_human_dude.jpg', size: '30x30', style: "border-radius: 50%") %>
                <% end %>
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->
</div>
<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong><%= @comment_creator.firstname + ' ' +  @comment_creator.surname %> <%= comment.created_at %>
</strong>
</div>
<div class="panel-body">
 commented: <%= comment.body %>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
          <% end %>

 <h5>Add a comment:</h5>
                  <%= form_with(model: [ post, post.comments.build ], local: true) do
                  |form| %>
                  <p>
                    <%= form.text_area :body %>
                  </p>
                  <p>
                    <%= form.submit %>
                  </p>


            <% end %>

          </div>
          </div>

 
          <% end %>
          </div>


<!-- </div> -->

