<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label 'New Post' %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
<br><br>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

