<% @posts.each do |post| %>


  <div style="width:500px; height:auto;"><%= image_tag(post.image, style:"width:100%") if post.image.attached? %></div>

  <%= simple_format(post.message) %>
  <p style="color:#cccccc;"> <%= post.created_at.strftime("%-d %b %Y at %H:%M") %> ago</p>
  <% @first_name = User.where(id: post.user_id).first&.send(:first_name) %>
  <% @last_name = User.where(id: post.user_id).first&.send(:last_name) %>
  <p><%= "by #{@first_name} #{@last_name}"%></p>

  <% if current_user.id == post.user_id %>
    <%= button_to "Edit", edit_post_path(post.id), :method => :get if (Time.now - post.created_at) / 60 <= 10%>
    <%= button_to "Delete", post_path(post.id), :method => :delete,
    data: {confirm: 'Are you sure you want to delete this post?'} %>
  <% end %>

  <p><span>⚡️ <%= link_to "Buzz", like_post_path(post.id), :method => :put %></span></p>
  <p>Buzzes: <%= post.get_upvotes.size%></p>
<% end %>



<%= link_to new_post_path do %>
  New post
<% end %>
