<section class="section">
  <div class="container">

    <%= link_to "New Post" , new_post_path %>

      <% @posts.each do |post| %>
        <div class="card mb-5">
          <div class="card-content">
            <div class="content">

              <%= post.message %>
                <br>
                <% if post.image.attached? %>
                  <%= image_tag(post.image, style:"width:30%") %>
                    <% end %>
                      <br>
                      <%= pluralize(post.likes,'like')%>
                        <br>
                        <a href="/posts/<%= post.id %>/like">Like</a>
                        <br>
                        <%= link_to "Edit" , edit_post_path(post) %>
                          <%= link_to "Delete" , post, method: :delete, data: { confirm: "Delete this post?" } %>
            </div>

          <br>
          <div class="card"> 
            <div class="card-content">
              <p class="has-text-weight-bold">Comments</p>
              <%= form_with(model: [post, post.comments.build]) do |f| %>
                <div class="field">
                  <%= f.label 'New comment' %>
                  <%= f.text_area :body, class: 'input' %>
                </div>
                <%= f.submit 'Submit', class: 'button is-primary' %>
              <% end %>
  
            <br>
            <%= render post.comments %>
            </div>
          </div>
          </div>
        </div>
        <% end %>
  </div>
</section>

