<html>
<head>
  <title>Posts Dashboard</title>
</head>
<body>

  <div class = "nav">
    <nav class="navbar navbar-default navbar-light">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-top" id="navdropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to "Home", root_url, class: "navbar-brand" %>
          <%= link_to "Posts", "/posts", class: "navbar-brand" %>
          <%= link_to "New Post", "/posts/new", class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
            <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <br>
  <br>
  <br>
  <div class = "header">
    <h2>Posts</h2>
    <% flash.each do |key, value| %>
    <br>
    <%= content_tag :div, value, class: "flash #{key}" %>
    <br>
    <% end %>
  </div>

  <div class = "post">
    <% all_posts = @posts.sort_by { |sorted| sorted[:created_at] }.reverse! %>
    <% @posts.each do |post| %>

    <div class = "single-post">
      <br>
      <div class = "post-text">
        <% post.linebreak.each do |sortpost| %>
        <%= sortpost %> <br>
        <% end %>
      </div>
      <div class = "post-created-by">
        <% poster = User.find(post.user_id) %>
        Posted by: <%= poster.first_name + " " + poster.surname %>
        <br>
      </div>

      <div class = "post-created-at">
        <%= post.created_at.strftime("Posted at: %H:%M on %A %d %b, %Y") %>
        <br>
      </div>

      <%= post.get_upvotes.size %> likes

      <div class = "Post-buttons">
        <div class="like_and_unlike">
          <%= link_to like_post_path(post), method: :put do %>
          Like
          <% end %>

          <%= link_to unlike_post_path(post), method: :put do %>
          Unlike
          <% end %>
        </div>

        <%if post.update_valid? %>
        <%= link_to('Update', "/posts/#{post.id}/edit", url_options = {method: "get"}) %>
        <%end%>
        <%= link_to('Delete', "/posts/#{post.id}", url_options = {method: "delete"}) %>
      </div>
      <div class="listComments">
        <% post.comments.each do |comment| %>
        <% user = User.find(comment.user_id)%>
          <%=user.first_name + " " + user.surname  %> :
          <%= comment.message %>
          <br>
          <%end%>
          <div class="addComment">

            <%= form_with model: post.comments.build, local: true do |form| %>
            <%= form.label :comment%>
            
            <p> <%= form.text_area :message %> </p>
            <%= form.hidden_field :post_id %>

            <%= form.submit "Add Comment" %>
            <%end%>

          </div>
      </div>
    </div>
    <% end %>
  </div>
