<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table id='posts'>
  <thead>

  </thead>

  <tbody>
    <% @posts.reverse.each do |post| %>
      <tr>
        <td><%=simple_format(post.post_content)%></td>
          <td><%=post.created_at.to_s(:rfc822)[17..21]%>  <%=post.created_at.to_s(:rfc822)[0..2]%> <%=post.created_at.to_s(:rfc822)[4..15]%></td>
        <td><%=User.find(post.user_id).email%></td>
        <td><%= link_to 'Edit', edit_user_post_path(session[:user]['id'], post) %></td>
        <td><%= link_to 'Delete', post, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_user_post_path(session[:user]['id']) %>
