<h1>Listing Posts</h1>
<h1> Session id: <%= session[:user_id] %> </h1>
 <%= link_to 'New post', new_post_path %>
<table>
  <tr>
    <th>Message</th>
    <th>Created</th>
    <th colspan="3"></th>
  </tr>

  <% @posts.reverse.each do |post| %>
    <tr>
      <td><%= post.message %></td>
      <td><%= post.created_at %></td>
      <td>user_id:<%= post.user_id %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <% if post.user_id == session[:user_id] %>
      <% if Time.now - post.created_at < 10.minutes %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <% end %>
      <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
