<%= flash[:notice] %>
<%= link_to user_path do %>
  Your Wall
<% end %>

<% @posts.each do |post| %>
  <div class="box">
    <p><strong><%= User.find(post.user_id).name %></strong></p>
    <p class="message"><%= simple_format(post.message) %></p>
    <p class="message_timestamp"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    <p class="message_buttons"><%= link_to 'Delete', post_path(post), method: :delete %>
    <%= link_to 'Edit', edit_post_path(post) %></p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
