
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>


<% @posts.reverse_each do |post| %>
<span style="white-space: pre-line">  <p> <% post.id %><%= post.message %> <br><%= post.updated_at %> <br><%= link_to "Delete", "posts/#{post.id}", method: :delete %> <%= link_to "Edit", "/posts/#{post.id}", class:"button" %> </p>
</span>


<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
