<div class="container text-center">
  <% @posts.reverse.each do |post| %>
    <p class="post-message"><%= post.message %> <%= post.created_at.strftime("%d/%m") %></p>
    <p><%= User.find(post.user_id).first_name %></p>
    <% if current_user == User.find(post.user_id) %>
      <%= link_to 'Delete', post, method: :delete %>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Update
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
  	<%= form_for(post) do |f| %>
  	<p><%=f.text_area :message%></p>
  	<%= f.submit "Update"
  	<% end%>
  </div>
</div>
    <% end %>
  <% end %>
  <br>

  <% if current_user %>
    <%= link_to new_post_path do %>
      New post
    <% end %>
  <% end %>
</div>
