<body class="posts-view">
  <p class="new-post">
    <%= link_to "Whats on your mind?", new_post_path, class: 'button'%>
  </p>
  <div class="viewing">
    
    <% @posts.each do |post| %>
    <div class='message'>
      <%= post.user.name%> <br>
      <u><%= ((Time.now - post.created_at)/10000).ceil %> hours ago</u>
      <br>
        <span class='line-break'>
        <%= post.message %>
        </span>
        <br>
        <%= link_to "Edit post", edit_post_path(post), class: 'postbtn'%> 
        <%= link_to 'Delete post', post_path(post), :method => :delete, class: 'postbtn' %>
        <%= link_to 'Add comment', new_comment_path(post_id: post.id), class: 'postbtn' %>
    </div>

    <div class='likes-container'>
      <%= button_to "Like", post_likes_path(post), method: :post, class: 'likesbtn' %>
      <span class='likes-number'>
        <%= post.likes.count %>
      </span>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">Comments <%= post.comments.count %>  </button>
      <div class="dropdown-content">
        <% post.comments.each do |comment| %>
          <span class='line-break'>
            <%= comment.comment %>
          </span>
          <br>
          <u>Posted by:
          <%= comment.user.name %></u>
          <%= link_to 'Edit Comment', edit_comment_path(comment) %>
          <%= link_to 'Delete Comment', comment_path(comment), :method => :delete %> 
        <% end %>
      </div>
    </div> 

    <% end %>
  </div>
</body>

