
<div class="new-post-box">
<% @posts.each do |post| %>
  <div>
    <p><%= post.message %></p>
    <p><%= post.created_at.strftime("%m/%d/%Y/%H/%M/%S") %></p>
  </div>
<% end %>

<div>

  <%= link_to new_user_path do %>
    Sign up please!
  <% end %>

</div>

<div>

<%= link_to new_post_path do %>
  Write a New post
<% end %>
</div>

<div class="posts">
<div class="post-card-wrapper">
<div class="post-card-content">
  <%= image_tag("user", width: 50) %>
  <p class="username">Username</p>
  <hr>
  <p class="message">Hello World!</p>
  <p class="timestamp">14:20 Tuesday January 27</p>
  </div>
  </div>
<% @posts.each do |post| %>
  <div class="post-card-wrapper">
  <div class="post-card-content">
  <%= image_tag("user", width: 50) %>
  <p class="username"></p>
  <hr>
  <p class="message"><%= post.message %></p>
  <p class="timestamp"></p>
  </div>
  </div>
<% end %>


</div>
