<%= link_to new_post_path do %>
  New post
<% end %>
<%= link_to edit_user_path(current_user.id) do %>
  Update profile
<% end %>
<%= link_to albums_path do %>
  View photo albums
<% end %>

<% @posts.each do |post| %>
  <% @user_id = post.user_id.to_i %>

  <p><%= simple_format post.message %></br>Posted on: <%= post.created_at %>
  by <%= User.find_by(id: @user_id).firstname + " " + User.find_by(id: @user_id).surname %>
  <% if User.find_by(id: @user_id).profile_picture.attached? %>
  <%= image_tag User.find_by(id: @user_id).profile_picture.variant(resize: '100x100!'), :style => "border-radius: 50%" %>
  <% else %>
  <%= image_tag('totally_normal_human_dude.jpg', size: '100x100', style: "border-radius: 50%") %>
  <% end %>
  </p>

  <p><%= link_to 'Show', post_path(post),
    method: :get %>
  <% if @user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(post),
      method: :get %>
    <%= link_to 'Delete', post_path(post), class: "#{post.id}",
      method: :delete %>
  <% end %>
  </p>

<% end %>
