<%= link_to "Log out", logout_path, method: :delete %>

<% if flash[:success] %>
<div class='notice'> <%= flash[:success] %> </div>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= button_to "Delete", post_path(:id => post.id), :method => :delete, :id => post.id %>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

