<%= link_to new_post_path do %>
  New post
<% end %>
<br>

<div class="posts">
  <% @posts.each do |post| %>
    <% user = User.find(post.user_id) %>
    <p><%= user.name %></p>
    <p><%= post.message %></p>
    <p><%= post.updated_at.strftime('%I:%M %p, %A, %b %d') %></p>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post_path(post), method: :delete %>
    <%= link_to 'Comment', new_comment_path(post) %>
    <p><%= post.comments %></p>
  <% end %>
</div>
