<%= form_for @post do |form| %>
  <%= form.label :what_floats_your_boat? %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>
