<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<%= button_to('My Profile', profile_path, method: :get, id: 'profile-button') %>
<% end %>

<div class='timeline'>
  <%= render @posts %>
</div>

<%= link_to new_post_path do %>
  Create post
<% end %>

    <% if post.likes.where(user_id: current_user.id).blank? %>
      <%= button_to 'Like', post_likes_path(post), method: :post, id: "like-button", class: "like-button", params: {user_id: current_user.id, post_id: post.id } %>
    <% end %>