<% @posts.each do |post| %>
  <div id="data"><%= post.created_at.to_date%> <%= post.created_at.strftime("%k:%M") %></div>
  <div id="creator"> <%= post.user.username %> </div>
  <div id="body"><%= simple_format(post.message) %></div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
