<div class="text-center">
  <h1>The Wall</h1>
</div>
<% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
<% @posts.each do |post| %>
  <div class="container p-3 my-3 border shadow">
    <strong><%= link_to "#{post.user.email}", user_path(post.user.id), controller: 'users', style: "color: black;" %>:</strong>
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime("%H:%M:%S - %d/%m/%Y") %>
    <%= link_to 'Delete', post_path(post),
    method: :delete %>
  </p>
  </div>
<% end %>
