<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    </head>
    <body>
      <h1>New Posts!</h1>
      <%= link_to new_post_path do %>
        Make A New Post
      <% end %>
      <ul>
      <% @posts.reverse.each do |post| %>
        <p><%= post.content %>
          post created by <%= @user.name %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      </ul>
</body>
</html>
