

    <h1> My wall </h1>

    <table>
      <tr>
        <th>Message</th>
        <th>Author</th>
        <th>Created at</th>
      </tr>

    <% @posts.each do |post| %>
    <tr>
    <%day = Date.new(post.created_at.wday + 1).strftime("%a")%>
    <% time_array = (post.created_at.to_s.split(" ")[1]).split(":") %>
    <% time_string = "#{time_array[0]}:#{time_array[1]}" %>
    <% date_string = "#{day} at #{time_string}" %>
     <td><%= (post.message.gsub("\r\n", '<br/>')).html_safe %></td>
      <td><%= post.user.first %>
          <%= post.user.last %></td>
      <td><%= date_string %></td>
      <% created_at = post.created_at%>
      <% current_time = Time.now %>
      <% if current_time - created_at < 600 %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <% end %>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </table>

    <%= link_to new_post_path do %>
      New post
    <% end %>



  </body>
</html>
