<h1>hello Megan & Myrtle & Chris & Hansa & Paulo & Barri!! <br>
welcome to Acebook</h1>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>

<div id="posts">
<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.created_at %></p>
<% end %>
</div>

<%= link_to new_post_path do %>
  New post
<% end %>
