
<div style="background-color: white; padding: 10px; font-family: 'DotGothic16';    width: fit-content; margin-left: 325px;">
  <%= link_to new_post_path do  %>
  New Post
  <% end %>
</div>
<br>

<% @posts.reverse.each do |post| %>
<div class="box" style="width: 40%;">
  <div class="card-body">
      <h3 class="card-text"><%= post.message.gsub(/\n/, '<br/>').html_safe %></h3>
    <p>created @ <%= post.created_at.strftime('%d/%m/%y') %></p>
    created by: <%= post.user.email %>
    <br>
    <%= link_to "/posts/#{post.id}/edit" do %>
      Edit
      <br>
    <% end %>
    <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>
  <br>

  </div>
  </div>

  <br>
<% end %>
