<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>

  <tbody>
    <% @posts.to_a.reverse.each do |post| %>
    <% @smaller_img = post.user.avatar.variant(resize_to_limit: [50, 50], ).processed %>

      <tr style="border:1px solid black;vertical-align: middle;">
        <td><p><br><%= image_tag @smaller_img %></p></td>
        <td> <p style="vertical-align: middle;"><%= simple_format(post.message) %></p></td>
        <td colspan="2" style='text-align: center;'><p style="vertical-align: middle"><i style='font-size: 9px'><%= simple_format(post.updated_at.to_s.slice(0,10)) %></i></p></td>
      </tr>

      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <tr>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
