<div class="container">
  <div class="row">
    <div class="col col-sm-auto">
      <%= render 'shared/stats' %>
    </div>
    <div class="col col-lg-18">

  <ul><% @posts.reverse.each do |post| %>
    <li>
    <p style="color: blue; font-size: 20px;"><%= link_to "#{post.user.name}", user_path(post.user.id) %>:</p>
      <div id="follow_form">
      <% if current_user.following?(post.user) && current_user != post.user %>
        <%= form_for(current_user.active_relationships.find_by(followed_id: post.user.id),
            html: {method: :delete }) do |f| %>
          <%= f.submit "Unfollow", class: "btn btn-warning" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, post.user.id %></div>
            <%= f.submit "Follow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      </div>

    <p><%= post.message %></p>
    <p style="font-size: 10px; color: grey; text-align: right"><%= post.created_at.strftime("%m/%d/%Y") %></p>
    <% if post.image.attached? %>
      <div>
        <p><%= image_tag(post.image) %></p>
      </div>
    <% end %>
    <p>Likes: <%= post.votes_for.size %></p>
    <p><%= link_to('Like', "/users/#{current_user.id}/posts/#{post.id}/likes", method: :post) %>
    <%= link_to "Comment", new_user_post_comment_path(current_user.id, post.id)%></p>

    <% post.comments.each do |message| %>
      <div class="comment">
        <p style="color: blue;"></p><p style="color: black;"><%= message.user.name %>:
        <%= message.comment %></p>
        <p style="font-size: 10px; color: grey; text-align: right"><%= message.created_at.strftime("%m/%d/%Y") %></p>
        </div>
    <% end %>

    <%= form_for :comment, :url => "/users/#{current_user.id}/posts/#{post.id}/comments" do |form| %>
      <div class="form-group">
        <%= form.text_area :comment, placeholder: 'Enter Comment', class: 'form-control' %>
      </div>
      <%= form.submit 'Submit' %>
    <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to new_user_post_url do %>
    New post
  <% end %>
  </li>
  </ul>

</div>
</div>
</div>
