<% @posts.each do |post| %>
  <p id="<%= post.id %>"><%= post.created_at.to_date%> <%= post.created_at.strftime("%k:%M") %></p>
  
  <p><%= simple_format(post.message) %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
