<html>
<head>
  <title>Posts Dashboard</title>
</head>
<body>

  <div class = "nav">
    <nav class="navbar navbar-default navbar-light">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-top" id="navdropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to "Home", root_url, class: "navbar-brand" %>
          <%= link_to "Posts", "/posts", class: "navbar-brand" %>
          <%= link_to "New Post", "/posts/new", class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
            <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <br>
  <br>
  <br>
  <div>
    <h2>Posts</h2>
    <% flash.each do |key, value| %>
      <br>
      <%= content_tag :div, value, class: "flash #{key}" %>
      <br>
    <% end %>
  </div>

  <div class = "post">
    <% all_posts = @posts.sort_by { |sorted| sorted[:created_at] }.reverse! %>
    <% @posts.each do |post| %>
    <div class = "single-post">
      <br>
      <div class = "post-text">
      <% post.linebreak.each do |sortpost| %>
        <%= sortpost %> <br>
      <% end %>
      </div>
      <div class = "post-created-by">
        Post user is: <%= post.user_id %>
        <br>
      </div>

      <div class = "post-created-at">
        <%= post.created_at.strftime("Posted at: %H:%M on %A %d %b, %Y") %>
        <br>
      </div>

      <div class="number-of-likes">
      <%= post.get_upvotes.size %> likes
      </div>

      <div class="like_button">
        <%= link_to like_post_path(post), method: :put do %>
            Like
        <% end %>
      </div>

      <div class="unlike_button">
      <%= link_to unlike_post_path(post), method: :put do %>
      Unlike
      <% end %>
      </div>

      <div class = "Post-buttons">
        <%if post.update_valid? %>
          <%= link_to('Update', "/posts/#{post.id}/edit", url_options = {method: "get"}) %>
        <%end%>
        <%= link_to('Delete', "/posts/#{post.id}", url_options = {method: "delete"}) %>
      </div>

    </div>
    <% end %>
  </div>
