<!DOCTYPE html>


<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="style.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

      <body>
        <nav class="navbar navbar-expand-md">
          <div class="navbar-brand-logo" <span>&#9824;</span>cebook</div>
          <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="myDiv">
        <div class="bg">

        <!-- <header class="page-header header container-fluid">
        </header> -->

        <h1 class="welcome">Welcome to <span>&#9824;</span>cebook</h1>
        <%= notice %>
        <%= flash[:error]%>

        <% @posts.reverse_each do |post| %>
        <center><div class="post" style="width: 90rem;">
            <div class="post-body">
              <h2 class="post-title"><%= User.find(post.user_id).username %></h2>
              <p class="post-text"> <%= post.message %> (posted <%= time_ago_in_words(post.created_at)%> ago)</p>
                <a class="btn btn-primary">
                  <%= link_to edit_post_path(post.id) do %>
                  Edit
                  <% end %>
                </a>
                <a class="btn btn-primary">
                  <%=link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?"} %>
                </a>
            </div>
            <br>
        </div></center>
        <% end %>
            <a class="btn btn-primary">
              <%=link_to new_post_path do %>
              New Post
              <% end %>
            </a>





    </div>
    <%= link_to "Log out",session_path(session), method: :delete %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../main.js"></script>
    </div>
  </body>
</html>
