
<h2><%= flash[:success] %></h2><br>

<%= link_to new_post_path do %>
  New post
<% end %><br>

<%= flash[:liked] %>
<div>
  <% @posts.each do |post| %>
    <ul>
      <li>
        <p class='post-text'><%= post.message %> [<%= post.updated_at.strftime("%Y-%m-%d, %H:%M")%>]</p> 
        <%= button_to Emoji.find_by_alias("smiley").raw, post_likes_path(post.id), method: :post %>
        <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        <%= button_to "Edit", edit_post_path(post) %>
        <%= button_to "Delete", post_path(:id => post.id), :method => :delete, data: {confirm: 'Are you sure?'} %>
      </li>
    </ul>
  <% end %>
</div>
