
<% @posts.reverse.each do |post| %>
  <h3><%= post.message.gsub(/\n/, '<br/>').html_safe %></h3>
  <p>created @ <%= post.created_at.strftime('%d/%m/%y') %></p>
  created by: <%= post.user.username %>
  <%= link_to "/posts/#{post.id}/edit" do %>
    Edit post
  <% end %>
  <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>
<% end %>
<%= link_to new_post_path do %>
<br>
  New post

<% end %>
