<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <form action=<%= "/posts/#{ post.id }/edit" %>>
    <label for=<%= "submit_#{ post.id }" %>>Update</label>
    <input type='submit' id=<%= "submit_#{ post.id }" %> value="update">
  </form>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
