<div class="container text-center">
  <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key%>">
      <%= value %>
    </div>
  <% end %>
</div>
  <% @posts.reverse.each do |post| %>
    <p class="post-message"><%= post.message %> <%= post.created_at.strftime("%d/%m") %></p>
    <p><%= User.find(post.user_id).first_name %></p>
    <% if current_user == User.find(post.user_id) %>
      <%= link_to 'Delete', post, method: :delete %>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Update
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
  	<%= bootstrap_form_for(post) do |f| %>
  	<p><%= f.text_area :message,
                        rows: 6,
                        required: true,
                        minlength: 20,
                        maxlength: 1000,
                        placeholder: post.message,
                        value: "",
                        class: 'form-control' %></p>
  	<%= f.submit "Accept", class: 'form-control create-post-button' %>
    <% end %>
  </div>
</div>
<%= link_to edit_post_path(post.id) do %>
        Edit
      <% end %>
    <% end %>
  <% end %>
  <br>

  <% if current_user %>
    <%= link_to new_post_path do %>
      New post
    <% end %>
  <% end %>
</div>
