<%= link_to new_post_path do %>
  New post
<% end %>

<div class="all-posts">
  <% @posts.each do |post| %>
    <% user = User.find_by(id: post.user_id) %>
    
    <div class="post">
        <p class="message">
        <p class="name"> <%= user.name %> <%= user.surname %></p>
        <p class="date"> <%= post.created_at.to_formatted_s(:short) %></p>
        <!-- PRE tags make HTML include whitespace -->
        <PRE class="messagePRE"><%= post.message %></PRE>
      </p>

      <span class="parent-likes">
      <a>
        <% if current_user.liked? post %>
          <div> <%= link_to like_post_path(post, 'unlike'), class: "liked-btn",
          method: :put, remote: :true do %> Liked
          </div>
          <% end %>
        <% else %>
          <div> <%= link_to like_post_path(post, 'like'), class: "like-btn",
          method: :put, remote: :true do %> Like
          </div>
          <% end %>
        <% end %>
      </a>
        <span class="like_count" <%= post.id %>>
          <%= post.get_likes.size %> &#128077
        </span>
      </span>

      <form class="form" action="/posts/<%= post.id %>/edit">
        <input class="btn btn-info" type="submit" id="submit_<%= post.id %>" value="update">
      </form>
      <%= form_for post do |form| %>
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn btn-info" type="submit" value="Delete">
      <% end %>
    </div>
    -------------------------------------------------------------------------------------------------------
  <% end %>
</div>
