
<% @posts.reverse.each do |post| %>
  <p><%= post.user.fname %> <%= post.user.lname %> </p>
  <p><%= post.message %></p>
  <div class = 'time' ><%=post.created_at.to_formatted_s(:short)%></div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
