<%= link_to new_post_path do %>
  <span class="new-post">
New post</span>

<% end %>
<div class="main-container">
<div class="postbox">
<% @posts.each do |post| %>

  <div class="post">
    <%= simple_format(post.message) %> <br>

    <span class="date">
       <% if post.created_at == post.updated_at %>
          created on <%= post.created_at.strftime("%d-%m-%Y") %>
       <% else %>
          updated on <%= post.updated_at.strftime("%d-%m-%Y") %>
       <% end %>


      <% if current_user.id == post.user_id %>
        <% if DateTime.now.to_i - post.created_at.to_i < 600 %>
          <%= button_to 'Edit', edit_post_path(post), method: 'get' %>
        <% end %>
        <%= link_to 'Delete', post_url(post), method: :delete %>
      <% end %>
      <%= link_to 'Comment', post_url(post), method: :get %>

    </span>

  </div>

<% end %>
</div>
</div>
