
<%= javascript_include_tag 'likes' %>

<% @posts.reverse_each do |post| %>
  <% if post.image.attached? %>
  <img src="<%=(url_for(post.image))%>"
     width="400" 
     height="400"/>
    <%# could maybe do with a better resizing option %>
    <%# resize before it goes into storage? %>
    <%# portrait vs landscape?? %>
    
  <% end %>
  <p><%= post.message %></p>
  <p>Likes: <%= post.likes.count %></p>
  <%= button_to 'Like', post_likes_path(post.id), method: :post %> 

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
