<% @posts.each do |post| %>
  <p><%= post.message %><br>
  <%= "iluvcatz123" %><br>
  <%= post.created_at.strftime("%m/%d/%Y, %H:%M") %>
  <%= link_to 'Destroy', post, :method => :delete, :confirm => "Are you sure?" %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
