<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.created_at %></p>
  <%= link_to 'Edit', edit_post_path(post.id) %>
  <%= link_to 'Delete', post_path(post.id), method: :delete %>
<% end %>

<%= link_to 'New Post', new_post_path %>
<%= link_to "Log Out", session_path(:current_user_id), method: :delete %> 
