<% @posts.each do |post| %>
  <p><%= post.message %> posted by
<%= post.user.first %> <%= post.user.last %> at
    <%= post.created_at %>
  <%= link_to 'Show', post_path(post) %></p>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
