<% if user_signed_in? %>
  <%= link_to "Log Out from #{current_user.email}", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path, method: :get %>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
<% end %> <br>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
