<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <% if post.file.attached? %>
    <%= link_to 'View Download', rails_blob_path(post.file, disposition: 'attachments')%>
  <%end%>
<% end %>
<<<<<<< HEAD
<br>
<br>
<%= link_to new_post_path do %>
||||||| 50b89d4

<%= link_to new_post_path do %>
=======

<%= link_to new_student_post_path do %>
>>>>>>> master
  New post
<% end %>
