<center>
<!-- <%= button_to new_post_path, :class => "button", :method => :get do %>
  New post
<% end %> -->

<% @posts.each do |post| %>
  <div class="container">
    <div class="post-container">
      <div class="card" style="width: 23rem;">
        <span class="border border-dark">
        <div class="card-header"><%= find_user(post.user_id).name.capitalize %> - <%= post.created_at.strftime("%d/%m/%Y") %></div>
          <div class="card-body">
            <div class="popuptext">
            </div>
            <p class="card-text"><%= post.message.gsub(/\n/, '<br>').html_safe %></p>
            <div class="card-buttons">
              <% if @current_user.id == post.user_id %>
                <% if (Time.now - post.created_at) < 600 %>
                  <%= button_to 'Edit', edit_post_path(post), :class => "button", :method => :get %>
                <% end %>
                <%= button_to 'Delete', posts_path(post), :class => "button", method: :delete %>
              <% end %>
            </div>
          </span>
        </div>
      </div>
  
      <div class="card" style="width: 23rem;">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= post.id %>_comments" aria-expanded="false" aria-controls="collapseExample">
          Comments
        </button>
        <div class="collapse" id="<%= post.id %>_comments">
          <div class="card card-body">
            <div id="<%= post.id %>_partial">
              <%= render partial: 'posts/comment', collection: post.comments.reverse %>
            </div>  
            <div id="<%= post.id %>_comment_form" class="comment-form">
              <%= render partial: 'comments/form', locals: {post: post, comment: post.comments.build} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</center>
