
  <% unless session[:display_welcome] %>
  <%= flash.now[:notice] = "Sign in succesful" %>
    <% session[:display_welcome] = true %>
  <% end %>

<% @posts.each do |post| %>
  <p class="msg"><%= h(post.message).gsub(/\n/, '<br/>').html_safe %>
    <br>On <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %>
    <br>By user number: <%= post.user_id %>
  </p>
<% end %>
<%= link_to new_post_path do %>
    <button type="button" class="btn btn-primary">New post</button>
<% end %>
