<li><%= link_to "Homepage", "/welcome", method: :get %></li>
<li><%= link_to "New post", "/posts/new", method: :get%></li>
<li><%= link_to 'Logout', '/logout', method: :post %></li>

<br>

<h1>Welcome, <%= current_user.username %></h1>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>