<p id=”notice”><%= notice %></p>

<% if current_user %>
  Welcome <%= current_user.name %>
 <%= link_to "Logout", logout_path %>
<br>
<% else %>
  <%= link_to "Sign Up!", signup_path %>
<br>
  <%= link_to "Log In", login_path %>
<br>
<% end %>

<% @posts.each do |post| %>
  <p> <%=post.created_at %><br><%= simple_format(post.message) %></p>
<% end %>

<%= link_to "New Post", new_post_path %>

