<% if user_signed_in? %>
  <%= form_for @post do |form| %>
    <%= form.text_area :message, placeholder: 'Enter your message' %>
    <%= form.submit "Post" %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <p class="post">
    <%= post.user.name %>
    - <%= best_in_place post, :message, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', activator: '#edit-' + post.id.to_s %>
    - <%= post.created_at.strftime("%e %B at %k:%M") %>
    <% if current_user.id == post.user_id %>
      - <%= link_to 'DELETE', post, method: :delete %>
      - <a href="#" id="edit-<%= post.id %>">EDIT</a>
    <% end %>
  </p>
  <p>
    <%= post.likes.length %> <%= 'Like'.pluralize(post.likes.length) %>
  </p>
  <% pre_like = Like.find_by(user_id: current_user.id, post_id: post.id) %>
  <% if pre_like %>
   <%= button_to "Unlike", post_like_path(post, pre_like), method: :delete %>
  <% else %>
    <%= button_to "Like", post_likes_path(post) %>
  <% end %>
  <% post.comments.each do |comment| %>
    <p><%= comment.comment %></p>
     <%= button_to "Delete", post_comment_path(post, comment), method: :delete %>
  <% end %>
  <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
    <%= form.text_field :comment %>
    <%= form.submit "Comment" %>
  <% end %>
<% end %>
