<h1>Welcome to your Acebook newsfeed!</h1>
<% @posts.each_with_index do |post, idx| %>
  <div id="post_div_<%=idx%>">
    <p id="post_body_<%=idx%>"><%= post.message %></p>
    <p>Likes: post.likes</p>
    <button id="post_like_<%=idx%>">Like!</button>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
