<% @posts.each do |post| %>
  <p><%= simple_format(post.message) %></p>
  <p><%= post.created_at.strftime('%H:%M, %-d %B') %></p>
  
  <div>
    <%= form_with(model: [ post, post.likes.build ], local: true) do |form| %>
      <p hidden><%= form.text_area :liker %></p>
      <%= form.submit "ðŸŸ", :class => "like" %>
      <%= post.likes.length - 1 %>
    <% end %>
  </div>

  <% if post.user_id == current_user.id %>
    <%= link_to edit_post_path(post.id) do %>
      Update
    <% end %>
    <%= button_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
