<%# <h1> Sign Up Successful! </h1> %>
<div id="posts-page-background">
  <section id="user-profile">
    <div class="user-card">
      <h1 id="user-card-heading"> What a specimen </h1>
      <%= image_tag "specimen.jpg", height:"100%", id:"profile-image"%>
      <p class="user-card-text" ><%= current_user.username %></p>
      <!-- <p class="user-card-text" >Bio</p> -->
    </div>
  </section>
  <div class="news-feed">
    <div id="new-post-card">
    <p id="new-post-tagline">Share what's on your mind....</p>
    <button class="new-post-button">
    <%= link_to new_post_path, :class  => "new-post-link" do %>
      New post
    <% end %>
    </button>
    </div>
    <% @posts.each do |post| %>
      <div class="post">
        <h4 class="post-heading">Posted by <%= User.find(post.user_id).username %> </h4>
        <p class="post-timestamp">Posted: <%= post.created_at.strftime("%e %B %Y at %H:%M") %></p>
        <p class="post-content"><%= post.message %></p>
<<<<<<< HEAD
        <% if current_user.id == post.user_id %>
          <span><button class="icon-button" id="delete-button">
          <%= image_tag "garbage.png", class:"icon-image"%>
          </button></span>
          <span><button class="icon-button" id="edit-button">
          <%= image_tag "edit.png", class:"icon-image"%>
          </button></span>
        <% end %>
        <button class="icon-button" id="like-button">
        <%= image_tag "like.png", class:"icon-image"%>
=======
        <span><button class="delete-button">
        <%= image_tag "garbage.png", id:"delete-image"%>
        </button></span>
        <span><button class="edit-button">
        <%= image_tag "edit.png", id:"edit-image"%>
        </button></span>
        <button class="like-button">
        <%= image_tag "like.png", id:"like-image"%>
>>>>>>> 81538bbaebc63727853bca986299f9b9e2934d8d
        </button>
        <span id="like_number">0</span>
      </div>
    <% end %>
  </div>
</div>
