
<head>
<link rel="stylesheet" href="/assets/iconstyles.css">
</head>
<%= render :partial => "/posts/create_post", locals: { post: @post}%>

<br>

<% @posts.reverse.each do |post| %>

   <%= render :partial => "./posts/view_posts", locals: { post: post}%> <br>
    <%= render :partial => "./likes/like_button", locals: { post: post, post_id: post.id}%> <br>
     <%= render :partial => "./comments/comment_form", locals: { comment: @comment, post_id: post.id}%> <br>
     <%= render :partial => "./comments/display_comment", locals: { comment: @comment, post: post}%> 

  </div>
<% end %>




