
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<p>
  <% @posts.each do |post| %>

    <%= post.message %>

  <br>
    -
<br>
      Created: <%= post.created_at.strftime("%B %d, %l:%M%P") %>
      Updated: <%= post.updated_at.strftime("%B %d, %l:%M%P")%>
    <br>
    -
  <p>



  <span class='parent-likes'>
    <span class="like_count" <%=post.id%>>
    <%= post.get_likes.size %> &#128077
    </span>
<br>
    <a>
      <%= link_to like_post_path(post), class:"like", method: :put do %>
      <button type='button' size='large' class='btn btn-info'>Like</button>
        <span class="badge">
          <% end %>  <%= link_to unlike_post_path(post), class:"unlike", method: :put do %>
            <button type='button' class='btn btn-info'>Unlike</button>
              <span class="badge">
                <% end %>

    </a>
  </span>
<p>
  <% end %>



<%= link_to new_post_path do %>

  New post
    <% end %>
