<% @posts.each do |post| %>
  <div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="profile-thumbnail">
              <img class="profile-thumbnail" src=<%= post.user.profilepic %>>
          </div>
          <div class="name">
              <%= link_to post.user.name, post.user %>
          </div>
          <div class="date">
              <%=post.updated_at.strftime("%B %d at %I:%M%p")%>
            </div>
        </div>
        <div class="content">
          <%= post.content %>
        </div>
        <hr>
        <div class="comments">
          <div class="likes">
            <% if post.votes_for.size > 0 %>
              Liked by
              <%= post.votes_for.voters.map { |u| u.name }.join(", ") %>
            <% end %>
          </div>
        <a class="like-button" rel="nofollow" data-method="put" href=<%=like_post_path(post.id)%>>
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </a>
        <button class="collapsible" id="Comments">Comments</button>
        <div class="collapsible-content">
        <div class="comments">
          <% post.comments.each do |comment| %>
            <p class="bubble">
              <%= link_to comment.user.name, comment.user %>
              <%= comment.body %>
            </p>
          <% end %>
          <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
            <p>
              <%= form.text_area :body,  id: "body", class: 'form-control', placeholder: 'Write a comment...' %>
            </p>
            <p>
              <%= form.submit 'Post', class: 'btn btn-primary' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
