<div class="text-center">
<br>
<% if current_user %>
<b>Welcome <%= current_user.name %>!</b>
<% end %>
<br><br>

<!-- confirming users are signed-up -->
<!-- <%= flash.notice %>
<%= link_to new_post_path, class:"new-post-btn" do %>
  New Post
<% end %>-->

<div class="text-center">
<br>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field  :receiver_id, value: current_user.id %>
  <%=form.hidden_field  :feed, value: true%>
  <%= form.submit "Submit" %>
<% end %>

</div>
<br><br><br>

<div class="main">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <strong><a href="<%= user_path(post.user.id) %>">
            <%= post.user.name %></strong>
          </a> said:
        </h5>
        
        <p class="card-text"><%= post.message %></p>
        
        <footer class="post-footer">
          <%= link_to "View post", post, class:"post-btn" %>
          <% if current_user.id == post.user.id %>
            <%= link_to "Edit post", edit_post_path(post), class:"post-btn" %>
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class:"post-btn" %>
          <% end %>
        </footer>
      </div>
    </div>

  <br><br>
  <% end %>

  </div>
</div>
