<%= button_to "Log out", logout_path, method: :delete %>

<%= flash[:edit_timeout_failure] %>

<% if flash[:success] %>
  <div class='notice'> <%= flash[:success] %> </div>
<% end %>

<% if flash[:no_delete] %>
  <div class='notice'> <%= flash[:no_delete] %> </div>
<% end %>


<% @posts.reverse.each do |post| %>
  <div id='post-<%= post.id %>' class='post'>

    <div class='message'>
      <%= simple_format post.message %>
    </div>

    <div class='user'>
      <%= User.find_by(id: post.user_id).email %>
    </div>

    <div class='timestamp'>
      <%= Post.format_time(post.created_at) %>
    </div>

    <% if post.allow_update? %>
      <div class="edit-link">
        <%= link_to edit_post_path(post) do %>
          edit post
        <% end %>
      </div>
    <% end %>

    <div class="delete-button">
      <%= button_to "Delete", post_path(:id => post.id), :method => :delete, :id => post.id %>
    </div>
  </div>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
