
<body class="post-page">

  <%= link_to new_post_path do %>
    New post
  <% end %>

  <main class="post-feed">
  <% @posts.reverse.each do |post| %>
    <div style="border: 1px solid blue">
      <%= post.user.email %><br/>
      <%= post.created_at.strftime("%e %B %Y %H:%M") %> 
      <p style="white-space: pre-wrap"><%= post.message %></p>
      <% if current_user.id == post.user_id %>
        <% if Time.now < post.created_at + 10.minutes %>
          <%= button_to "Edit post", edit_post_path(post), method: :get %>
          <% end %>
        <%= button_to "Move to recycle bin", post_path(post), method: :delete  %>
      <% end %>
    </div>
    <br>
  <% end %>
  </main>

</body>

<!-- post_path(post), method: :delete -->
