<DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>  
  
<body>

<%= wall.username %>'s wall.<br>

<h2><%= flash[:success] %></h2><br>

<%= link_to new_user_post_path do %>
  New post
<% end %><br>

<h2 id='error1'><%= flash[:liked] %></h2>
<div>
  <% @posts.each do |post| %>
    <ul>
      <li>
        <div class='post-text'>
          <blockquote>
            <%= post.message %>

            <div class='post-date'>
              [<%= get_username(post.user_id) %>]
              [<%= post.updated_at.strftime("%Y-%m-%d, %H:%M")%>]
            </div>
          </blockquote>
        </div>

        <% pre_like = post.likes.find { |like| like.user_id == current_user.id } %>
        <div class='likes'>
          <% if pre_like %>
            <%= button_to Emoji.find_by_alias("thumbsdown").raw, post_like_path(post.id, pre_like.id), method: :delete %>
          <%else %>
            <%= button_to Emoji.find_by_alias("thumbsup").raw, post_likes_path(post.id), method: :post %>
          <% end %>
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        </div>
        <%= button_to "Edit", edit_user_post_path(:user_id => post.recipient_id, :id => post.id) %>
        <%= button_to "Delete", user_post_path(:id => post.id), :method => :delete, data: {confirm: 'Are you sure?'} %>
      </li>
    </ul>
  <% end %>
</div>
