<div class="col-md-3 mx-auto card" style="text-align: center;">
  <h5 style="margin-top: 10px; padding: 10px;">Add a new post</h5>
  <%= form_for @post do |form| %>
    <%= form.text_area :message, class:"form-control", id:"exampleTextarea", rows:"3" %>
    <br>
    <%= form.submit "Add post", class:"btn btn-primary btn-block"%>
  <% end %>
  <hr>
  <% @posts.each do |post| %>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">Posted by: <%= current_user[:user_name] %> - on <%= post.updated_at.strftime("%b %d. %Y - %H:%M:%S") %></div>
      <div class="card-body">
        <% post.message.split("\n").each do |p| %>
          <p class="card-text" style="text-align: left">
            <%= p %>
          </p>
        <% end %>
        <% if current_user.id == post.user_id  %>
          <% if Time.now < (post.created_at + 600) %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
