<h1>Welcome <%= current_user.name %></h1>

<div class="news_feed">
<% @posts.each do |post| %>
  <div class="post"><p class="name"><%= User.find_by(id: post.user_id).name %>:</p>
  <p class="message"><%= post.message %> </p> 
  <p class="post_time"><%= post.created_at %></p>
  <p class="edited"><%= "Edited" if post.updated_at != post.created_at %> </p>
  <%= link_to "Edit post", edit_post_path(:id => post.id) if  post.user_id == current_user.id %>
  <hr>
  </div>
<% end %>
</div>

<%= link_to new_post_path do %>
  New post
<% end %>
