<% if user_signed_in? %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <h2> Welcome <%=current_user.username%> </h2>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path, method: :get %>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
<% end %> <br>

<%= link_to "New Post", new_post_path, method: :get %> <br>

<% @posts.reverse_each do |post| %>
  <p>
  <strong> <%= post.user.username %> </strong> @ <em> <%= post.updated_at %> </em>
  <br>
  <%= post.message %>
  <% if current_user && (current_user.id == post.user_id) %>
    <%= link_to 'Edit', edit_post_path(post.id)%>
    <%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= form_with model: @comment, url: comments_path do |form| %>
    <%= form.label :comment %>
    <br>
    <%= form.text_field :text %>
    <%= form.submit %>
    <%= form.hidden_field :post_id, :value => post.id %>
  <% end %>
  </p>
<% end %>
