<div class="container text-center">
  <% @posts.reverse.each do |post| %>
    <p class="post-message"><%= post.message %> <%= post.created_at.strftime("%d/%m") %></p>
<<<<<<< HEAD
    <a href="users/<%=User.find(post.user_id).id%>"><%= User.find(post.user_id).first_name %></a>
=======
    <p><%= User.find(post.user_id).first_name %></p>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? ' Like' : ' Likes'%></p>
    
>>>>>>> 40bea47ca546df15ec9682b2fbcf415ac9d05770
    <% if current_user == User.find(post.user_id) %>
      <%= link_to 'Delete', post, method: :delete %>
      <%= link_to edit_post_path(post.id) do %>
        Edit
      <% end %>
    <% end %>

    <% if current_user %>
      <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
        <% else %>
        <%= button_to 'Like', post_likes_path(post), method: :post %>
      <% end %>
    <% end %>

  <% end %>
  <br>

  <% if current_user %>
    <%= link_to new_post_path do %>
      New post
    <% end %>
  <% end %>
</div>
