<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<p id=”notice”><%= notice %></p>
<h3> Hello, <%= current_user.firstname %>. (<%= link_to "Log out", session_path(:id => current_user.id), :method => :delete %>)</h3> 
<%= link_to "Profile", profile_index_path(:id => current_user.id) %>

<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
  <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @post do |form| %>
  <%= form.label :message%>
  <%= form.text_area :message, placeholder: "What are your thoughts?" %>
  <%= form.hidden_field :user_id, :value => current_user.id %>


  <%= form.submit "Submit" %>
<% end %>

<% @posts.reverse.each do |post| %>
  <p><%= User.find(post.user_id).firstname %></p>

  <p> <%= simple_format(post.message) %></p>
    <% if post.user_id == current_user.id %>
        <% if post.editable? %>
          <%= link_to "Edit", edit_post_path(post), id: 'edit' %>
        <% end %>
        <%= link_to "Delete", destroy_post_path(:id => post.id), :method => :delete %>
    <% end %>

  <p> <%= post.updated_at.in_time_zone("London") %> </p>

  <% post.comments.each do |comment| %>
    <p><%= User.find(comment.user_id).firstname %></p>
    <p><%= simple_format(comment.body) %></p>  
  <% end %>
  <%= form_for([post, post.comments.build]) do |form| %>
  
    <p>
      <%= form.text_area :body, placeholder: "Add comment" %>
    </p>
    <p>
    <%= form.submit "Submit" %>
    </p>
  
    <% end %>

<% end %>
