<!DOCTYPE html>
<html lang="en" dir="ltr">
<p id="notice"><%= notice %></p>
  <head>
    <meta charset="utf-8">
    <title>Show posts</title>
  </head>
  <body>

  <div class="posts-list">
    <% @posts.each do |post| %>
    <div class="single-post">
        <tr>
          <td><p><strong><%= post.user_name %></strong></p></td>
          <td><p><%= post.message %></p></td>
          <td><small>posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small></td>
          <% if post.user_name === current_user.name %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
    </div>

    <p>Comments:</p>
    <!-- Loop for comments -->
    <% post.comments.each do |comment| %>
      <div class="single-comment">
        <p>
          <strong><%= comment.user_name %></strong>: <%= comment.body %>
        </p>
      </div>
    <!-- End Loop -->
    <% end %>
    <div>
      <!-- Leave a comment form-->
      <!-- array may not work, it generates a view for just the post-->
      <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
        <p>
          <%= form.text_area :body, placeholder: "Leave a comment" %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
    <br>
    <% end %>
  </div>

  <div class="new-post-link">
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </div>

</body>
</html>
