<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<h1>Acebook</h1>
<table>
<% @posts.sort_by { |x| x.created_at }.reverse.each do |post| %>
  <tr>
    <td><%= post.created_at.in_time_zone("Berlin").strftime("%a %e %b %H:%M") %></td>
    <td><%= post.message %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post_path(post),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to new_post_path do %>
  <p>New post</p>
<% end %>
