<h1>byteU Feed</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Post</th>
    <th></th>
  </tr>
  <%= @posts.each do |post| %>

  <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, post_path(post) %></td>
      <td><%= link_to '<button type="button">Update</button>'.html_safe, edit_post_path(post) %></td>
      <td><%= link_to '<button type="button">Delete</button>'.html_safe, post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete?' } %></td>

    </tr>

<% end %>
</table>


<%= link_to '<button type="button">Write a new post</button>'.html_safe, new_post_path %>
