<div class="container-fluid">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<button type="button" class="btn btn-default btn-lg new-post">
<span class="new-post" aria-hidden="true">
  <%= link_to 'New Post', new_post_path %>
</span>
</button>
  <% @posts.each do |post| %>
    <div class="card text-center">
      <div class="card-header">
        <h3><%= post.user_first_name %></h3>
        <p> posted <%= time_ago_in_words(post.created_at) %> ago</p>
      
        <% if can? :manage, post, user_id: current_user.id %>
      <%= link_to edit_post_path(post), class: 'btn btn-success' do %>
        <span class="pull-right"></span> Edit Post
      <% end %>
    <% end %>
      <span class="card-img-top">
        <%= image_tag post.postimage.square.url, :class => "post_image", :style => "width: 90%" if post.postimage? %>
      </span>

      <div class="card-body">
        <p class="card-text"><%= post.message %></p>
      </div>
      <%= link_to like_post_path(post), method: :put do %>
        <i class="far fa-thumbs-up fa-3x like"></i>
      <%= post.get_upvotes.size %>
      <% end %>
      
      <%= link_to dislike_post_path(post), method: :put do %>
        <i class="far fa-thumbs-down fa-3x hate"></i>
        <%= post.get_downvotes.size %>
      <% end %>

      <div class="comment-section" style="padding-top: 4%;">
      <p><%= post.comments.count %> Comments</p>
      <h3> Leave a comment </strong></h3>
      <%= form_with( local: true, url: '/comments', method: 'post') do |form| %>
  <div class="field">
    <p class="comment-text" style="border:1px solid black;"><%= form.text_area :body, id: :comment_body %></p>
  </div>

  <%= form.hidden_field :post_id, value: post.id %>

  <button type="button" class="actions btn-btn-danger" style="border:1px solid black;">
    <%= form.submit %>
  </button>
<% end %>
      <%
      count = 0
      max_comments = 3
      if post.comments.count < max_comments
        post.comments.each do |comment| %>
        <div class = comment-box>
          <p class="comment-text"><%= comment.user_first_name %> said: <%= comment.body%></p>
        </div>
        <% end
      else
        while count < max_comments do %>
        <div class = comment-box> 
          <p class="comment-text"><%= post.comments[count].body%></p>
        </div>
        <% 
        count += 1
        end 
      end %>
    </div>
  </div>
      
    </div>    
  <% end %>   
    </div>
    </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
  </div>
</div>

