<h1>Posts</h1>

<%= link_to new_post_path do %>
  New post
<% end %>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-xl-4" align="center">
      <div class="posts-index-cont">
        <% if post.image.attached? %>
        <div class="posts-index-img-cont">
          <%= image_tag post.image, class: 'post-img' %>
        </div>
        <% end %>
        <div class="posts-user-avatar">
          <%# User avatar here %>
        </div>
        <div class="heading-container">
          <h2 class="h2-med white-text">
            <%= post.title[(0...70)] %>
            <%= "..." if post.title.length > 50 %>
          </h2>
        </div>
        <div class="post-stats-div">
          <div class="views-div">
            <%= image_tag 'views-icon.png', class: 'post-stats-icon' %>
            <p class="count white-text">sample</p>
          </div>
          <div class="likes-div">
            <%= image_tag 'likes-icon.png', class: 'post-stats-icon' %>
            <p class="count white-text">sample</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
