<!DOCTYPE html>
<html lang="en" dir="ltr">
<p id="notice"><%= notice %></p>
  <head>
    <meta charset="utf-8">
    <title>Show posts</title>
  </head>
  <body>

  <div class="posts-list">
    <% @posts.each do |post| %>
    <div class="single-post">
            <p>
              <big><strong><%= post.user_name %></strong><br>
              <%= post.message %><br></big>
              <small>posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
            </p>

          <% if post.user_name === current_user.name %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
    </div>
    <button class='collapsible commentsButton'><%= post.comments.length %> comments</button>
    <div class='commentsContainer'>
      <!-- Loop for comments -->
      <% post.comments.each do |comment| %>
        <div class="single-comment">
          <p>
            <strong><%= comment.user_name %></strong>: <%= comment.body %>
          </p>
        </div>
      <!-- End Loop -->
      <% end %>
      <div>
        <!-- Leave a comment form-->
        <!-- array may not work, it generates a view for just the post-->
        <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
          <p>
            <%= form.text_area :body, placeholder: "Leave a comment" %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </div>
    </div>
    <br>
    <% end %>
  </div>
  <br>
  <div class="new-post-link">
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </div>

</body>
</html>
