<%= stylesheet_link_tag "profile" %>

<body>
  <div id="page-header">
    <div>
      Welcome to ConnectU
    </div>
  </div>

  Hi, <%= current_user.email %>!

  <%= button_to new_post_path, method: "get" do %>
  New Post
  <% end %>
  <%= button_to profile_index_url, method: "get" do %>
  Profile
  <% end %>

  <% @posts.each do |post| %>

  <div id="post-container">
    <div id="post-header-container">
      <div id="post-profile-picture-container">
        <div id="post-profile-picture"></div>
      </div>

      <div id="post-details-container">
        <div id="post-user-email"><%= post.user.email %></div>
        <div id="post-created-at"><%= post.get_time %></div>
      </div>
      <div id="post-options-container">
        <div id="post-delete-button-container">
          <% if post.user_id == current_user.id %>
          <%=button_to 'Delete post', post_path(post), id: "delete", method: :delete %>
          <% end %>
        </div>

        <div id="post-edit-button-container">
          <% if ( Time.now - post.created_at ) < 600 && post.user_id == current_user.id %>
          <%= button_to 'Edit Post', edit_post_path(post), method: "get", id: "edit" %>
          <% end %>
        </div>
        <%= form_with(model: [ post, Comment.new ], local: true) do |form| %>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
          </p>
          <p>
          <%= form.submit %>
          </p>
          <% end %>

          <h2>Comments</h2>
            <% post.comments.each do |comment| %>

              <p>
              <strong>Commenter:</strong>
                <%= comment.user.email %>
              </p>

              <p>
              <strong>Comment:</strong>
              <%= comment.body %>
              </p>

              <div id="comment-edit-button-container">

                <% if ( Time.now - comment.created_at ) < 600 && comment.user_id == current_user.id %>
                <%= button_to 'Edit Comment', edit_comment_path(comment), method: "get", id: "edit" %>
                <% end %>
              </div>
              <% end %>




        <div id="post-message-container">
          <div id="post-message"><%= post.message %></div>
        </div>

      </div>

    </div>
  </div>
  <% end %>
</body>
