<h1>Welcome <%= @user.fname %> <%= @user.lname %></h1>

<div class="form-row align-items-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @new_post do |post| %>
      <div>
        <%= post.label :message %>
        <%= post.text_field :message, class: 'form-control'%>
        <%= post.submit "Submit", class: "btn btn-sm btn-primary my-2" %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <% @posts.each do |post| %>
    <div class='row'>
      <p><%= post.message %></p>
    </div>
    <div class='row'>
      <p>Posted at: <%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></p></br>
      User ID: <%= post.user_id %>
    </div>
    <div class='row'>
      <%= button_to 'Delete Post', {:controller => :posts,
          :action => 'destroy', :id => post.id }, :method => :delete, class: 'btn btn-sm btn-primary' %>
          <a href="/posts/<%= post.id %>/edit" class='btn btn-primary btn-sm' role='button'>Update Post</a>

    </div>
  <% end %>
</div>
</br>
<div class='container my-3'>
  <a href='/posts/new' class='btn btn-primary btn-sm' role='button'>New Posts</a>
</div>

USER ID <%= session[:user_id] %>
