<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.updated_at.in_time_zone("London") %></p>
<% end %>

<!-- <%= link_to new_post_path do %> -->
<!--   New post -->
<!-- <% end %> -->
