<p> Welcome <%= current_user.first_name + " " + current_user.surname %> </p>
<% all_posts = @posts.sort_by { |sorted| sorted[:created_at] }.reverse! %>
<p>
<% all_posts.each do |post| %>
  <% sort_posts = post.message.split("\r\n") %>
  <% sort_posts.each do |sortpost| %>
    <%= sortpost %> <br>
  <% end %>
  <%= post.created_at.strftime("Posted at: %H:%M on %A %d %B, %Y") %>
  </p>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
<br>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
