<%= form_for @post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><p>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <ul>
  <b><p><li><%= post.username %></li></p></b>
      <p><%= post.message %></p>
      <p><%= post.created_at %></p>
      <p></p>
      <br>
  </ul>
<% end %>