<%= form_for @post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><p>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
<div>
        <b><p></p><li><%= post.username %></li><p></p></b>
    <div id="post_1" contenteditable data-name="custom-text">
       <p id="1" class="clickable-text"><%= simple_format(post.message) %></p>
    </div>
        <p><%= post.created_at %></p>
</div>
<% end %>
