<body class="header">
  <div class="header">
    <h1>Acebook</h1>
    <% if logged_in? %>
      <h4><%= link_to 'Log out', logout_path,
      method: :delete,
      data: { confirm: 'Are you sure?' } %></h4>
    <% else %>
      <h4><%= link_to 'Sign up', new_user_path %></h4>
    <% end %>
  </div>
</body>

<body class="posts-body">
  <header>

    <h3><% if logged_in? %>
      Welcome back <%= current_user.first_name.capitalize %>!
    <% else %>
      You need to sign up or log in to use Acebook
    <% end %></h3>

    <h4><%= link_to 'New post', new_post_path %></h4>

  </header>
  <br>

  <header>
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>

      <div class="posts-card">
        <div class="posts-header-container">
          <div class="posts-header-left">
              <h5><%= post.username %></h5>
          </div>
          <div class="posts-header-right">
              <h5><%= post.created_at.strftime("%d-%m-%Y")%>
              at <%= post.created_at.strftime("%I:%M %p")%></h5>
          </div>
        </div>
        <p><%= h(post.message).gsub(/\n/, '<br/>').html_safe %></p>

          <% if post.post_owner?(current_user.id) %>
          <h5><%= link_to 'Delete', post_path(post),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_post_path(post) %></h5>
          <% else %>
          <% end %>

      </div>
    <br>
    <% end %>
  </header>
</body>
