<h2>describe <mark class="green">"#posts"</mark> <mark class="purple">do</mark></h2>
<div class="new_post">
  <p class="it_block">it <mark class="green">"allows user to create new post"</mark> <mark class="purple">do</mark></p>
    <%= link_to new_post_path do%>
      <div class="new_post_link">
        get: <mark class="blue">new_post</mark>
      </div>
    <% end %>
  <p class="end"><mark class="purple">end</p>
</div>

<%= render 'layouts/new_post_form' %>

<div class="all_posts">
  <p class="it_block">it <mark class="green">"allows user to see all posts"</mark> <mark class="purple">do</mark></p>
  <% @posts.each do |post| %>
    <div class="post_container">
      <p class="post_message"><mark class="grey">post.message =</mark> <%= post.message %></p>
      <% customer = Customer.find(post.customer_id) %>
      <p class="post_by"><mark class="grey">post.by = </mark><%= "#{customer.first_name} #{customer.last_name}"%></p>
      <p class="post_time"><mark class="grey">post.created_at = </mark><%= post.created_at.strftime("%H:%M:%S %m/%d/%Y") %></p>
    </div>

    <% end %>
  <p class="end"><mark class="purple">end</p>
</div>
<h2 class="end"><mark class="purple">end</mark></h2>
