
<div class="container text-center">

<%= link_to new_post_path do %>
  New post
<% end %>

<div class="panel-body">
<% @posts.each do |post| %>
  <div class="media-block">
  <%= post.created_at.strftime("%d %b %y") %>
  <%= post.message %><br>
  <%= link_to 'Delete', post_path(post), 
                method: :delete, 
                data: { confirm: 'Are you sure?' } %>
    <% if post.created_at >= Time.now - 10*60 %>
      <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  </div><br>
<% end %>
</div>

</div>