<body class="header">
  <div class="header">
    <h1>Acebook</h1>
    <% if logged_in? %>
      <h4><%= link_to 'Log out', logout_path,
      method: :delete,
      data: { confirm: 'Are you sure?' } %></h4>
    <% else %>
      <h4><%= link_to 'Sign up', new_user_path %></h4>
    <% end %>
  </div>
</body>

<body class="posts-body">
  <header>

    <h3><% if logged_in? %>
      Welcome back <%= current_user.first_name.capitalize %>!
    <% else %>
      You need to sign up or log in to use Acebook
    <% end %></h3>

    <h4><%= link_to 'New post', new_post_path %></h4>

  </header>
  <br>

  <header>
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>

      <div class="posts-card">
        <div class="posts-header">
            <h5><%= post.created_at.strftime("%d-%m-%Y")%>
            at <%= post.created_at.strftime("%I:%M %p")%></h5>
        </div>
        <p><%= h(post.message).gsub(/\n/, '<br/>').html_safe %></p>
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id } %>
        <% if pre_like %>
         <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
        <% else %>
         <%= button_to 'Like', post_likes_path(post), method: :post %>
        <% end %>        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

        <h5><%= link_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_post_path(post) %></h5>
      </div>

    <br>

    <% end %>
  </header>
</body>
