<h1> Your posts </h1>

<% @posts.reverse.each do |post| %>
  <div>
  <p><%= post.message %></p>
  <p><%= post.created_at.strftime("%b %e, %l:%M %p") %></p>
  <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
  <%= link_to "Update", edit_post_path(post), :class => 'btn btn-default' %>
  <%= link_to "Delete", post_path(post), method: :delete, 
                                          data: {confirm: 'Are you sure?'},
                                          :class => 'btn btn-danger' %>
</div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
