<body>
  <% @posts.reverse.each do |post| %>
    <p><%= post.message %></p>
    <p><%= post.user.username %></p>
    <p><%= post.created_at %></p>

    <% if  post.user == current_user %>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
    <p><%= link_to 'Delete', destroy_post_path(id: post.id), method: :delete %>
    <% end %>
    <p>-------------------------<p>
  <% end %>

  <%= link_to new_post_path do %>
    New post
  <% end %>
</body>
