
<center>
<%= link_to new_post_path do %>
  New post
<% end %>
  <% @posts.each do |post| %>
    <li> 
      <div class="card" style="width: 23rem;">
        <span class="border border-dark">
        <div class="card-header"><%= find_user(post.user_id).name.capitalize %> - <%= post.created_at.strftime("%Y-%m-%d") %></div>
          <div class="card-body">
          <p class="card-text"><%= post.message.gsub(/\n/, '<br>').html_safe %></p>
          <% if @current_user.id == post.user_id %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= button_to 'Destroy', posts_path(post), method: :delete %>
          <% end %>
          </div>
        </span>
      </div>
    </li>
  <% end %> 
</center>
