<p id="notice"><%= notice %></p>

<% @posts.sort{ |a,b| b.created_at <=> a.created_at}.each do |post| %>
  <p><%= h(post.message).gsub(/\n/, '<br/>').html_safe %>
    <% if post.photo.present? %>
      <p><%= image_tag post.photo.url(:medium) %></p>
    <% end %>
    <br>
    <% if post.user != nil%>
      <i>by
        <b><%= link_to post.user.name, post.user %></b>
        on
        <b><%= post.created_at.strftime("%d/%m/%Y at %I:%M%p") %></b>
        <% if current_user != nil %>
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
            <% else %>
              <%= button_to 'Like', post_likes_path(post), method: :post %>
            <% end %>
          <% end %>
          <br>
          <%= post.likes.count %>
          <%= post.likes.count == 1 ? 'Like' : 'Likes'%>
        </i>
      <% else %>
        <i>anonymous</i>
      <% end %>
      <p>
        <% if post.user == current_user %>
          <%= link_to edit_post_path(id: post.id) do %>Edit<% end %>
        <%= link_to "Delete", post, method: :delete %>
      <% end %>
    </p>
  <% end %>
  <%= link_to "Make Friends", users_path %>
  <% if current_user != nil %>
    —
    <%= link_to "My Friends", { :controller => "users", :action => "show", :id => current_user } %>
  <% end %>
  —
  <%= link_to new_post_path do %>
  New post
<% end %>