<body class = "post_page">

 <% if !@user.nil? %>
<h1> Hello, <%=@user['username']%></h1>
<% end %>

  <div class="posts">
    <% @posts.each do |post| %>
    <div id="<%= "post#{post.id}" %>"class="post_container">
     <% @users.each do |user| %>
     <% if user.id  == post.signup_id %>
    <%= "#{user.username} : #{post.message}" %>
    <% end %>
    <% end %>
      <div class="post_message">
        <%= post.message %>
      </div>
      <div class="time_container">
        <div class="time">
          <% time = post.created_at.to_s %>
          <%= time[8..9] + "/" + time[5..6] + "/" + time[0..3] %>
        </div>
        <div class="button">
          <% if post.signup_id == session[:user_id] %>
          <form class="" action="posts/update" method="get" >
            <input type="hidden" name="post_id" value="<%= post.id %>">
            <input class="edit" type="submit" id = "<%="Edit#{post.id}"%>" value="<%="Edit"%>">
          </form>
          <form class="" action="posts/delete" method="get" >
            <input type="hidden" name="post_id" value="<%= post.id %>">
            <input class="edit" type="submit" id = "<%="Delete#{post.id}"%>" value="<%="Delete"%>">
          </form>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="new_post_link">
    <%= link_to new_post_path do %>
    New post
    <% end %>
  </div>
</body>
