<body class="post-page">

    <main class="post-feed">
    <% @posts.reverse.each do |post| %>
      <div class="post-body" >
        <%= post.user.email %>
        <%= post.created_at.strftime("%e %B %Y %H:%M") %>

        <% if current_user.id == post.user_id %>
          <% if Time.now < post.created_at + 10.minutes %>
            <%= link_to (fa_icon "pencil"), edit_post_path(post), method: :get %>
          <% end %>
          <%= link_to (fa_icon "trash"), post_path(post), method: :delete  %>
        <% end %>

        <p style="white-space: pre-wrap"><%= post.message %></p>
        <%= link_to toggle_favorite_post_path(post), remote: true, method: :post do %>
          <% if current_user.favorited?(post) %>
            <% colour = 'color:blue;' %>
          <% else %>
            <% colour = 'color:grey;' %>
          <% end %>
          <%= fa_icon "thumbs-up", style: colour, id: "like-button-#{post.id}" %>
          <%= tag.span id: "like-count-#{post.id}" do %>
            <%= post.favorited.count %> <%= (post.favorited.count) == 1 ? 'like' : 'likes' %>
          <% end %>
        <% end %>
      </div>
      <br>
    <% end %>
    </main>

</body>
