<h1>All Posts</h1>
<% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
<% @posts.each do |post| %>
  <div class="container p-3 my-3 border shadow">
    <strong><%= post.user.email %>:</strong>
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime("%H:%M:%S - %d/%m/%Y") %>
    <%= link_to 'Delete', post_path(post),
    method: :delete %>
  </p>
  </div>
<% end %>
