<p id="notice"></p>

<h1 style="text-align:center">Posts</h1>

<%= render 'post_form', post: @post %>

<% @posts.to_a.reverse.each do |post| %>
  <div class="post-box">
    <div class="container">
      <div class="box blue">

        <table style="width: 100%">
          <tr class="header">
            <td style="width: 5%">
              <% if post.user.avatar.attached? %>
                <%= image_tag post.user.avatar.variant(resize: "30x30").processed %>
              <% else %>
                <%= image_tag("default_profile_pic.png", :style => 'max-width:30px;max-height:30px;') %>
              <% end %>
            </td>
            <td>
              <div>
                <%= post.user.email %>
              </div>
              <div style="color:#9197a3">
                <i><small><%= time_ago_in_words(post.updated_at) %> ago</small></i>
              </div>
            </td>
          </tr>
        </table>

        <div class="body">
          <div id="card-text-<%= post.id %>"> <%= simple_format(post.message) %></div>
        </div>


        <div id="edit-post-<%= post.id %>" class="edit-options">
          <%= form_with model: @post, url: "/posts/#{post.id}/", method: :patch, local: true do |form| %>
            <div class="form-inline">
              <%= form.text_field :message, value: post.message, class: "form-control" %>
              <%= form.submit "Update", class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>

        <div class="footer">

          <div id="footer-top-container" style="display:flex; align-items: center; justify-content: center; ">

            <div id="post-likes" style="flex:auto ">
              <%= link_to(image_tag("thumbs-up-circle-blue-512.png", :style => 'max-width:100%;max-height: 17px;'), post_like_path(post.id, current_user.id), :method => :patch) %>
              <% @like_count = 0 %>
              <% post.likes.to_a.each do %>
                <% @like_count += 1 %>
              <% end %>
              <%= @like_count == 0 ? "" : @like_count %>
            </div>

            <div id="post-comments" style="flex:auto">
              <%= link_to "#{post.comments.count != 0 ? pluralize(post.comments.count, 'comment') : 'comment'}", "#", class: "comment-button", id: "comment-button-#{post.id}" %>
            </div>

            <% if post.user.id == current_user.id %>
              <div style="flex:auto">
                <%= link_to "Edit", "#", class: "edit-button", id: "edit-button-#{post.id}" %>
              </div>

              <div style="flex:auto">
                <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'}, class: "card-link" %>
              </div>

            <% end %>

          </div>


          <div id="comment-options-<%= post.id %>" class="comment-options">

            <% post.comments.find_each do |comment| %>
              <p><%= comment.message %></p>
              <div style="color: #9197a3">
                <small><i><%= time_ago_in_words(post.updated_at) %> ago by <%= comment.email %></i></small></div>
              <% if post.user.id == current_user.id %>


                <div style="flex:auto">
                  <%= link_to 'Delete', post_comment_url(post.id, comment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              <% end %>

            <% end %>



            <%= form_with model: @comments, url: '/posts/' + post.id.to_s + '/comments', method: "post", local: true do |form| %>
              <div class="form-inline">
                </br>
                <%= form.text_field :message, placeholder: "Type a comment", class: "form-control", id: "message_body" %>
                <%= form.submit "Send", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>

<% end %>
