<head>
  <title> Listings</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
  body {
    background-color: #f2f2f2;
  }

  .post {
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-shadow: 1px 3px #888888;
    box-sizing: border-box;
    padding: 25px;
  }

  .profilepic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .username {
    font-weight: bold;
  }

  .time {
    font-size: 0.7em;
    text-align: right;
  }

  .edit-delete {
    text-align: right;
  }
</style>

<h5>Welcome, <%= User.find_by(id: session[:user_id]).full_name %>!</h5>

<%= link_to new_post_path do %>
  New post
<% end %>

<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">

    <% @posts.reverse.each do |post| %>
      <div class="post">
    
        <img class="profilepic" src="<%= post.user.profile_picture %>" width="100" height="100" ><br>
        <div class="username"><%= post.user.username %> <br></div>
        <p><%= simple_format post.content %></p>
        <div class="time">
        <% if post.created_at != post.updated_at %>
        edited: <% end %>
        <%= time_ago_in_words(post.updated_at) %> ago<br>
        <%= post.created_at.strftime("%H:%M %a %e %b %Y") %>
        </div>
        <br>
        <div class="edit-delete">
        <% if post.user_id == session[:user_id] %>
          <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to 'Delete', post, :method => :delete, data: {:confirm => "Are you sure?"} %>
        <% end %>
        </div>
      </div>
      <br>
    <% end %>
    
    </div>
    
    <br>
    <br>


    </div>
    <div class="col-2">
    </div>
  </div>
  </div>
<div class="posts">




</body>