
<%= link_to new_post_path do %>
  New post
<% end %>

<%= link_to logout_path do %>
  Log out
<% end %>

<% if current_user %>
Welcome to Acebook <%= current_user.name %>
<% end %>

<% if flash[:danger] %>
<%= flash[:danger] %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= simple_format(post.message) %>
      <p><%= post.user.name %></p>
      <p><%= post.updated_at.strftime("%eth %b %Y %T") %></p>
      <% if post.user == current_user %>
        <%= link_to '❌', post_path(post), method: :delete, id: "delete-#{post.id}" %>
        <% if post.editable? %>
          <%= link_to '✏️', edit_post_path(post.id) %>
        <% end %>
      <% end %>
    <%= link_to new_post_comment_path(post.id) do %>
      Comment
    <% end %>
    <ul>
      <% post.comments.each do |comment| %>
      <li>
        <p><%= comment.comment %></p>
      </li>
        <% if comment.user == current_user %>
          <%= link_to '❌', post_comment_path(post, comment), method: :delete, id: "delete-#{comment.id}" %>
          <% if comment.editable? %>
            <%= link_to '✏️', edit_post_comment_path(post.id, comment.id) %>
          <% end %>
        <% end %>
        <% end %>
    </ul>
    </li>
  <% end %>
</ul>
