<ul>
  <% @posts.each do |post| %>
    <li>
      <p>date:<%= post.created_at.strftime("%Y-%m-%d") %></p>
      <p>post:<%= post.message.gsub(/\n/, '<br>').html_safe %></p>
      <% if @current_user.id == post.user_id %>

        <% if (Time.now - post.created_at) < 600 %>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
        <% end %>
        <p><%= button_to 'Destroy', posts_path(post),
              method: :delete %></p>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
