<%= button_to 'Log Out', log_out_url %>

<%= session[:user]["name"] %>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p>Posted by: <%= User.find_by(id: post.user_id).name %></p>
  <p>Posted at: <%= post.simplifytime %></p>
  <p>Posted on: <%= post.simplifydate %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
