<%= link_to logout_path, method: :delete do %>
  Log out
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.reverse.each do |post| %>
  <p><%= simple_format(post.message) %>

    <%=post.user.first_name%> <%=post.user.last_name%></p>
  <p><%= post.created_at %></p>

  <p>
 <% if post.user.id == @user.id%>
    <%= link_to 'Delete Post', post_path(post),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
    <%end%>
<% end %>
