<div class="container">
<div class="card border-primary mb-3" style="max-width: 80%; margin-top: 40px;">
  <div class="card-header">Create a post</div>
  <div class="card-body">
    <%= form_for @post, html: {multipart: true} do |form| %>
      <p><%= form.text_area :message, class:"form-control", :cols => 40, :rows => 5 %></p>
      <p><%= form.file_field :image, class:"form-control-file" %></p>
      <%= form.submit "Submit", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
  <% @posts_with_users.each do |post| %>
<div class="card border-primary mb-3" style="max-width: 80%; margin-top: 40px">
  <div class="card-header"><%= link_to (post.first_name + ' ' + post.last_name), "/users/#{post.user_id}" %> | <%= post.created_at.strftime("%e %b %Y %H:%M") %></div>
  <div class="card-body">
    <p id="post-id-<%= post.id %>"><%= simple_format(post.message) %></p>
      <% unless post.get_photo_by_post(post.id).nil? %>
        <%= image_tag(post.get_photo_by_post(post.id).image.url, style:'width:50%') %>
      <% end %>
    <p><% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete, class:"btn btn-primary" %>
      <% else %>
        <%= button_to 'Like', post_likes_path(post), method: :post, class:"btn btn-primary" %>
    <% end %></p>

    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

    <p><% if current_user.id == post.user_id %>
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Destroy', post, method: :delete%>
    <% end %></p>
  </div>
</div>
<% end %>
</div>
