<% if user_signed_in? %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <h2> Welcome <%=current_user.username%> </h2>
  <%= link_to "New Post", new_post_path, method: :get %> <br>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path, method: :get %>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
<% end %> <br>

<% @posts.reverse_each do |post| %>
  <p>
  <strong> <%= post.user.username %> </strong> @ <em> <%= post.updated_at %> </em>
  <br>
  <%= post.message %>
  <% if current_user && (current_user.id == post.user_id) %>
    <%= link_to 'Edit', edit_post_path(post.id)%>
    <%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  <% end %>
  <div id="post_<%= post.id %>_comments">
    <h2>Comments</h2>
    <% post.comments.reverse_each do |comment| %>
    <%= render partial: './comments/comment', locals: { post: post, comment: comment }, :remote => true %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render partial: './comments/form', locals: { post: post} , remote: true %>
  <% end %>
  </p>
<% end %>
