<% @posts.each do |post| %>
  <p class="post">
    <%= post.user.name %>
    - <%= best_in_place post, :message, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %>
    - <%= post.created_at.strftime("%e %B at %k:%M") %>
    <% if current_user.id == post.user_id %>
      - <%= link_to 'DELETE', post, method: :delete %>
      - <%= link_to 'EDIT', post, method: :edit %>


    <% end %>
  </p>

<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
