<%= link_to new_post_path do %>

New post

<% end %>
<div class="main-container">
<div class="postbox">
<% @posts.each do |post| %>

  <div class="post">
    <%= simple_format(post.message) %> <br>

    <span class="date">
       <% if post.created_at == post.updated_at %>
          created on <%= post.created_at.strftime("%d-%m-%Y") %>
       <% else %>
          updated on <%= post.updated_at.strftime("%d-%m-%Y") %>
       <% end %>


      <% if current_user.id == post.user_id %>
        <% if DateTime.now.to_i - post.created_at.to_i < 600 %>
          <%= button_to 'Edit', edit_post_path(post), method: 'get' %>
        <% end %>
        <%= link_to 'Delete', post_url(post), method: :delete %>
      <% end %>
      <%= link_to 'Comment', post_url(post), method: :get %>

      <% if current_user.voted_for? post %>
        <%= link_to 'ðŸ¦', like_post_path(post), id: "like_#{post.id}", class: "like", method: :put, :remote => true %>
      <% else %>
        <%= link_to 'ðŸ’©', like_post_path(post), id: "like_#{post.id}", class: "like", method: :put, :remote => true %>
      <% end %>

    </span>

  </div>
<% end %>
<script type="text/javascript">
  function changeLike(like_link){
    if(like_link.innerHTML === "ðŸ’©") {
      like_link.innerHTML = "ðŸ¦"
    } else {
      like_link.innerHTML = "ðŸ’©"
    }
  }
  const likes = document.querySelectorAll('.like')
  likes.forEach(like => like.addEventListener('click', function () { changeLike(like) }));
</script>
</div>
</div>
