<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <% Time.zone = 'London' %>
  <p><%= post.created_at.strftime("%e %B %Y %H:%M") %></p>
  <hr />
<% end %>
