<h1>Welcome You are Logged In, <%= current_user.username %></h1>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= image_tag post.image if post.image.attached? %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
<br>
<%= button_to 'Logout', '/logout', method: :post%>
