<section class="section">
  <div class="container">

  <% if logged_in? %>

  <%= link_to "New Post", new_post_path %>

      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-content">
            <div class="content">

              <%= post.message %>
                <br>
                <% if post.image.attached? %>
                  <%= image_tag(post.image, style:"width:30%") %>
                    <% end %>
                      <br>
                      <%= pluralize(post.likes,'like')%>
                        <br>
                        <a href="/posts/<%= post.id %>/like">Like</a>
                        <br>
                        <%= link_to "Edit" , edit_post_path(post) %>
                          <%= link_to "Delete" , post, method: :delete, data: { confirm: "Delete this post?" } %>
            </div>
            <!-- <div class="comment-count">
            <span class="tag is-rounded"><%# comment count %></span>
          </div> -->
          </div>
        </div>
        <% end %>
  </div>

  <% else%>
    <% flash.now[:danger] = link_to "You are not logged in. Please, login here", login_path %>
  <% end %>
</section>