
<h1> Create a post here ! </h1>
<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.reverse_each do |post| %>
  <div class="post" id="post<%= post.id %>">
    <% post.lines.each do | line | %>
      <p><%= line %></p>
    <% end %>

    <p>Created by <%=post.user.username%> At: <%= post.created_at %></p>

    <% if post.created_at != post.updated_at %>
      <p>Last Updated : <%= post.updated_at %></p>
    <% end %>

    <p>
    <% if post.can_edit? %>
      <%= link_to 'Edit', edit_post_path(post)%>
    <% end %>
    <% if post.user_id == @user.id %>
      <%= link_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
  </div>
<% end %>

<div>
  <%= link_to 'Go to my wall', user_wall_path(current_user.id)%>
</div>

<div>
  <%= link_to 'Show all users', users_show_path%>
</div>
