<!DOCTYPE html>
<html lang="en">
  <title>The name of your site</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
    <h1 id = 'title'>CatBook</h1>
    <div class ='nav-bar'>
      
        <%= content_tag(:a, class: 'nav-bar_li') link_to new_post_path do %>
          <a>New Post</a>
        <% end %>
    
      <a class ='nav-bar_li'>Profile</a>
      <a class ='nav-bar_li'>Sign Out</a>
    </div>
  </header>

  <main>
    <div class ='all_posts'>
      <% @posts.each do |post| %>
        <div class ='post'>
          <p><%= post.message %></p>
        </div>
      <% end %>

    <%= link_to new_post_path do %>
      New post
    <% end %>
    </div>

  </main>

</body>
</html>