<% if @user %>
  <h1><%= @user.email.capitalize %>'s Wall</h1>
<% else %>
  <h1>Posts</h1>
<% end %>

<div class="new-post-button">
  <%= link_to new_post_path do %>
    Create new post
  <% end %>
</div>

<% @posts.each do |post| %>

  <div class='post-card'>
    <div class="post-header">
      <div class="post-author">
        <%= post.email %>
      </div>
      <div class="post-published-time">
        <%= post.created_at.strftime("%d-%m-%Y")%> at <%= post.created_at.strftime("%I:%M %p")%>
      </div>
    </div>
    <div class="post-content">
      <p><%= simple_format(post.message) %></p>
      <% if post.user_id == current_user.id %>
        <% if post.editable? %>
          <p><%= link_to 'Edit', edit_post_path(post) %></p> 
        <% end %>
        <p><%= link_to 'Delete', post, method: :delete, :data => { :confirm => "Are you sure you want to delete this message?" } %></p> 
      <% end %>
    </div>
  </div>
<% end %>
