<div class="new-post-path">
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime('%H:%M, %-d %B') %>
    <p id="number_of_likes"><%= post.likes.length %></p>

    <div id="like-form">
      <% p post.likes.length %>
      <% if post.likes.length == 0 %>
        <%= form_with(model: [ post, post.likes.build ], local: true) do |form| %>
          <p hidden><%= form.text_area :liker %></p>
          <%= form.submit "ðŸŸ", :class => "like" %>
        <% end %>
      <% end %>
      
      <% p post.likes.length %>
      <% if post.likes.length > 0 %>
        <% post.likes.each do |like| %>
          <% if like.liker == current_user.id %>
            <%= link_to 'Unlike', [like.post, like], method: :delete %>
          
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if (post.user_id == current_user.id)  && post.less_than_ten_mins_ago %>
      <%= link_to edit_post_path(post.id) do %>
        Update
      <% end %>
    <% end %>
    <% if post.user_id == current_user.id %>
      <%= button_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
