<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show posts</title>
  </head>
  <body>

  <div class="posts-list">
    <% @posts.each do |post| %>
    <div class="single-post">
      <p><strong><%= post.user_name %></strong></p>
      <p><%= post.message %></p>
      <small>posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
    </div>
    <button class='collapsible'><%= post.comments.length %> comments</button>
    <div class='commentsContainer'>
      <!-- Loop for comments -->
      <% post.comments.each do |comment| %>
        <div class="single-comment">
          <p>
            <strong><%= comment.user_name %></strong>: <%= comment.body %>
          </p>
        </div>
      <!-- End Loop -->
      <% end %>
      <div>
        <!-- Leave a comment form-->
        <!-- array may not work, it generates a view for just the post-->
        <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
          <p>
            <%= form.text_area :body, placeholder: "Leave a comment" %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </div>
    </div>
    <br>
    <% end %>
  </div>

  <div class="new-post-link">
    <%= link_to new_post_path do %>
      New post
    <% end %>
  </div>

</body>
</html>
