<h1>News Deck</h1>

<% @posts.each_with_index do |post, idx| %>
  <div id="post_div_<%=idx%>" class='news_deck'>
    <p id="post_body_<%=idx%>"><%= post.message %></p>
    <br>
    <%= button_to 'Delete', post_path(post), {method: :delete, id: 'del_btn', class: 'post_button'} %>
    <%= button_to 'Show', post_path(post), {method: :get, id: 'post_btn', class: 'post_button'} %>
    <%= button_to 'Edit', edit_post_path(post), {method: :get,id: 'edit_btn', class: 'post_button'} %>

  </div>
<% end %>

<%= link_to new_post_path do %>
New post
<% end %>
