<body class="posts-view">
<p class="new-post">
<%= link_to new_post_path do %>
  New post
<% end %>
</p>
<div class="viewing">
<% @posts.each do |post| %>
  <p class='message'><%= post.message %><br>
 < posted by: <%= post.user.name%> > <br>
  <%= post.created_at %> </p>
  <%= link_to 'Comment on this post', new_comment_path(post_id: post.id) %>
  <%= link_to "Edit post", edit_post_path(post)%> 
  <%= link_to 'Delete post', post_path(post), :method => :delete %>

  <p>
  <div class="dropdown">
  <button class="dropbtn">Comments</button>
  <div class="dropdown-content">

    <% post.comments.each do |comment| %>
      <br>
     <%= comment.comment %><br>
      Posted by:
       <%= comment.user.name %>
       <%= link_to 'Edit Comment', edit_comment_path(comment) %>
       <%= link_to 'Delete Comment', comment_path(comment), :method => :delete %>
      
     </p> 
     <% end %>
   
  </div>
</div>


  
  </p>
 
<% end %>
</div>
</body>

