<h1>Welcome <%= current_user.name %></h1>

<div class="news_feed">
<% @posts.each do |post| %>
  <div class="post"><p class="name"><%= User.find_by(id: post.user_id).name %>:</p>
  <p class="message"><%= post.message %> </p> 
  <p class="post_time"><%= post.created_at %></p>
    <% if current_user.id == post.user_id %>
        <p class="delete_button"><%= link_to 'delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p></div>
      <% end %>
<% end %>
</div>

<%= link_to new_post_path do %>
  New post
<% end %>
