
<!DOCTYPE html>
<html lang="en">
  <title>The name of your site</title>
  
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
<%= render 'layouts/navbar' %>
  </header>

  <main>
    <div class ='all_posts'>
      <div id ='new-post'>
        <div class ='new-post__form'><%= render j 'form' %></div>
      </div>
      <% @posts.each do |post| %>
        <div class ='post'>
          <p>Posted by: <%= post.user.firstname%> <%= post.user.lastname%></p>
          <p class ='post__message'><%= post.message %></p>
          <div class ='post_footer'>
            <p  class ='post__footer-el'><a href="/posts/<%= post.id %>/like">Like <p><%= post.likes %> likes</p></a><p>
            <p  class ='post__footer-el'><%= link_to "Comment", post, class: 'post__footer-el' %>
            <p class ='post__footer-el'>Share</p>
          </div>
          </div>
      <% end %>

    </div>
  </main>

</body>
</html>
