<body class="posts-body">
  <header>
    <br>
    <%= link_to new_post_path do %>
      <h4>New post</h4>
    <% end %>
    <br>
</<header>
<br>

  <% @posts.sort_by(&:created_at).reverse.each do |post| %>

    <div class="post-card">
      <div class="posts-header"
        <h5><p><%= post.created_at.strftime("%d-%m-%Y")%>
        at <%= post.created_at.strftime("%I:%M %p")%></p></h5>
      </div>
      <p><%= h(post.message).gsub(/\n/, '<br/>').html_safe %></p>

      <p><%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_post_path(post) %></p>
    </div>

  <br>
  <% end %>
</body>
