<% @posts.each do |post| %>
  <div class="card my-5 mx-auto" style="width: 80%;">
    <span class="card-header">
      <b>
        <%= post.user.username.capitalize %>
      </b>
      <i>
        posted
        <%= time_ago_in_words(post.created_at) %> ago
      </i>
      <% if post.user == current_user %>
      <span style="float: right;">
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
      </span>
      <% end %>
    </span>
    <span class="d-inline-flex">
      <img src="<%=asset_path('profilepic.png')%>" alt="<%= post.user.username %>'s profile picture" class="img-thumbnail rounded m-2" style="height: 100%;">
      <p class="text-justify m-2"><%= post.body %></p>
    </span>
    <span class="card-footer">
      <span>
        <%= link_to '<i class="far fa-comment"></i>'.html_safe, post_path(post), class: "ml-3", style: "max-width: 20px;" %>
        <%= post.comments.length %>
      </span>
      <span class="ml-2">
        <a href="#"><i class="far fa-thumbs-up"></i></a>
        <%= post.post_reactions.length %>
      </span>
   
        <form class="form-inline mb-1" style="float: right;">
          <input type="text" placeholder="Add Comment" class="form-control form-control-sm">
          <button class="btn btn-primary mx-2 btn-sm">Submit</button>
        </form>
    </span>
  </div>
<% end %>