<div class="text-center">
<br>
<% if current_user %>
<b>Welcome <%= current_user.name %>!</b>
<% end %>
<br><br>

<!-- confirming users are signed-up -->
<%= flash.notice %>
<%= link_to new_post_path, class:"new-post-btn" do %>
  New Post
<% end %>
<br><br><br>

<div class="main">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <!-- AVATAR -->
        <div class="avatar">
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar, class: "avatar-img" %>
          <% end %>
        </div>
        <!-- USER NAME -->
        <h5 class="card-title">
          <strong><a href="<%= user_path(post.user.id) %>">
            <%= post.user.name %></strong>
          </a> said:
        </h5>
        <!-- POST MESSAGE -->
        <p class="card-text"><%= post.message %></p>
        
        <footer class="post-footer">
          <%= link_to "View post", post, class:"post-btn" %>
          <% if current_user.id == post.user.id %>
            <%= link_to "Edit post", edit_post_path(post), class:"post-btn" %>
            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class:"post-btn" %>
          <% end %>
        </footer>
      </div>
    </div>

  <br><br>
  <% end %>

  </div>
</div>
