<div>
  <br/>
  <div class="row">

    <div class="column left">
      <p><-- Shortcuts go here --></p>
      <div id="subtitle">
        Your shortcuts
      </div>
    </div>

    <div class="column middle">
      <div id="subtitle">
        Global posts feed
      </div>

      <%= current_user.posts.count <= 0 ? "Make your first post!" : "You have made " + current_user.posts.count.to_s + " posts" %><br/>
      <%= current_user.comments <= 0 ? "You have made no comments" : "You have made " + current_user.comments.to_s + " comments" %>

      <div id="form">
        <%= form_with(scope: :post, url: '/posts') do |form| %>
          <br/>
          <%= form.text_area :message, id: 'message_content', placeholder: "What's on your mind, #{current_user.first_name}?" %>
          <br/>
          <%= form.submit 'Submit', :class => 'submit' %>
        <% end %>
      </div>
      <div class="notice"><%= flash[:alert] %></div>
          <% @posts.each do |post| %>
        <div id="posts" style="border-radius: 25px; border: 1px solid black; padding: 10px; width: 50%;">

          <p> <%= post.owner %> posted: </p>
          <p><%= post.message.gsub(/(\r)?\n/, "<br/>").html_safe %></p>

          <div id="comments" style="margin-left: 10px;">
            <% post.comments.each do |comment| %>
              <%= comment.owner %> posted: <br/>
              <%= comment.message %> <br/>

              <% if comment.updatable? && (comment.poster.to_i == current_user.id) %>
                <div id="update_comment">
                  <%= form_with(scope: :comment, url: post_comment_path(post, id: comment.id), method: :update) do |form| %>
                    <%= form.text_area :message, id: 'update_comment' %>
                    <br/>
                    <%= form.submit "Update", method: :update%>
                  <% end %>
                </div>
              <% end %>

              <%= comment.created_at.localtime.strftime('%k:%M') %> | <%= comment.created_at.localtime.strftime('%d/%m/%Y') %> <br/>

              <% if comment.poster.to_i == current_user.id %>
                <div id="delete_comment">
                  <%= link_to 'Delete comment', post_comments_path(comment), method: :delete, data: { confirm: 'Confirm delete'} %>
                </div>
              <% end %>

              <hr/>
            <% end %>

            <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
            <p>
              <%= form.text_area :message %>
            </p>
              <p><%= form.submit 'New comment' %></p>
            <% end %>

          </div>

          <% if post.updatable? && (post.user_id == current_user.id) %>
            <div id="update_post">
              <%= form_with(model: post) do |form| %>
                <%= form.text_area :message, id: 'update_content' %>
                <br/>
                <%= form.submit "Update", :class => 'submit' %>
              <% end %>
            </div>
          <% end %>
          <p> <%= post.created_at.localtime.strftime('%k:%M') %> | <%= post.created_at.localtime.strftime('%d/%m/%Y') %><p>

        <% if post.user_id == current_user.id %>
          <div id="delete_post">
            <%= link_to 'Delete post', post_path(post), method: :delete, data: { confirm: 'Confirm delete'} %>
          </div>
          <% end %>

        <br/>
        </div>
        <% end %>
      </div>


    <div class="column right">
      <div id="subtitle">
        Contacts
      </div>
      <p><-- Your contacts go here --></p>
    </div>
  </div>

</div>

<br>
