<ul>
  <% @posts.each do |post| %>
    <li> 
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <%= find_user(post.user_id).name.capitalize %>
      <% post.created_at %><%= post.created_at.strftime("%Y-%m-%d") %>
      
      <% if @current_user.id == post.user_id %>
      <%= button_to 'Edit', edit_post_path(post) %><%= button_to 'Destroy', posts_path(post),method: :delete %>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
