<h1>Posts shown below</h1>
<p>To add a new post click link:
<%= link_to new_post_path do %>
  New post
<% end %>
</p>
<p>---------------------------------------------</p>
<% @posts.reverse_each do |post| %>
  <div id = "<%=post.id %>">
    <p><%= post.message %></p>
    <p><%= post.created_at.strftime(" Posted at %a %I:%M%p") %></p>
    <p><%= link_to 'Delete', post, :confirm => 'Are you sure?',
                                    :method => :delete %></td>
    <p> <%= link_to 'Edit', edit_post_path(post) %> </p>
    <p>---------------------------------------------</p>
  </div>
<% end %>
