
<!DOCTYPE html>
<html lang="en">
  <title>The name of your site</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
    <h1 id = 'title'>CatBook</h1>
    <div class ='nav-bar'>
      <%= link_to new_post_path do %>
        <p >New Post</p>
      <% end %>
      <p class ='nav-bar_li'>Profile</p>
      <p class ='nav-bar_li'><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
    </div>
  </header>

  <main>
    <div class ='all_posts'>
      <% @posts.each do |post| %>
        <div class ='post'>
          <p class ='post_message'><%= post.message %></p>
          <p>
          <a href="/posts/<%= post.id %>/like">LikeMe!</a>
          <%= post.likes %> likes
          </p>
          </div>
  
          <div class ='post_footer'>
            <p class ='post_likes'>Like</p>
            <p class ='post_likes'>Comment</p>
            <p class ='post_likes'>Share</p>
          </div>
      <% end %>
    </div>
  </main>

</body>
</html>
