<%= render 'layouts/navbar' %>

<div class="container">
  <%= link_to new_post_path do %>
    <div class="btn btn-info btn-lg">
      New post
    </div>
  <% end %>
</div>
<br>

<% @posts.each do |post| %>
  <div class="alert alert-primary" role="alert">
    <p style="font-size:18px"><%= post.message %></p>
    <% user = User.find_by(id: post.user_id) %>
    <p><%= user.first_name %> <%= user.last_name %>: <%= post.time_stamp %></p>
    <% if post.editable? %>
      <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
    <% if session[:user_id] == post.user_id %>
      <%= link_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'Delete', post_path(post),
          method: :delete %>
    <% end %>
  </div>
<% end %>
