<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to "Log Out", destroy_user_session_url, method: "delete" %>
