<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><%= post.created_at.strftime("%d %b %y") %></p>
  <p><%= post.message %></p>
  <%= link_to 'Delete', post_path(post), 
                method: :delete, 
                data: { confirm: 'Are you sure?' } %>
   <%= link_to 'Edit', edit_post_path(post) %>
<% end %>


