<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <% @user_id = post.user_id.to_i %>

  <p><%= simple_format post.message %></br>Posted on: <%= post.created_at %>
  by <%= User.find_by(id: @user_id).firstname + " " + User.find_by(id: @user_id).surname %>
  </p>

  <p><%= link_to 'Show', post_path(post),
    method: :get %>
  <% if @user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(post),
      method: :get %>
    <%= link_to 'Delete', post_path(post), class: "#{post.id}",
      method: :delete %>
  <% end %>
  </p>

<% end %>
