<% @posts.each do |post| %>
  <p id="<%=post.id%>"">
    <%= post.created_at.strftime("%d/%m/%Y") %> <%= post.message %>
    <button onclick="editPost(<%=post.id%>, '<%=post.message%>')"> Edit </button> 
  </p>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
