<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="application.css">
  </head>
  <body>
    <%= link_to new_post_path, id: 'new_post' do %>
      new post
    <% end %>
    <%= link_to '/', id: 'header' do %>
      <h1>acebook</h1>
    <% end %>
    <div id="posts">
    <ul id="posts">
    <% @posts.each do |post| %>
      <li class='posts' id='<%= post.id %>'>
        <p class='posts'>
          <%= post.message %>
        </p>
        <p class='time'>
          <%= post.updated_at.strftime('%I:%M%p - %e %b %Y ') %>
        </p>
      </li>
    <% end %>
    </ul>
    </div>
  </body>
</html>
