<% @posts.each do |post| %>
<div class="card my-5 mx-auto" style="width: 80%;">
  <span class="card-header">
    <b><%= post.user.username.capitalize %></b>
    posted
    <%= time_ago_in_words(post.created_at) %> ago
    <span>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
    </span>
  </span>
  <span>
    <img src="<%=asset_path('profilepic.png')%>" alt="<%= post.user.username %>'s profile picture" class="img-thumbnail m-3" style="width: 100px; height: auto;">
    <%= post.body %>
  </span>
</div>
<% end %>
<br>
<a href="/posts/new">New post</a>