<% @posts.each do |post| %>
  <p><%= post.message %>
  <%= post.created_at %>
  <%= link_to "Edit", edit_post_path(post)%> 
  <%= link_to "Show", post_path(post)%> 
  </p>
  
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
