
<!DOCTYPE html>
<html lang="en">
  <title>The name of your site</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
    <h1 id = 'header__title'>CatBook</h1>
    <div class ='header__nav-bar'>
    <p class ='header__nav-bar_li'>Home</p>
      <p class ='header__nav-bar_li'>Profile</p>
      <p class ='header__nav-bar_li'><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
    </div>
  </header>

  <main>
    <div class ='all_posts'>
      <div id ='new-post'>
        <div class ='new-post__form'><%= render j 'form' %></div>
      </div>
      <% @posts.reverse.each do |post| %>
        <div class ='post'>
          <p class ='post__message'><%= post.message %></p>
          <div class ='post_footer'>
            <p  class ='post__footer-el'><a href="/posts/<%= post.id %>/like">Like </a><p>
            <p><%= post.likes %> likes</p>
            <p class ='post__footer-el'><%= link_to "Comment", post, class: 'post__footer-el', remote: true %></p>
            <p class ='post__footer-el'>Share</p>
          </div>
           
        </div>
      <% end %>
     
    </div>
  </main>
<div class= 'post__comments'></div>
</body>
</html>
