<% if @current_user.nil? %>
  <%= link_to new_user_path do %>
    Sign Up
  <% end %>
  <%= link_to new_sessions_path do %>
    Login
  <% end %>
<% else %>
  <%= link_to('Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete) %>
  
  <% i = @posts.length - 1
while i >= 0 do %>
  <p><%= @posts[i].message + "-" + @posts[i].created_at.strftime("%-d/%-m/%-y %H:%M")%></p>
<% i -= 1 end %>
<%= link_to new_post_path do %>
  New post
<% end %>
<% end %>

<%= flash[:notice] %>




