

<div style="background-color: white; padding: 10px; font-family: 'DotGothic16';    width: fit-content; margin-left: 325px; border-radius: 9%;">
  <%= link_to new_post_path do  %>
    New Post
  <% end %>
</div>

<% @posts.reverse.each do |post| %>

  <div class="box" style="width: 60%;">
  <div class="card-body" style="margin: 20px;">
      <h3 class="card-text"><%= post.message.gsub(/\n/, '<br/>').html_safe %></h3>
  <% if post.image.attached? %>
<div style="width:400px; height:auto">
   <%= image_tag(post.image, style: "width: 100%") %>
</div>
  <%end%>
  <p>Created @ <%= post.created_at.strftime('%d/%m/%y') %> by: <%= post.user.username %></p>


  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(post), method: :post %>
<% end %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

  <%= link_to "/posts/#{post.id}/edit" do %>
    Edit
  <% end %>

  <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>

  <h2>Comments</h2>
  <% post.comments.each do |comment| %>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  <% end %>


  <%= form_with model: [post, post.comments.build ], local: true do |form| %>

  <p >
  <%= form.text_area :body, id: "comment" %>
  </p>
  <p>
    <%= form.submit "Comment" %>
  </p>
  <% end %>
    </div>

</div>
<% end %>
