<ul><% @posts.reverse.each do |post| %>
  <li>
  <p><%= post.message %></p>
  <p><%= post.created_at %></p>
  <p>Likes: <%= post.votes_for.size %></p>
  <%= link_to('Like', "/users/#{current_user.id}/posts/#{post.id}/likes", method: :post) %>

  </li>
<% end %>
</ul>
<%= link_to new_user_post_url do %>
  New post
<% end %>
