<link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="base.css">

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#create">Create</a>
<a href="#friends">Friends</a>
</div>

<%= form_for @post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><p>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<ul>
<% @posts.each do |post| %>

  <li><p><%= post.message %></p>
  <p><%= post.username %></p>
  <p></p>
   </li>

<% end %>
</ul>
