<% @posts.each do |post| %>


  <div style="width:500px; height:auto;"><%= image_tag(post.image, style:"width:100%") if post.image.attached? %></div>

  <p><%= post.message %></p>
  <p style="color:#cccccc;"> <%= time_ago_in_words(post.created_at)%> ago</p>
  <%= button_to "Edit", edit_post_path(post.id), :method => :get%>
  <%= button_to "Delete", post_path(post.id), :method => :delete,
  data: {confirm: 'Are you sure you want to delete this post?'}%>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
