<p id="notice"></p>

<%= link_to 'New Post', new_post_path %>

<% @posts.to_a.reverse.each do |post| %>
  <div class="post-box">
    <div class="container">
      <div class="box blue">
        <div class="header">
          <a><%= @user.email %></a>
          <div class="date"><i><%= time_ago_in_words(post.updated_at) %> ago</i></div>
        </div>
        <div class="body"><%= simple_format(post.message) %></div>
        <%= link_to 'Show', post, class:"card-link" %>
        <%= link_to 'Edit', edit_post_path(post), class:"card-link" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
        <div class="footer">This is a Footer</div>
      </div>
    </div>
  </div>
<% end %>
