<%= button_to 'Log Out', log_out_url %>

<%= session[:user]["name"] %>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p>Posted by: <%= User.find_by(id: post.user_id).name %></p>
  <p>Posted at: <%= post.simplifytime %></p>
  <p>Posted on: <%= post.simplifydate %></p>
  <p><%= post.id %><p>
  <p><%= form_tag comment_on_posts_path do %></p>
    <%= hidden_field_tag :post_id, post.id %>
  <p><%= text_field_tag :comment_text %></p>
  <p><%= submit_tag "Comment" %></p>
  <% end %>
  <% post.comments.each do |comment| %>
  <p><%= comment.comment_text %></p>
  <% end %>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
