<body>
  <%= link_to new_post_path do %>
    New post
  <% end %>

  <% @posts.reverse.each do |post| %>
    <p><%= simple_format(post.message) %></p>
    <p>Posted by <%= post.user.username %> on <%= post.created_at.strftime('%d-%m-%Y at %H:%M') %></p>

    <% if  post.user == current_user %>
      <p><%= link_to 'Delete', destroy_post_path(id: post.id), method: :delete %>
      <% if Time.now - post.created_at < 600 %>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <% end %>
    <% end %>
      <p>-------------------------<p>
    <% end %>

</body>
