
<h1> ACEBOOK </h1>

<li>
  <%= link_to('Profile', user_path(current_user), method: :get) %>
</li>


<% @posts.each do |post| %>
  <!-- <p><%= post.created_at.strftime("%m/%d/%Y" + ": ") %><%= post.message %></p>
  <p style="max-width: 450px; min-width: 100px"><%= post.message %></p> <%= post.created_at.strftime("%m/%d/%Y") %> </p> -->
  <p style="max-width: 450px; min-width: 100px">@<%= User.find(post.user_id).username %> | <%= post.message %> | <%= post.created_at.strftime("%m/%d/%Y") %></p>
<% end %>


<li><%= link_to new_post_path do %>
  New post
<% end %>
</li>

<li>
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
