<nav class="navbar-acebook navbar navbar-expand-md" style="border-radius: 0px !important;">
  <div>
    <%= link_to "#{9824.chr}cebook", posts_path, method: :get, class: 'navbar-brand-logo' %>
  </div>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Log out", session_path(session), method: :delete, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Home", posts_path, method: :get, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "#{@user.username}", id_path(@user.id), method: :get, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>

<div class="myDiv">
  <div class="bg">
    <div id="pop_up_wrong_user" class="pop_up_error_box"> You can't do that. <br /><br />(you idiot)
    </div>
    <div id="pop_up_too_slow_motherfucker" class="pop_up_error_box"> Too slow! <br />10 minutes has passed.<br /><br />(you idiot)
    </div>
    <div id="pop_up_cant_delete" class="pop_up_error_box"> No can do <br /> doesn't belong to you.<br /><br />(you idiot)
    </div>

    <h1 class="welcome">
      Welcome to&nbsp;<span>&#9824;</span>cebook
    </h1>

    <div class="new-post">
      <%= form_for( :post, url: posts_path) do |form| %>
        <%= form.text_area :message, placeholder: "What's on your mind babycakes?", :id => "post_area", :rows => 4 %>
        <br />
        <%= form.submit "Post", :class => 'submit-post' %>
      <% end %>
    </div>

    <div id="all-posts">
      <% @posts.reverse_each do |post| %>
        <% if !post.wall_id || post.wall_id == session[:user_id] %>
          <%= render partial: 'post', locals: { post: post } %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
