<div class="page-container">
  <div class="page-content">
    <% @posts.reverse.each do |post| %>
    <div class="post-container">
      <div class="post-owner-pp">
        <img class="display-prof-pic" src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
        <h5><strong>UserName</strong> Posted:</h5>
        <p class="post-message"><%= post.message %></p>
        <p class="post-time-stamp"><span>Posted </span><%= time_ago_in_words(post.created_at)%><span> ago</span></p>
      </div>
      <img class="post-image" src="https://images.unsplash.com/photo-1623847976687-8b742dc59073?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1611&q=80" alt="">
      <p class="like-btn"><button><i class="far fa-heart"></i></button></p>
      <%= form_for([post, post.comments.build]) do |f| %>
        <textarea name="comment[body]" id="comment_body" placeholder="Comment here..." required></textarea>
        <button type="submit" name="commit">
          <i class="far fa-comment"></i>
        </button>
      <% end %>
      <p class="num-of-comments"><span></span><%= post.comments.count %><span> Comments</span></p>
      <div class="posts-comments">
        <% if post.comments.count > 0 %>
          <% post.comments[0..2].reverse.each do |comment| %>
            <div class="user-profile-comment">
              <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
              <h5><strong>UserName</strong></h5>
            </div>
            <div class="single-comment-area">
              <p><%= comment.body %></p>
              <button><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/posts/<%= post.id %>/comments/<%= comment.id %>"><i class="far fa-trash-alt"></i></a></button>
            </div>
          <% end %>
        <% else %>
            <p>Be the first to comment ...</p>
        <% end %>
      </div>
    </div>
   <% end %>
  </div>

  <form class="add-post-btn" action="/posts/new" method="get">
    <button type="submit"><i class="fas fa-feather-alt"></i></button>
  </form>
</div>