<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Posts</h1>


<%= render 'form', post: @post %>

<div class="card" style="width: 30rem;">
  <div class="card-body">

    <% @posts.find_all.reverse_each do |post| %>

      <% if post.user.avatar.attached? %>
        <h5 class="card-title"><p><br><%= image_tag post.user.avatar.variant(resize: "50x50").processed %>
      <% end %> </p></h5>

      <h6 class="card-subtitle mb-2 text-muted"><i><%= simple_format(post.updated_at.to_s.slice(0,10)) %></i></h6>

      <p class="card-text"><%= post.message%></p>

<!--      update form-->
      <div id="edit-post-<%=post.id%>" class="edit-options">

        <%= form_with model: @post , url: "/posts/#{post.id}/", method: :patch, local: true do |form| %>
          <p>
            <%= form.text_field :message, value: post.message %>

          </p>
          <p>
            <%= form.submit "Update"%>


          </p>
        <% end %>

      </div>

<!--      update form end-->

      <%= link_to "Actions","#", class: "actions-button", id: "action-button-#{post.id}" %>

      <div id="post-options-<%=post.id%>" class="post-options">

        <%= link_to 'Show', post, class:"card-link" %>

        <% if post.user.id == current_user.id %>

          <%#= link_to 'Edit', edit_post_path(post), class:"card-link" %>
<!--          new edit button-->
          <%= link_to "Edit","#", class: "edit-button", id: "edit-button-#{post.id}" %>

<!--          new edit button end-->
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
        <% end %>

      </div>

    <% end %>

    <br>
    <%= link_to 'New Post', new_post_path %>
  </div>

</div>