<div class="jumbotron">
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.identifier %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
<h1>Acebook</h1>
<%= link_to new_post_path do %>
  <p>New post</p>
<% end %>
<ul class="list-group">
  <% @posts.time_sort_all.each_with_index do |post, i| %>
    <li class="list-group-item">
      <%= link_to post_path(post) do %>
          <div id="<%="post_#{i}"%>">
            <div id="<%="post_username_#{i}"%>">
              <%= post.author %>
            </div>
            <div class="small">
              <%= post.created_at_timestring %>
            </div>
            <div id="<%="post_message_#{i}"%>">
              <h5><%= simple_format(Rinku.auto_link(post.message)) %></h5>
            </div>
            <div id="<%="posts_wrapper_#{i}"%>">
              <% if post.image.file? %>
                <%= image_tag post.image.url(:medium) %>
              <% end %>
              <div id="<%="post_likes_#{i}"%>">
                  <% pre_like = post.find_like(current_user) %>
                  <p><% if pre_like %>
                    <%= button_to 'Unlike',
                    post_like_path(post, pre_like),
                    type: "button",
                    class: "btn btn-primary",
                    method: :delete,
                    onclick: "redrawLikes('posts_wrapper_#{i}', '/posts', 'unlike_button_#{i}')",
                    remote: true,
                    data: { disable_with: "Unlike" },
                    id: "unlike_button_#{i}"%>
                  <% else %>
                    <%= button_to 'Like',
                    post_likes_path(post),
                    type: "button",
                    class: "btn btn-primary",
                    method: :post,
                    onclick: "redrawLikes('posts_wrapper_#{i}', '/posts', 'like_button_#{i}')",
                    remote: true,
                    data: { disable_with: "Like" },
                    id: "like_button_#{i}" %>
                  <% end %></p>
                <h4><i class="fas fa-heart"><%= post.likedisplay %></i></h4>
                <h4><i class="fas fa-comment"><%= post.commentdisplay %></i></h4>
              </div>
            </div>
          </div>
            <span>
              <% if post.owner?(current_user) %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Delete', post_path(post),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
      <% end %>
  </li>
  <% end %>
</ul>
</div>
