<!DOCTYPE html>
<html>

<head>
</head>

  <div class='container'>
    <div class='row'>
       <div class='col-8 mx-auto'>
          <div class="text-center edit-body">

    

<%# Create Post Form %>
<div class="edit-block"><%= render :partial => "/posts/create_post", locals: { post: @post}%></div>

<br>


<%# Itterates through every post %>
    <div id='content-wrapper'>
  <% @posts.each do |post| %>
    <div class='single-post edit-block'>
<%# Renders the post %>
   <%= render :partial => "./posts/view_posts", locals: { post: post}%> 
    
<%# Renders the like button for the post %>
     <%= render :partial => "./likes/post_like_button", locals: { post: post}%> <br><br>

<%# Renders the comment form for the post %>
     <%= render :partial => "./comments/comment_form", locals: { comment: @comment, post_id: post.id}%> <br>


<%# Renders the comments left on the post %>
     <%= render :partial => "./comments/display_comment", locals: { comment: @comment, post: post}%> 
</div>
  <br><br>
<% end %>
      </div>
         </div>
       </div>
     </div>
   </div>
 </div>
