<p id=”notice”><%= notice %></p>
Welcome <%= session[:username] %>

<% @posts.each do |post| %>
  <p> <%=post.created_at %><br><%= simple_format(post.message) %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
