<h5>Add a new message</h5>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<hr>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>
