<div class="jumbotron">
  
  <p class="lead">
	
<% @posts.each do |post| %>
  <p class="user"> <%= post.user[:email] %> says: </p>
	<p class="message"> <%= post.message %> </p>

  <%= link_to "Delete", post_path(post.id),
      method: :delete,
      data: {confirm: "are you sure? "}, class:"btn btn-outline-danger btn-sm" %> 
   <%= link_to "Update", edit_post_path(post.id), class:"btn btn-outline-primary btn-sm" %>
<br><br>
	<hr class="my-4">
<% end %>

	</p>

</div>



<br>
<%= link_to new_post_path do %>
  New post
<% end %>

<br><br>

<%= link_to new_user_registration_path do %>
  Sign Up
<% end %>


Sign Out button
No test written yet!

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
