<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag('poke-2.png', class: "md-4", style: 'height:30px;width:auto;') %>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if current_user.present? %>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.reverse.each do |post| %>
  <div style="border: 1px solid blue">
    <%= post.user.email %><br/>
    <%= post.created_at.strftime("%e %B %Y %H:%M") %>
    <p style="white-space: pre-wrap"><%= post.message %></p>
    <% if current_user.id == post.user_id %>
      <% if Time.now < post.created_at + 10.minutes %>
        <%= button_to "Edit post", edit_post_path(post), method: :get %>
        <% end %>
      <%= button_to "Move to recycle bin", post_path(post), method: :delete  %>
      <br/>
      <% end %>
      <div><%= link_to toggle_favorite_post_path(post), remote: true, method: :post do %>
          <% if current_user.favorited?(post) %>
            <%= fa_icon "thumbs-up", style: 'color:blue', id: "like-button-#{post.id}" %>
          <% else %>
            <%= fa_icon "thumbs-up", style: 'color:grey', id: "like-button-#{post.id}" %>
          <% end %>
        <% end %>
      </div>
      <div> <%= tag.div id: "like-count-#{post.id}" do %>
          <%= post.favorited.count %>
          <% end %>
          <%= (post.favorited.count) == 1 ? 'Like' : 'Likes'%>
        </div>
  </div>
  <br>
<% end %>

<!-- post_path(post), method: :delete -->
