<h1>Posts shown below</h1>
<p>To add a new post click link:
<%= link_to new_post_path do %>
  New post
<% end %>
</p>
<p>---------------------------------------------</p>
<% @posts.reverse_each do |post| %>
  <div id = "<%=post.id %>">
    <p><%= post.message %></p>
    <p><%= post.created_at.strftime(" Posted on %d %B %a %I:%M%p") %> </p>
     <p> By <%= post.user.email %></p>
    <p><%= link_to 'Delete', post, :confirm => 'Are you sure?',
                                    :method => :delete %> <%= link_to 'Edit', edit_post_path(post) %> </p>
    <p>---------------------------------------------</p>
  </div>
<% end %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>