<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <ul>
  <b><p><li><%= @username %></li></p></b>
      <p><%= simple_format(post.message) %></p>
      <p><%= post.created_at %></p>
      <p></p>
      <br>
  </ul>
<% end %>
