<%= form_for @post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><p>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>


<% @posts.each do |post| %>
<div>
        <b><p></p><li><%= post.username %></li><p></p></b>
    <div id="post_<%=post.id%>" data-name="custom-text">
       <p class="clickable-text"><%= simple_format(post.message) %></p>
       <button type="button" id="post_edit_<%=post.id%>" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>
    </div>
        <p><%= post.created_at %></p>
</div>
<% end %>

<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit your post</h4>
      </div>

      <%= form_for @post do |form| %>
        <%= form.label :message %>
        <%= form.text_area :message %>


      <% end %>
      <form id="editForm" action="/posts/" method="patch">
      <div class="md-form mb-5">
          <input type="textfield" id="post-edit-form" class="form-control validate">

        </div>
      <div class="modal-footer">
        <%= form.submit "Submit" %>
        <button type="Submit" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
      </form>
    </div>

  </div>
</div>
