
<%= stylesheet_link_tag "application" %>

<% if !!flash[:notice] %>
  <% flash.each do |type, message| %>
    <p><%= message %></p> <br>
  <% end %>
<% end %>

<h4>Welcome to Acebook you are logged in as: <%= current_user.email %></h4>

<div style="position: absolute; width:800px; margin:centre;">
  <% @posts.reverse.each do |post| %>
    <div>
      <div class="post" >
        <%= post.message %><br>
        <small>
          <%= User.find(post.user_id).email%><br>
          Updated <%= time_ago_in_words(post.updated_at) %> ago, <br>
          <%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
        </small>
        <% if post.created_at > 10.minutes.ago %> 
            <td><button class="button" id="update-button"><%= link_to 'Update', edit_post_path(post) %></button></td>
        <% end %>
        <td><button id="delete-button"><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure' }%></button></td>
      </div>
    </div>
    <br>
    <br>
  <% end %>
<div>
<br>
<br>

<%= link_to new_post_path do %>
  New post
<% end %>



