<section class="section">
  <div class="container">

  <% if logged_in? %>

  <%= link_to "New Post", new_post_path %>
    <div class="card p-5 m-5">
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
          <%# CURRENT USER PROFILE PIC %>
          <%= gravatar_for current_user %>
          </p>
        </figure>
        <div class="media-content">
          <%= render "form", post: @post %>
        </div>
      </article>
    </div>

      <% @posts.each do |post| %>
        <div class="card p-5 m-5">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <%# POSTER PROFILE PIC %>
                <%= gravatar_for post.user %>
              </p>
            </figure>

            <div class="media-content">
              <div class="content">
                <p>
                  <strong> <%= post.user.name %></strong>
                  
                  <% if post.user.name == current_user.name %>
                    <%= link_to "Edit" , edit_post_path(post) %>
                    <%= link_to "Delete" , post, method: :delete, data: { confirm: "Delete this post?" } %>
                  <% end %>
                  <br>
                  <%= post.message %>
                  <br>
                  <% if post.image.attached? %>
                    <p class="image is-fullwidth">
                      <%= image_tag(post.image, style: 'width:80%') %>
                    </p>
                  <% end %>
                  <%= button_to 'Like', post_likes_path(post), method: :post %>
                  <p><%= pluralize(post.likes.count, 'like') %></p>
                </p>
              </div>
              <%= render post.comments %>
            </div>
          </article>

          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <%# CURRENT USER PROFILE PIC %>
                <%= gravatar_for current_user %>
              </p>
            </figure>

            <div class="media-content">
              <%= form_with(model: [post, post.comments.build]) do |f| %>

              <div class="field">
                <p class="control">
                  <%= f.text_area :body, class: 'input', placeholder: "Write a comment..." %>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <%= f.submit 'Submit', class: 'button is-primary' %>
                </p>
              </div>

              <% end %>
            </div>

          </article>
        </div>       

      <% end %>
  </div>

  <% else%>
    <% flash.now[:danger] = link_to "You are not logged in. Please, login here", login_path %>
  <% end %>
</section>
