<% if user_signed_in? %>
  <h1>Hello <%= current_user.email %>! You are now signed in</h1>
  <p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
  <%= link_to user_path(current_user.id) do %>
    My Posts
  <% end %>
  <br>
  <br>
  <% @posts.each do |post| %>
  <div class="card">
  <div class="card-body">
    <%= simple_format(post.message, class: 'card-text') %>
    <p>Created at: <%= post.created_at.strftime("%b %-d %Y, %H:%M") %></p>
    <% if post.user_id == current_user.id %>  
      <%= link_to 'Delete', posts_path(post), method: :delete, class: 'btn btn-primary' %> 
    <% end %>
    <% if Time.now <= post.created_at + 600 && post.user_id == current_user.id %>  
      <%= link_to 'posts/' + post.id.to_s, class: 'btn btn-primary' do %>
        Update
      <% end %>
    <% end %>
    </div>
  </div>
  <% end %>

  <%= link_to new_user_post_path(current_user.id) do %>
    New post
  <% end %>
<% else %>
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <em>(6 characters minimum)</em>
    <br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <%= link_to new_user_session_path do %>
    Log in
  <% end %>
<% end %>
<% end %>