<% @posts.each do |post| %>


  <div style="width:500px; height:auto;"><%= image_tag(post.image, style:"width:100%") if post.image.attached? %></div>

  <%= simple_format(post.message) %>
  <p style="color:#cccccc;"> <%= post.created_at.strftime("%-d %b %Y at %H:%M") %></p>
  <% @first_name = User.where(id: post.user_id).first&.send(:first_name) %>
  <% @last_name = User.where(id: post.user_id).first&.send(:last_name) %>
  <p><%= "by #{@first_name} #{@last_name}"%></p>

  <% if current_user.id == post.user_id %>
    <%= button_to "Edit", edit_post_path(post.id), :method => :get if (Time.now - post.created_at) / 60 <= 10%>
    <%= button_to "Delete", post_path(post.id), :method => :delete,
    data: {confirm: 'Are you sure you want to delete this post?'} %>
  <% end %>

  <div class="buzz">

    <% if user_signed_in? %>
      <% if current_user.voted_up_on? post %>
        <%= link_to unbuzz_post_path(post.id), method: :put, class: "unbuzz_post" do %>
          <span>⚡️ </span>
          <%# <span class="icon"><i class="fa fa-heart has-text-primary"></i></span> %>
        <% end %>
          <span class="vote_count"><%= post.get_upvotes.size %></span>
      <% else %>
        <%= link_to buzz_post_path(post.id), method: :put, class: "buzz_post" do %>
          <span>⚡️ </span>
          <%# <span class="icon"><i class="fa fa-heart"></i></span> %>
        <% end %>
        <% if post.get_upvotes.size > 0%>
          <span class="vote_count"><%= post.get_upvotes.size %></span>
        <% end%>
      <% end %>
    <% end %>

  </div>


<% end %>



<%= link_to new_post_path do %>
  New post
<% end %>
