<section class="section">
  <div class="container">

  <%= link_to "New Post", new_post_path %>

    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-content">
          <div class="content">
          <% if post.image.attached? %>
            <%= image_tag(post.image, style:"width:30%") %>
          <% end %>
          <%= post.message %>
          <a href="/posts/<%= post.id %>/like">Like</a>
          <% if post.likes > 1 || post.likes == 0 %>
            <p><%= post.likes %> likes</p>
            <% else %>
            <p><%= post.likes %> like</p>
          <% end %>
          <%= link_to "Edit", edit_post_path(post) %>
          <%= button_to "Delete", post, method: :delete %>

          <div class="card"> 
            <div class="card-content">
              <p class="has-text-weight-bold">Comments</p>
              <%= form_with(model: [post, post.comments.build]) do |f| %>
                <div class="field">
                  <%= f.label 'New comment' %>
                  <%= f.text_area :body, class: 'input' %>
                </div>
                <%= f.submit 'Submit', class: 'button is-primary' %>
              <% end %>
            </div>
          </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>