<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/posts">AceBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to('My Profile', user_path(current_user), method: :get) %>
      </li>
      <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>

    </ul>
  </div>
</nav>
<div class="container-fluid">

<h5>Hello <%= current_user.username %>. You are now signed in!</h5>

<% @posts.each do |post| %>
  <!-- <p><%= post.created_at.strftime("%m/%d/%Y" + ": ") %><%= post.message %></p>
  <p style="max-width: 450px; min-width: 100px"><%= post.message %></p> <%= post.created_at.strftime("%m/%d/%Y") %> </p> -->
  <p style="max-width: 450px; min-width: 100px">@<%= User.find(post.user_id).username %> | <%= post.message %> | <%= post.created_at.strftime("%m/%d/%Y") %></p>
<% end %>

<a><%= link_to new_post_path do %>
  New post
<% end %>
</a>
</div>
