<p id="notice"></p>

<h1 style="text-align:center;">Posts</h1>
<%= render 'form', post: @post %>

<% @posts.to_a.reverse.each do |post| %>
  <div class="post-box">
    <div class="container">
      <div class="box blue">

        <table style="width: 100%">
          <tr class="header">
            <td style="width: 5%">
              <% if post.user.avatar.attached? %>
                <%= image_tag post.user.avatar.variant(resize: "50x50").processed %>
              <% end %>
            </td>
            <td>
              <div>
                <%= post.user.email %><br>
                <i><small><%= time_ago_in_words(post.updated_at) %> ago</small></i>
              </div>
            </td>
          </tr>
        </table>

        <div class="body">
          <div id="card-text-<%= post.id %>"> <%= simple_format(post.message) %></div>
        </div>

        <div id="edit-post-<%= post.id %>" class="edit-options">
          <%= form_with model: @post, url: "/posts/#{post.id}/", method: :patch, local: true do |form| %>
            <div class="input-group mb-3">
              <%= form.text_field :message, value: post.message, class: "form-control" %>
              <div class="input-group-append">
                <%= form.submit "Update", class: "btn btn-secondary" %>
              </div>
            </div>
          <% end %>
        </div>

        <div id="footer-top-container" style="display:flex; align-items: center; justify-content: center; ">

          <div id="post-likes" style="flex:auto " >
            <%= link_to(image_tag("thumbs-up-circle-blue-512.png", :style => 'max-width:100%;max-height: 17px;'), post_like_path(post.id, current_user.id), :method => :patch) %>
            <% @like_count = 0 %>
            <% post.likes.to_a.each do %>
              <% @like_count += 1 %>
            <% end %>
            <%= @like_count %>
          </div>

          <div id="post-comments" style="flex:auto">
            <%= link_to "Comments", "#", class: "comment-button", id: "comment-button-#{post.id}" %>
          </div>

          <% if post.user.id == current_user.id %>
            <div style="flex:auto">
            <%= link_to "Edit", "#", class: "edit-button", id: "edit-button-#{post.id}" %>
            </div>

            <div style="flex:auto">
            <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, class: "card-link" %>
            </div>
          <% end %>

          </div>

        </div>

          <div id="comment-options-<%= post.id %>" class="comment-options">
            <%= link_to 'Show', post, class: "card-link" %>


            <%= form_with model: @comments, url: '/posts/' + post.id.to_s + '/comments', method: "post", local: true do |form| %>
              <div class="input-group mb-3">
                <%= form.text_field :message, placeholder: "Type a comment", class: "form-control", id: "message_body" %>
                <% p params %>
                <div class="input-group-append">
                  <%= form.submit "Send", class: "btn btn-secondary" %>
                </div>
              </div>
            <% end %>

            <% post.comments.to_a.reverse.each do |comment| %>
              <% p comment %>
              <p class="card-text"><%= simple_format(comment.message) %></p>
              <p class="card-text"><%= simple_format(comment.email) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
