<div class="container text-center">
<h2>  Hi there, <%= current_user.firstname %> </h2>

  <%= form_for(@post) do |form| %>
    <%= form.label :"what's on your mind?" %><br>
    <%= form.text_area :message, :cols => "60", :rows => "4" %>
  <p>
    <%= form.submit "Post" %>
  <% end %>

  <% @posts.each.reverse_each do |post| %>
  <div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card-header">
      <a class="card-link text-left"><%= link_to post.user.firstname, post.user %></a>
        <a class="card-subtitle mb-2 text-muted text-right"><%= post.created_at.in_time_zone("London").strftime("%H:%M %b %d, %Y") %></a>
    </div>
    <div class="card-body">
        <p class="card-text"><%= post.message %></p>
    </div>
    <div class="card-footer text-muted">
      <p class="card-text"><%= link_to %></p>
    </div>
  </div>

<% end %>
  </div>
</div>
