<% if @current_user.nil? %>
  <%= link_to new_user_path do %>
    Sign Up
  <% end %>
  Login
<% else %>
  <%= link_to('Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete) %>
<% end %>

<%= flash[:notice] %>

<%@posts.each do |post| %>
  <div id="post-<%= post.id %>">
    <%= post.formatted_message%>
    <%=post.posted_at%> <br>
    <%=post.user.username if !!post.user_id%>
    <%= link_to('edit', {:controller => "posts", :action => 'edit', :id => post.id }, :method => :get) %>
  </div>
<%end%>


<%= link_to new_post_path do %>
  New post
<% end %>
