<h1> Hello <%= session[:users_id] %> </h1>
<% @posts.each do |post| %>
  <% @user = User.find(post.users_id) %>
  <p><textarea cols = "60" rows = "10" ><%= post.message %> </textarea> ( created on:     <%= post.created_at %> )    ( created by:     <%=@user.username%>) 
  <%= link_to 'Edit Post' , edit_post_path(post) %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
