<% @posts.reverse.each do |post| %>
  <div>
    <%= link_to post.message, post_path(post) %>
    <%= User.find(post.user_id).username%>

    <%= post.created_at.strftime("%b %e %Y %H:%M")%>
    <% if session[:user_id] == post.user_id && (post.created_at - 10.minutes.ago) > 0   %>
      <%= button_to "Edit", edit_post_path(post), method: "get"%>
      <%= button_to "Remove", post_path(post), method: "delete", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
<% end %>
<%= link_to new_post_path do %>
New post
<% end %>
