<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<%# <% if @post.errors.any? %>
 <h2>The following errors prevented the post from saving:</h2>
 <ul>
 <% @post.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>


<% end %> %>
