 <%= form_for @post do |form| %>
   <%= form.label :message %>
  <%= form.text_area :message %>
  <%= form.label "Image" %>
  <%= form.file_field :image %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class='alert danger'><%= msg %></div>
    <% end %>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
