<!DOCTYPE html>
<html>
<body>

  <%= params[:wall_id] %>
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_area :message, :maxlength => 500, :size => 40, :id => "area" %>
    <%= form.hidden_field :wall_id, value: params[:wall_id] %>
    
    <%= form.submit "Submit" %>
  <% end %>

  <script>
    var area = document.getElementById("area");
    document.getElementById("new_post").addEventListener('keydown', function (event) {
      if (event.keyCode === 13 && event.target !== area) {
        event.preventDefault();
      }
    });
  </script>
</body>
</html>
