<li><%= link_to "Homepage", "/welcome", method: :get %></li>
<li><%= link_to 'Posts', '/posts', method: :get%></li>
<li class="right_links"><%= link_to 'Logout', '/logout', method: :post %></li>
<li class="right_links">Online: <%= current_user.username %></li>

<br><br>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <br>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <br>
  <%= form.submit "Submit" %>
  
<% end %>
