<li><%= link_to "Homepage", "/welcome", method: :get %></li>
<li><%= link_to 'Posts', '/posts', method: :get%></li>
<li><%= link_to 'Logout', '/logout', method: :post %></li>

<br><br>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
