<nav>
  <ul>
    <%= link_to "Homepage", "/welcome", method: :get %>
    <%= link_to 'Posts', '/posts', method: :get%>
    <%= link_to 'Logout', '/logout', method: :post %>
  </ul>
</nav>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
