<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
    body {
    padding-top: 50px;
    padding-left: 50px;
    }
    </style>
  <title></title>
  </head>
  <body>
    <%= form_for @post do |form| %>
      <%= form.label :message %>
      <p class="emoji-picker-container">
        <%= form.text_area :message, :maxlength => 500, data: { emojiable: true } %>
      </p>
      <%= form.submit "Submit" %>
    <% end %>
    <%= link_to 'Back', posts_path %>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
