<div class="main-container">
<%= image_tag "flames.gif", alt: "lit message", class: "lit-gif" %>

<%= image_tag "unicorn.gif", alt: "horse", class: "unicorn" %>

<div class="new_post">
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>
</div>
</div>
<%= image_tag "duck.gif", alt: "duck", class: "duck" %>

