<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
<div class="field">
  <%= form.label :file %>
</div>
  <div class="file_button">
    <%= form.file_field :file %>
  </div>
  <%= form.submit "Submit" %>
<% end %>
