<%= render 'layouts/navbar' %>

<%= form_with model: @post, local: true do |form| %>
  
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %><br>
  </p>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>


