<%# <%= form_with model: posts do |form| %>
  <%# <%= form.label :message %> %>
  <%# <%= form.text_field :message %> %>

  <%# <%= form.submit "Submit" %> %>
<%# <% end %> %> %>

<%# new form %>
<p>
  <strong>Add Post:</strong>
</p>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>
