<div class="jumbotron">
  <%= form_for @post, url: posts_path, html: { multipart: true } do |form| %>
    <%= form.label :message %>
    <p class="emoji-picker-container">
      <%= form.text_area :message, :maxlength => 500, data: { emojiable: true } %>
    </p>
    <%= form.file_field :image %>
    <%= form.submit :Submit, class: 'btn btn-primary'%>
  <% end %>
  <button type="button" class="btn btn-light"><%= link_to 'Back', posts_path %></button>
</div>
