<div class="card">
<%= form_for @post do |form| %>
  <%= form.hidden_field :wall_id, :value => params[:wall_id] %>
  <div class="card-header"><h5><%= form.label 'New Post:' %></h5></div>

  <div style="padding: 15px;">
  <div class="form-group" >
  <%= form.text_area :message %>
  </div>
  <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
