<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<div class="container" id="posts">
  <% @posts.each do |post| %>
    <div class="border" name="post" id="post_<%= post.id %>">
      <br>
      <div id="post_format">
        <h4 class="user_name"><%= post.user.name.capitalize %></h4>
        <p id="time"><%= post.updated_at.strftime("%e %b %Y") %></p>
        <span id="post_content"><%= simple_format(post.message) %></span>
      </div>
      <% if post.user == current_user %>
        <%= link_to '❌', post_path(post), method: :delete, id: "delete-#{post.id}" %>
        <% if post.editable? %><%= link_to '✏️', edit_post_path(post.id) %><% end %>
      <% end %>
      <%= link_to '💬', new_post_comment_path(post.id) %>
      <span class="pull-right">
        <%= link_to like_post_path(post), method: 'post', remote: true do %>
          <span id="Post_<%= post.id %>_likes"><%= post.likes.count %> ⭐️</span>
        <% end %>
      </span>
    <div class="container border" id="comments">
      <% post.comments.each do |comment| %>
        <div class="container" name="comment" id="comment_<%= comment.id %>">
          <p><span class="user_name"><%= comment.user.name %></span> <%= comment.comment %></p>
        <% if comment.user == current_user %>
          <span class="comment_buttons"><%= link_to '❌', post_comment_path(post, comment), method: :delete, id: "delete-#{comment.id}" %></span>
          <% if comment.editable? %>
            <span class="comment_buttons"><%= link_to '✏️', edit_post_comment_path(post.id, comment.id) %></span>
          <% end %>
        <% end %>
        <span class="pull-right">
          <%= link_to like_post_comment_path(post, comment), method: 'post', remote: true do %>
            <span id="Comment_<%= comment.id %>_likes"><%= comment.likes.count %> ⭐️</span>
          <% end %>
        </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
