<div style='padding: 20px'>
<%= form_for :post, :url => {:action => 'create'} do |form| %>
  <%= form.label :message %>
  <div style='width: 30%'><%= form.text_area :message, class: "post_area" %></div>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <%= form.submit "Submit" %>
<% end %>
</div>
