<div class = "nav">
  <nav class="navbar navbar-default navbar-light">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-top" id="navdropdown">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "Home", root_url, class: "navbar-brand" %>
        <%= link_to "Posts", "/posts", class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="navbar-top">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
          <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br>
<br>
<br>
<%= form_for @post do |form| %>
<%= form.label :message %>
<p> <%= form.text_area :message, size: "24x6" %> </p>

<%= form.submit "Submit" %>
<% end %>
