<h4>Welcome to Acebook you are logged in as: <%= current_user.email %></h4>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
