<%= form_for @post do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>



  <%= form.label :message %>
  <%= form.text_area :message %>
  <%= form.hidden_field :wall_id, :value => File.basename(request.referer) %>

  <%= form.submit "Submit" %>

  <%= link_to 'Back', posts_path %>
<% end %>
