<div class="box" style="width: 70%;">
<div class="card-body">
    <h3 class="card-text" style=''DotGothic16'; color: green; width: fit-content; margin-left: 325px; border-radius: 9%;'>


 <%= form_for @post do |form| %>
   <%= form.label :message %>
   <br>
  <%= form.text_area :message %>
  <br>
  <%= form.label "Image" %>
  <br>
  <%= form.file_field :image %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class='alert danger'><%= msg %></div>
    <% end %>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
</div>
</div>
