<%= form_for @post do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>



  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<!-- <script>
  var form = document.getElementById("new_post").lastElementChild.addEventListener('click', doStuff);

  function doStuff(e) {
    console.log("this is working");
  }

  // console.log("hi");
  // console.log(form);
</script> -->
