<body>
  <h1>News Feed</h1>
    <% @posts.each do |post| %>
    <% uri = URI.parse("http://localhost:3000/posts/likes/#{post.id}") %>
    <% like_count = JSON.parse(Net::HTTP.get(uri)) %>
      <div class="post-container">
        <div class="user-post">
        <% date_string = post.parse_date() %>
          <p> <%= keep_line_break(post) %></p>
          <p>Posted by: <%= post.user.first %>  <%= post.user.last %> on <%= date_string %></p>
            <% if current_user.liked? post %>
              <% like_status = 'unlike'%>
            <% else %>
              <% like_status = 'like'%>
            <% end %>
              <div><%= link_to like_post_path(post, like_status),
                class: "like-btn-#{post.id}", method: :put, remote: :true,
                onclick: "getNumLikes(#{post.id})" do%>
                <span class="like-emoji">👎</span>
                <p class=<%="like-number-#{post.id}"%>> <%= post.get_likes.size %> </p>
              </div>
            <% end %>
        <div class="post-info">
          <% if Time.now - post.created_at < 600 %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% link_to %>
        </div>
        </div>
      </div>
    <%end%>
</body>
