
  <p><%= @post.message %></p>
  <p>
    <% @post.comments.each do |comment| %>
    <p>
      <%= comment.comment %>
    </p>
    <% end %>
    <p><%= link_to 'Comment on this post', new_comment_path(post_id: @post.id) %>
  </p>



<%# 
<%= form_for @comment do |form| %>
  <%# <%= form.label :comment %>
  <%# <%= form.text_field :comment %>

  <%# <%= form.submit "Submit" %> 
<%# <% end %> 




  <p><%= link_to 'Home', posts_path %>
