<p>
  <strong>Post:</strong>
  <%= @post.message %>
</p>

<div id="post_<%= @post.id %>_likes">
  <%= render partial: "likes", locals: {post: @post} %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %>
|
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <h5><%= link_to 'Delete Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure? '} %></h5>
  <h5><%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment) %>
  </h5>

<% end %>

<h2>Add a comment:</h2>

<%= render 'addcomment' %>