<p class='notice'>
    <%= notice %>
</p>

<p>
    <h1> <%= @post.message %> </h1>
    <% like_check = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if like_check %>
      <%= button_to 'Unlike', post_like_path(@post, like_check), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>
</p>
    
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% end %>
 
 <div class="jumbotron">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>