<div class="card text-center" style="width: 31rem;">
    <div class="card-header">
      <%= @post.user_first_name %> 
      <p> posted <%= time_ago_in_words(@post.created_at) %> ago </p>
    </div>
    <span class="card-img-top">
      <%= image_tag @post.postimage.square.url, :class => "post_image", :style => "width: 100%" if @post.postimage? %>
    </span>
    <div class="card-body">
      <p class="card-text"><%= @post.message %></p>
    </div>

    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_first_name %></strong>
        <br>
        <p><%= comment.user_first_name%> said: <%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
<div>
  <%= link_to edit_post_path(@post), class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span> Edit Post
  <% end %>
  <%= link_to posts_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-backward"></span> Back
  <% end %>
</div>
