<p>
  <strong>Post:</strong>
  <%= @post.description %>
</p>


<small>Add a comment:</small>
<%= render @post.comments %>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', current_user %>
