<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key%>">
      <%= value %>
    </div>
  <% end %>
</div>
<div class="container new-post-container">
  <% if current_user %>
    <%= link_to root_path do %>
      <button class="btn btn-new-post">Posts</button>
    <% end %>
  <% end %>
</div>
<div class="container cards-container">
  <% @post_user = User.find(@post.user_id) %>
    <div class="card">
      <div class="card-body">
        <div>
          <p><%=link_to @post_user.first_name, user_path(@post_user.id)%></p>
          <p class="post-time"><%= @post.created_at.strftime("%d/%m/%y") %></p>
        </div>
        <div class="message-container">
          <p class="post-message"><%= @post.message %></p>
        </div>
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <button class="btn btn-unlike">
            <i class="far fa-thumbs-down"></i>
            <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete%>
            <p class="likes-count"><%= @post.likes.count %></p>
          </button>
        <% else %>
          <button class="btn btn-like">
            <i class="far fa-thumbs-up"></i>
            <%= link_to 'Like', post_likes_path(@post), method: :post%>
            <p class="likes-count"><%= @post.likes.count %></p>
          </button>
        <% end %>
        <% if current_user == @post_user %>
          <button class="btn btn-delete">
            <i class="fas fa-trash-alt"></i>
            <%= link_to 'Delete', @post, method: :delete%>
          </button>
          <button class="btn btn-edit" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-sort-down"></i> Update
          </button>
          <button class="btn btn-edit">
            <i class="far fa-edit"></i>
            <%= link_to edit_post_path(@post.id) do %>
              Edit
            <% end %>
          </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  <%= bootstrap_form_for(@post) do |f| %>
                  <p><%= f.text_area :message,
                                      rows: 6,
                                      required: true,
                                      minlength: 0,
                                      maxlength: 1000,
                                      placeholder: @post.message,
                                      class: 'form-control' %></p>
                <%= f.submit "Accept", class: 'form-control create-post-button' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
