
  <p><%= @post.message %></p>

<h1>New Comment</h1>


<%= form_for @comment do |form| %>
  <%= form.label :comment %>
  <%= form.text_field :comment %>

  <%= form.submit "Submit" %>
<% end %>


  

  <p><%= link_to 'Home', posts_path %>
