<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
    body {
    padding-top: 50px;
    padding-left: 50px;
    }
    </style>
  <title></title>
  </head>
  <body>
    <div><%= @post.message %></div>
    <span><%= link_to 'Edit', edit_post_path(@post) %></span>
    <span><%= link_to 'Delete', post_path(@post),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>
    <span><%= link_to 'Back', posts_path %></span>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
  <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes' %> </p>
    <%= render 'comments/comment' %>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
