<%= link_to 'Back', posts_path %>
<div class="comment-box">
  <h5><%= simple_format(Rinku.auto_link(@post.message)) %></h5>
  <% if @post.image.file? %>
    <img class="img-fluid" alt="Responsive image"><%= image_tag @post.image.url, :style => "max-height: 500px; max-width: 500px;" %></img>
  <% end %>
  <div class="small"><%= @post.created_at_timestring %></div>
  <span>
    <% if @post.owner?(current_user) %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Delete', post_path(@post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% end %>
  </span>
  <div id="<%="post_likes_wrapper"%>">
    <div id="<%="post_likes"%>">
      <span class="counters">
        <% pre_like = @post.find_like(current_user) %>
        <% if pre_like %>
          <%= button_to 'Unlike', post_like_path(@post, pre_like),
          type: "button",
          class: "btn btn-primary",
          method: :delete,
          onclick: "redrawLikes('post_likes_wrapper', '/posts/#{@post.id}', 'unlike_button')",
          remote: true,
          data: { disable_with: "Unlike" },
          id: "unlike_button" %>
        <% else %>
          <%= button_to 'Like', post_likes_path(@post),
          type: "button",
          class: "btn btn-primary",
          method: :post,
          onclick: "redrawLikes('post_likes_wrapper', '/posts/#{@post.id}', 'like_button')",
          remote: true,
          data: { disable_with: "Like" },
          id: "like_button" %>
        <% end %>
        <span class="glyphicon glyphicon-heart"><%= @post.like_count_string %> </span>
        <span class="glyphicon glyphicon-comment"><%= @post.comment_count_string %></span>
    </div>
  </div>
</div>
<%= render 'comments/comment' %>
