<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= simple_format(@post.message) %>


    <%= User.find(@post.user_id).name %>
    <%= @post.created_at.strftime("posted on %m/%d/%Y at %I:%M%p")%>
    <% if current_user.id == @post.user_id %>
    <%= link_to "Edit Post", edit_post_path(@post) %>
    <%= link_to "Delete Post", post_path(@post), method: :delete,
  data: {confirm: 'Are you sure?'}%>
    <% end %>
  </div>
</div>
<br>


<h3 class="commentBox">Comments</h3>
<% if @post.comments.length > 0 %>
<% @post.comments.reverse.each do |comment| %>
<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= User.find(comment.user_id).name %>
    <%= comment.created_at.strftime("commented on %m/%d/%Y at %I:%M%p")%>
    <%= simple_format(comment.comment) %>
    <% if current_user.id == comment.user_id %>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete Comment", post_comment_path(@post, comment), method: :delete,
  data: {confirm: 'Are you sure?'}%>
    <% end %>
  </div>
</div>

<% end %>
<% end %>

<%= render partial: 'comments/form' %>