<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<h2> Add a comment: </h2>
<%= form_with model: [@post, @post.comments.build] do 
  |form| %>
  <p>
  <%= form.text_field :user_id, value: current_user.id, type: hidden %>
  </p>
  <p>
  <%= form.text_area :body %>
  </p>
  <p>
  <%= form.submit %>
  </p>
  <% end %>
