<p><%= @post.message  %></p>
Comments:
<% @post.comments.each do |comment| %>
  <div id="comment_<%= comment.id %>">
    <br>
    <pre><%= comment.body %></pre>
    <p>Commented at: <%= comment.updated_at.strftime("%Y-%m-%d %k:%M")%></p>
    <%= button_to "Delete", {:controller => :comments,
      :action => 'destroy', :id => comment.id, :post_id => @post.id, :method => :delete} %>
  </div>
<% end %>

<%= button_to "Delete", {:controller => :posts,
  :action => 'destroy', :id => @post.id, :user_id => @post.user_id }, :method => :delete %>

<%= button_to "Edit", {:controller => :posts,
  :action => 'edit', :id => @post.id, :user_id => @post.user_id }, :method => :get %>

<%= button_to "Comment", {:controller => :comments,
  :action => 'new', :post_id => @post.id, :user_id => @post.user_id }, :method => :get %>
