<div class="show_post">


<h2>Message:</h2>
<%= simple_format @post.message %>

<%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%>

<h2>Comments:</h2>
<%= render @post.comments %>




<div class="comments_posts_show">
<%= render 'comments/form' %>
</div>
<div class="like_button">
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>



</div>
