<br>
<br>
<div id="news_deck">
  <div class='post_div'>
    <div class="post_user_div">
      <%= image_tag @post.user.avatar.url(:thumb) %><br />
      <strong>User:
      </strong>
      <%= @post.user.username %>
      <br>
      <div id='timestamp'>
      <strong>Posted On:
      </strong>
      <%= @post.created_at.localtime.strftime("%H:%M %A %d-%m-%Y") %>
    </div>
    </div>
    <div class="parent_container_div">
      <div class="post_message_div">
      <%= simple_format(@post.message) %>
    </div>
    <div id="post_like_count">
      <div id="post_<%= @post.id %>_likes">
        <strong>Likes:</strong>
        <%= @post.likes.where(on: true).count %>
        <!-- render partial: "likes", locals: {post: @post} -->
      </div>
    </div>
    </div>
  </div>
</div>

<!-- link_to "Like", post_likes_path(post, @like, user_id: current_user.id), method: :post, id: 'Like', value: current_user.id -->
<div id="news_deck">
<% if @post.user.id == current_user.id %>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
<% end %>
<br>
<br>
</div>

<h2 id="sub_heading">Comments</h2>
<%= render 'comments/comments' %>

<div id='add_comments_form'>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  <%= button_to 'Back', posts_path, {method: :get, id: 'back_btn'} %>
</div>
