<p>
  <strong>Post:</strong>
  <%= @post.message %>
</p>

<div id="post_<%= @post.id %>_likes">
  <%= render partial: "likes", locals: {post: @post} %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %>
|
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<%= render 'comments/comments' %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
