<%= render 'layouts/navbar' %>


<h1>Post</h1>
  <%= simple_format(@post.message) %>
  <% user = User.find_by(id: @post.user_id) %>
  <p> <%= user.first_name %> <%= user.last_name %>: <%= @post.time_stamp %></p>

  <h2>Comments</h2>
  <div>
    <% @post.comments.each do |comment| %>
      <p> <%= comment.body  %> </p>
      <% commenter = User.find_by(id: comment.user_id) %>

      <p> Commented by: <%=commenter.first_name%> <%=commenter.last_name%></p>
      <p> <%= comment.created_at  %></p>
    <% end %>
  </div>

<%= link_to 'Back', post_path %>

  <h2>Add your comment:</h2>
  <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
      <% p @post.comments.build %>
    <p>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
