<div class="container">
 <div class="row">
 <div class="col-6">
 
   <p><%= @posts.message %></p>
   


<p><%= link_to "Edit", edit_post_path(@posts), class:"btn btn-outline-primary" %> |    |
<%= link_to "Delete", post_path(@posts),
    method: :delete,
    data: { confirm: "Are you sure?" }, class:"btn btn-outline-primary" %></p>
<br>
<h3>Comments</h3>
<% @posts.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
    <p>
  <%= link_to 'Delete Comment', [comment.post, comment],
              method: :delete, class:"btn btn-outline-primary  btn-sm"%>
</p>

  </p>
<% end %>

 </div>
 <div class="col-6">

<h4>Add a comment:</h4>
<%= form_with model: [ @posts, @posts.comments.build ], local: true do |form| %>
  <p>
    <%= form.text_area :body, placeholder: "Comment On The Post" %>
  </p>
  <p>
    <%= form.submit  %>
  </p>
<% end %>

</div>
 </div>
  </div>