<div><%= @post.message %></div>
<span><%= link_to 'Edit', edit_post_path(@post) %></span>
<span><%= link_to 'Delete', post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></span>
<span><%= link_to 'Back', posts_path %></span>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>

  <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes' %> </p>

<%= render 'comments/form' %>
  <% @post.comments.sort_by { |x| x.created_at || 0}.reverse.each do |comment| %>
    <div><%= comment.content %> <%= '-' if (comment.content)%> <%= User.find(comment.user_id).email if (comment.user_id)  %></div>
  <% end %>
