
<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <%= simple_format(@post.message) %><br>
      <br>Created <%= @post.created_at.strftime("on %d/%m/%Y at %I:%M%p") %>
    </div>
  </div>
</div>

<div class="text-center edit-links">
  <%= link_to 'Delete', post_path, method: :delete, data: {confirm: "Are you sure?"}  %>
  
  <% if @post.edit_timer? %>
    <%= link_to 'Edit', edit_post_path %>
  <%end%>

  <% if flash[:error] %>
    <div><%= flash[:error] %></div>
  <% end %>
</div>
