<p>
  <strong>Message:</strong>
  <%=simple_format(@post.message) %>
</p>

<article id='likes'>
  <span id='likes-count'>
    Likes: <%= @post.likes.count %>
  </span>
  <span id='likes-button'>
    <%= form_with(model: [@post, @post.likes.build ], local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit 'Like' %>
    <% end %>
  </span>
</article>

<%= link_to 'Comment', new_post_comment_path(@post) %>
<p>
  <% @post.comments.each do |comment| %>
  <span> <%= User.find(comment.user_id).name %> commented:
  <%= comment.body %> </span>
  <br>
  <%= link_to 'Edit comment', edit_post_comment_path(@post, comment) %>
  <%= link_to 'Destroy comment', post_comment_path(comment),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this comment? '} %>
  <br>
  <% end %>
</p>



<% if @post.user_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', post_path(@post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', posts_path %>
