<%# Individual Post %>
<% content_for :head do %>
  <%= stylesheet_link_tag "post_page" %>
<% end %>

<%# MODAL (pop up for retweet) %>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_for @new_post, remote: true do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form.hidden_field(:original_post_id, value: params[:id]) %>
          <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "Add caption"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Submit", id: "submit_share", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="page">
  <div id="post" class="align-middle">
    <div id="user-details" class="inner-post">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
      <%= link_to "@#{@user.username}", @user %>
    </div>
    <hr>
    <div id="post-content" class="inner-post">
      <h4><%= @post.content %></h4>
      <p><%= @post.created_at %></p>
      <div id="original_post">
        <% if @original_post %>
          <%= render @original_post %>
        <% end %>
      </div>
    </div>
    <hr>
    <div id="post-stats" class="inner-post">
      <p><span id="likes"><%= @post.likes %></span> likes</p>
    </div>
    <hr>
    <div id="interaction-panel" class="inner-post">
      <%= button_to "Like", { :id => @post.id}, {method: :put, class: "btn btn-secondary", remote: true} %>
      <button class="btn btn-secondary" data-toggle="collapse" data-target="#comment_form">Add Comment</button>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#shareModal">Share</button>
    </div>
    <hr id="beforeComments">
    <div id="comment_form" class="collapse">
      <%= render "comments/add_comment" %>
    </div>
    <div id="comments">
      <%= render @comments %>
    </div>
  </div>
</div>
