
  <p><%= @post.message %></p>


<%= p @comment %>

<%# 
<%= form_for @comment do |form| %>
  <%# <%= form.label :comment %>
  <%# <%= form.text_field :comment %>

  <%# <%= form.submit "Submit" %> 
<%# <% end %> 


   <p><%= link_to 'Comment', new_comment_path %>

  <p><%= link_to 'Home', posts_path %>
