<div style="padding-bottom: 7.5px;">
  <div class="card">
      <div style="padding: 20px;">
        <p>Comments on
          <strong>
            <%= link_to @post.user.real_name, user_path(@post.user) %>
          </strong>
          post
        </p>
          <small><%= time_ago_in_words(@post.created_at)%> ago.</small>
          <p><%= simple_format(@post.message) %></p>
          <%= render 'comments/comment' %>
          <%= link_to 'Back', :back %>
      </div>
  </div>
</div>
