<%= link_to "Ace-Book by AmoebaBoyz", root_url, class: "navbar-brand" %>
<p>
  <strong>Content:</strong>
  <%= simple_format(@post.content) %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
