<p>
  <%= @post.message %>
</p>
<p>
  <%= @post.created_at %>
</p>

<%= link_to 'Edit', edit_user_post_path(current_user, @post) %>
<%= link_to 'Back', user_posts_path(current_user) %>
<%= link_to 'Logout', logout_path %>


