<%= link_to "#{@wall_owner.id}/posts/new", id: 'new_post' do %>
  new post
<% end %>

<h1><%= @wall_owner.first_name %>'s wall</h1>

<div id="posts">
<ul id="posts">
<% @posts.each do |post| %>
  <li class='posts' id='<%= post.id %>'>
    <p class='posts'>
      <%= post.message %>
    </p>
    <p class='time'>
      <%= post.updated_at.strftime('%I:%M%p - %e %b %Y ') %>
    </p>
    <%= form_tag("posts/#{post.id}/edit", method: "get") do %>
      <%= submit_tag("Edit") %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= button_to 'Like', post_likes_path(post), method: :post %>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes' %></p>
  </li>
    <% end %>
    </ul>
    </div>
