<h2>Welcome to <%= @user.email %>'s wall</h2>

<ul id="wall">
  <% @posts.each do |post| %>
    <li>
    <div id=<=% post.id %>
      <p><%= simple_format(post.message) %></p>
      <p><% raw_post_time = Time.parse(post.created_at.to_s[0, post.created_at.to_s.length - 3]) %>
      <%post_time = raw_post_time +60*60%></p>
      <p> <%= post_time.strftime("%d/%m/%Y %H:%M") %> </p>
      <%= link_to('Edit Post', edit_post_url(post)) %>
      <%= link_to('Delete Post', post_url(post), method: :delete) %>
    </div>
    </li>
  <% end %>
</ul>

<%= form_for @post do |form| %>

  <%= form.label :message %>
  <%= form.text_area :message %>
  <%= form.text_area :wall_id, value: params[:id], hidden: true %>
  <%= form.submit "Submit" %>
<% end %>
