Welcome to <%=current_user.id%>s page

<% @posts.each do |post| %>
<% if current_user.id == post.user.id %>
<div class="container">
  <p><%= (post.created_at).strftime("%l:%M%P %-d-%B-%Y") %></p>
  <p class="post" ><%= post.message %> (<%= post.user.email %>)</p>
  <% if current_user.id == post.user.id &&  post.created_at > 10.minutes.ago
%>
  <%= link_to 'Edit', edit_post_path(post) %>
  |
  <%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <br>

    <span class="like-count"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></span>
    <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>

    <% if pre_like %>
      <div><%= button_to 'Unlike', post_like_path(post, pre_like), class: "unlike-button", method: :delete %></div>
    <% else %>
      <div><%= button_to 'Like', post_likes_path(post), class: "like-button", method: :post %></div>
    <% end %>
    <br>

</div>
<% end %>
<br>

<% end %>
<br>
<center><%= button_to "New post", new_post_path, :method => :get %></center>
