<%= render partial: './navbar_partial.html.erb', remote: true %>

<h1> <%= @user.username %>'s wall </h1>

<%= form_with model: Post.new, url: posts_path, :method => :post do |f| %>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.hidden_field :wall_id, :value => params[:id] %>
  <%= f.submit "Submit" %>
<% end %>

<%= render partial: './posts/view_posts.html.erb', remote: true %>

