<h1> <%= @user.username %>'s wall </h1>

<%= form_with model: Post.new, url: posts_path, :method => :post do |f| %>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.hidden_field :wall_id, :value => params[:id] %>
  <%= f.submit "Submit" %>
<% end %>

<% @posts.reverse_each do |post| %>
  <strong> <%= post.user.username %> </strong>
  <p> <%= post.message.html_safe %> <p>
<% end %>
