<% content_for :login_logout do %>
<li class="nav-item">


            <%= link_to sessions_path , method: :delete, class: "nav-item nav-link", id: "delete_post" do %>
            Logout
          </li>
           <% end %>
    <% end %>


   


<div class="container">

<div class="col-md-7">

      

              
<ul class="list-group">

<% if @current_user.friends.empty? %> 
 <h1> You have 0 friends...</h1>

<% else %> 


 <h1> Your friends </h1>
 <% @current_user.friends.each do |one_friend|  %> 
  <li class="list-group-item">  <%= one_friend.name %>  <small class="text-muted"><p>Friends since: <%= one_friend.updated_at.strftime("%B  %Y") %></p></small>    </li>
  
  </ul>
  <br>
<% end %> 
<% end %> 


<% if @current_user.friend_requests.empty? %> 

<% else %> 

 <h1> Your friend requests </h1>
 <% @current_user.friend_requests.each do |one_friend|  %> 
  <li class="list-group-item">  <%= one_friend.name %>  </li>
  
  </ul>
  <br>
<% end %> 


<% end %> 

<% if @current_user.pending_friends.empty? %> 

<% else %> 

 <h1> Your pending requests </h1>
 <% @current_user.pending_friends.each do |one_friend|  %> 
  <li class="list-group-item">  <%= one_friend.name %>  </li>
  
  </ul>
  <br>
<% end %> 
<% end %> 
</div>


  
</div>