<%= form_with(model: album, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
  <%= form.label :images %>
  <%= form.file_field :images, multiple: true %>
</div>

  <div class="actions">
    <%= form.submit "Create Album" %>
  </div>
<% end %>