<!DOCTYPE html>
<html lang="en">
  <title>Catbook</title>
  
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <h1 class="navbar-brand m-0" style="font-size: 175%;" id="nav-txt"><strong>Catbook</strong></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <% if current_user  %> 
        <a class="nav-link"  href="/posts"><i class="fas fa-home fa-lg"></i></a>
        <a class="nav-link active" aria-current="page" href="/profile"><i class="far fa-user-circle fa-lg"></i></a>
        <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fas fa-sign-out-alt fa-lg"></i></a>
        <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
        <%= link_to 'Sign In', new_user_session_path, class:"nav-link" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
    
  </header>

  <main>

  <% if current_user  %> 
    <div class="container">
    <div class="row">
    <div class="col justify-content-center">
    <div class="row justify-content-center">
    <div class="profile m-3">
    <div class="profile_header d-flex align-items-center">
        <h1 class="text-primary">My Purrfile</h1>
        <a class="btn btn-secondary" href="<%=edit_user_registration_path%>">Edit Details </a>
    </div>
    <div class="col d-flex justify-content-center">
  <% if current_user.avatar.attached? %>
    <div class ='profile-img'><%= image_tag(current_user.avatar_profile, style: "border-radius: 50%") %></div>
  <% else %>
    <div class ='profile-img'><%= image_tag("default_image.jpg") %></div>
  <% end %>
     <%= form_with(model: @user, local: true) do |form| %>
    <% end %>
    </div>
        <hr>
        <h5>First Name: <span class="text-muted"><%= current_user.firstname.capitalize %></span></h5>
        <h5>Last Name:   <span class="text-muted"><%= current_user.lastname.capitalize %></span></h5>
        <h5>Location:   <span class="text-muted"><%= current_user.location %></span></h5>
        <h5>Date Of Birth:    <span class="text-muted"><%= current_user.date_of_birth %></span></h5>
        <h5>Interests:    <span class="text-muted"><%= current_user.interests %></span></h5>
        <h5>About Me: <span class="text-muted"><%= current_user.about_me %></span></h5>

        <% else %>
        <h1>Sign in to view this page.</h1>
        <% end %>
    </div>
  </div>
  </div>
  <br>
  


<div class="container d-flex justify-content-center">
    <div class="row">
    <div class="col">
  <% @user = current_user%>
      <% @posts = @user.posts %>
 <% @user.posts.each do |post| %>
        <div class ='post'>
          <div class ='post_header'>
            <div class ='post_header--name-img'>
              <% if post.user.avatar.attached? %>
                <div class = 'post_header-img-default'><%= image_tag(post.user.avatar, style: "border-radius: 50%") %></div>
              <% else %>
                <div class = 'post_header-img-default'><%= image_tag("default_image.jpg", style: "border-radius: 50%") %></div>
              <% end  %>
              <div><%= post.user.firstname%> <%= post.user.lastname %></div>
              </div>
              <div class ='post_time text-secondary'><%= post.created_at.to_formatted_s(:time) %> </div>
          </div>

          <div class ='post__message'>
            <p><%= post.message %></p>
            <% if post.image.attached? %>
              <div class ='post__message-img'><%= image_tag(post.image) %></div>
            <%end%>
          </div>

          <div class ='post__footer-info'>
            <div class ='likes text-secondary'><div id ='<%=post.id + 100%>'><%= post.likes.count %></div><i class="fas fa-thumbs-up text-primary"></i></div>
            <% if post.comments.length == 1 %>
              <div class ='comments_num text-secondary' id ='comments<%=post.id%>'><%= post.comments.length %> <%= link_to "Comment", post, remote: true, class: "text-secondary" %></div>
            <% else %>
            <div class ='comments_num text-secondary' id ='comments<%=post.id%>'><%= post.comments.length %> <%= link_to "Comments", post, remote: true, class: "text-secondary" %></div>
            <% end %>
          </div>

          <div class ='post_footer'>
            <p  class ='post__footer-el'>
              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to 'Like', post_like_path(post, pre_like), method: :delete, class: "text-primary" %> <span><i class="fas fa-thumbs-up text-primary"></i></span>
              <% else %>
                <%= link_to 'Like', post_likes_path(post), method: :post %> <span><i style ='color: #ddd' class="far fa-thumbs-up"></i></span>
              <% end %>
            </p>
            <p class ='post__footer-el'><%= link_to "Comment", post, class: 'post__footer-el', remote: true %></p>
            <% if post.user == current_user %>
              <p class ='post__footer-el deletes'><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'deletes' %></p>
            <% else %>
              <p class ='post__footer-el delete'>Delete</p>
            <% end %>
          </div>
          <div class= 'post__comments' id ='<%=post.id%>'></div>
        </div>
      <% end %>
</div>
     
    
  </main>

</body>
</html>