
<!DOCTYPE html>
<html lang="en">
  <title>Catbook</title>
  
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'interface' %> 
    <%= csrf_meta_tags %>
<body>
  <header>
<%= render 'layouts/navbar' %>
  </header>

  <main>

  <%# <% if @user.image.attached? %>
   <%# <%= image_tag(@user.image, style:'width:100%') %>
  <%# <% else %> 
  <%# <% end %>
  
   <% if current_user  %> 
   <%= image_tag "default_image.jpg" %>
        <h1>Profile Settings</h1>
        <p>First Name: <%= current_user.firstname %></p>
        <p>Last Name: <%= current_user.lastname %></p>
        <% else %>
        <h1>Sign in to view this page.</h1>
        <% end %>
  </main>

</body>
</html>
