<header>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" id="nav-bar">
    <% if signed_in? %>
    <%= link_to image_tag("monsters_inc_logo.jpg", class: "logo"), wall_path(current_user.id), method: :get %> 
    <% else %>
      <%= image_tag("monsters_inc_logo.jpg", class: "logo") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-left" id="scarers-list">
    <% if signed_in? %>
    <li class="nav-item">
        <div class="nav-bar-scarers-list" >
          <%= button_to 'Scarer list', users_path, method: :get,:class => 'btn btn-lg btn-primary btn-block sign-out' %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-bar-monster-chat" >
          <%= button_to 'monster chat', rooms_show_path, method: :get,:class => 'btn btn-lg btn-primary btn-block sign-out' %>
        </div>
    <% end %>

    </li>
    </ul>

      <ul class="navbar-nav navbar-right" id="signout">
        <li class="nav-item">
        <div class="nav-bar-signout-signup" >
          <% if signed_in? %>
              <p class="signed-in-as"> Scarer: <%= current_user.username %> </p>
              <%= button_to 'sign out', sign_out_path, method: :delete, :class => 'btn btn-lg btn-primary btn-block sign-out' %>
          <% else %>
              <span class="navbar-signup">not a Scarer? <%= link_to "sign up", sign_up_path, :class => "signup_link" %> </span>
          <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
