<header class="navbar navbar-fixed-top navbar-inverse">
  <style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d64242;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #626868;
}
</style>
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <ul class="dropdown-menu">
              <li><%= link_to "Timeline", posts_url  %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Users", users_path %></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
