<header class="navbar navbar-fixed-top">
<div class="jumbotron">
  <div class="container">
    <% if logged_in? %>
      <% user = User.find_by(id: session[:user_id]) %>
      <%= link_to "Acebook", user_path(user), id: "logo" %>
    <% else %>
      <%= link_to "Acebook", root_path, id: "logo" %>
    <% end %>
    <nav>

      <ul class="nav navbar-nav navbar-right" id="nav">
        <% if logged_in? %>
          <% user = User.find_by(id: session[:user_id]) %>
          <li style="color:white"><%= link_to "Home", user_path(user) %></li>
          <li style="color:white"><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.first_name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", profile_path %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    </div>
  </div>
</header>