<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/posts">Robot Lizard<img src="https://media.giphy.com/media/Lml3u3TpB2P3au7QmM/giphy.gif" width="50" height="50" alt=""> <strong><%= current_user.email %></strong>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      <a class="nav-item nav-link active" <%= link_to posts_path, :method => :get do %>  
       <button type="button" class="badge badge-primary">Home</button> 
      <% end %>  <span class="sr-only">(current)</span></a>
      
      <a class="nav-item nav-link active" <%= link_to user_path(current_user.id), :method => :get do %> 
       <button type="button" class="badge badge-primary">Profile</button> 
      <% end %>  </a>
      
      <a class="nav-item nav-link active" <%= render :partial => "./friendships/friend_requests"%>  </a>
      
      <a class="nav-item nav-link active" <%= link_to edit_user_registration_path, :method => :get do %> 
       <button type="button" class="badge badge-primary">Settings</button> 
      <% end %> </a>

      <a class="nav-item nav-link active" <%= link_to  destroy_user_session_path, method: :delete do  %>
       <button type="button" class="badge badge-primary">Log out</button>
      <% end %>  </a>


    </div>
  </div>
</nav>
<br>






