<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="<%= asset_path('logo.png') %>">
    </a>
  </div>
  <div>
    <a role="button" class="navbar-burger burger" id='burger' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </a>
<<<<<<< HEAD
  </div>
  <% if logged_in? %>
  <div class="navbar-menu" id='nav-links'>
    <div class="navbar-start">
<<<<<<< HEAD
        <a class="navbar-item" href="/posts"> Home </a>
        <a class="navbar-item" href="/pages/about"> About </a>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
        <%# It seems like the ending of the embeded ruby can also close the a tag in this instance %>
            <%= button_to "Profile", user_path(current_user), class: "button is-primary", method: "get" %>
            <%= button_to "Log out", logout_path, method: "delete", class: "button is-primary" %>
        <% else %>
          <%= button_to "Sign up", signup_path, class: "button is-primary", method: "get" %>
          <%= button_to "Log in", login_path, class: "button is-light", method: "get" %>
          </div>
=======
    <a class="navbar-item" href="/posts"> Home </a>
    <a class="navbar-item" href="/pages/about"> About </a>
=======
</div>
 <% if logged_in? %>
<div class="navbar-menu" id='nav-links'>
    <div class="navbar-start">
      <a class="navbar-item" href="/posts"> Home </a>
      <a class="navbar-item" href="/pages/about"> About </a>
      <a class="navbar-item" href=<%= link_to "Log out", logout_path, method: "delete" %>></a>
>>>>>>> adding log out
    </div>
    <% else %>
    <div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
        <form action='/signup' method='get'>
            <button class="button is-primary">
            <strong>Sign up</strong>
            </button>
        </form>
            <form action='/login' method='get'>
            <button class="button is-light">
                <strong>Log in</strong>
            </button>
            </form>
        </div>
>>>>>>> feat: sessions controller
        </div>
      </div>
    </div>
<<<<<<< HEAD
  </div>
  <%end%>
=======
    </div>
    <%end%>
>>>>>>> adding log out
</nav>