<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="<%= asset_path('logo.png') %>">
    </a>
</div>
<div>
    <a role="button" class="navbar-burger burger" id='burger' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </a>
</div>
<% if logged_in? %>
<div class="navbar-menu" id='nav-links'>
    <div class="navbar-start">
      <a class="navbar-item" href="/posts"> Home </a>
      <a class="navbar-item" href="/pages/about"> About </a>
      <%# It seems like the ending of the embeded ruby can also close the a tag in this instance %>
      <a class="navbar-item" <%= link_to "Log out", logout_path, method: "delete" %></a>
      <a class= "navbar-item" <%= link_to "Profile", user_path(current_user) %> </a>
      <% else %>
      <a class="navbar-item" <%= link_to "Sign up", signup_path, method: "get"%> </a>
      <a class="navbar-item" <%= link_to "Log in", login_path, method: "get"%> </a>
    </div>
    </div>
    <%end%>
</nav>