<h1>Timeline</h1>
<div class="new-post-btn-container">
  <%= button_to "New post", new_post_path, :method => :get, :form_class => "btn" %>
</div>
<% @posts.each do |post| %>
  <p class="post"><%= h(post.message).gsub(/\r\n/, '<br>').html_safe %>
    <br>
    <br>
    Date posted: <%= post.created_at.strftime('%d %B %Y at %l:%M %p') %>
    <br>
    Posted by <%= User.find(post.user_id).email %>
    <% if (post.user.id === current_user.id) %>
      <%= link_to 'Edit', edit_post_path(post)%> |
      <%= link_to 'Delete', post_path(post),
        method: :delete,
        data: { confirm: 'Are you sure?' }
        %> |
    <% end %>
      <%= link_to 'Comment', new_comment_to_post_path(post) %>
  </p>

  <% @comments.each do |comment| %>
    <% if comment.post.id === post.id %>
      <p class="comment"><%= h(comment.message).gsub(/\r\n/, '<br>').html_safe %>
        <br>
        <br>
        Date: <%= comment.created_at.strftime('%d %B %Y at %l:%M %p') %>
        <br>
        Posted by <%= User.find(comment.user_id).email %>
        <% if (comment.user.id === current_user.id) %>
          <%= link_to 'Edit', edit_comment_path(comment)%> |
          <%= link_to 'Delete', comment_path(comment),
            method: :delete,
            data: { confirm: 'Are you sure?' }
            %>
        <% end %>
      </p>
    <% end %>
  <% end %>

<% end %>
