<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <p>Hello, <%= current_user.name %> - <%= link_to "Edit_user",  edit_user_registration_path %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
      <br>
    <% end %>
    <%= render partial: "shared/navbar" %>
    <%= yield %>
  </body>
</html>
