<!DOCTYPE html>
<html>
  <head>
    <title>ACEBOOK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path('android-chrome-512x512.png') %>
  </head>

  <body>

    <%= render 'layouts/newnav' %>
    <div class="container">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>


      <% if user_signed_in? %>
   <%= render 'layouts/chatbox' %>
   <% end %>


  </body>



</html>
