<!DOCTYPE html>
<html>

<head>
    <title>Good Guys Acebook</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
            <%= javascript_include_tag 'application' %>
                <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body>
    <div>

        <div>
            <% if signed_in? %>
                <p class="text-muted">
                    <span style='position:absolute; top:10px; right:20px; font-size:18px'> Signed in as: </span>
                    <%= link_to user_path(current_user) do %>
                        <p class=' username ' style='position:absolute; top:30px; right:20px; font-size:20px; font-weight: bold '>
                            <%= current_user.username.capitalize %>
                        </p>

                        <div class="avatar">
                            <%= image_tag(current_user.avatar, style:'width:5% ') if current_user.avatar.attached?%>
                                <% end %>
                        </div>
                </p>

                <%= button_to 'Sign out ', sign_out_path, method: :delete, data: { confirm: 'Are you sure? ' }%>
                    <% else %>

                        <div class="jumbotron text-center">
                            <div>
                                <% end %>
                                    <div class='home_button '>
                                        <%= link_to 'HOME ', root_path  %>
                                    </div>

                                    <div id="flash">
                                        <% flash.each do |key, value| %>
                                            <div class="flash <%= key %>">
                                                <%= value %>
                                            </div>
                                            <% end %>
                                    </div>
                            </div>
                            <br>
                            <%= yield %>
                        </div>

</body>

</html>