<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class='navbar navbar-light bg-light justify-content-between'>
    <a class="navbar-brand">Villans Book</a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <%= link_to "Home", '/' %> </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <%= link_to "Log In", new_session_path %> </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <%= link_to "Sign Out", edit_session_path  %> </button>

    </form>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
