<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('four-logo.png') %>
  </head>

  <body>
   <h1 class="logo">Fantastic <%= image_tag asset_path('four-logo.png') %> Book</h1>
    <%= yield %>
  
  </body>
</html>
