<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  </head>

  <body>

      <div id='nav'>
        <%= link_to 'Sign out', destroy_user_session_path,
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        <!-- <a href="/" style='float:right; font-weight:100; font-size:14px;'>Log out</a> -->
        <a href="/" style='letter-spacing: 7px;'>Acebook</a>
      </div>

      <div class="main">
        <%= yield %>
      </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
