<!DOCTYPE html>

<html>
<!-- <div class="background">
  </div> -->
  <head>
    <title>Acebook</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# see you on the flipper side %>
    <nav class = "navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%=image_tag("f-fish-logo.jpg", width: "50", height: "50", class: "d-inline-block align-top", alt: "")%>
          <span class="navbar-text">
            FishBook
          </span>
      </a>

      <form class="form-inline">
        <% if logged_in? %>
          <span class="navbar-text">
            <%=current_user.name%>
          </span>
          <div class="logout">
          <%= link_to "Log Out", '/logout', class:"btn btn-outline-success" %>
          <%= link_to "My Wall", '/'+current_user.id.to_s, class:"btn btn-outline-success" %>
          </div>
        <%end%>
          <%= button_to "Main Feed", '/posts', method: :get %>
      </form>
    </nav>
  



  </head>

  <body>


    <%= yield %>

    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
    <% end %>

    <!-- <div style="background-image: url('sea-background.jpg'); height: 400px; width: 400px;"></div> -->





  </body>

</html>
