<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <div class="navbar">
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
    </div>

    <div class="container" id="flash-notices-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield :top_content %>

      <div class="container">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
