<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <div id="site_title">
      <a href="/posts">Acebook</a>
    </div>
    <div id="session_functions">
      <% if current_user %>
        Logged in as: <%= current_user.first_name %>
        <div id="Login"><%= link_to 'Log out', logout_path, method: :delete %></div>
      <% else %>
        Returning user? <%= link_to 'Log in', login_path %>
        |
        New to Acebook? <%= link_to 'Sign up', new_user_path %>
      <% end %>
    </div>
  </header>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>

<footer>

</footer>
</html>
