<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= render 'partials/header_links' %> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'partials/header' %> 
    <div class="container">
      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>  <%#  TODO add to a header partial %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>


    <%= render 'partials/footer' %> 
    <%= render 'partials/footer_links' %> 
  </body>
</html>

<%#  %>
