<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Acebook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", home_path, class: 'nav-link'  %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
              <%= link_to "My Profile", profile_page_path(current_user[:id]), class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "new post", new_post_path, class: 'nav-link'  %>
          </li>
          <li class="nav-item">
              <%= link_to "find friends", friendships_search_path, method: :get, class: 'nav-link' %>
          </li>
          <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="container">
        <div class="row">
            <% if notice %>
              <div class="alert alert-success" role="alert">
                <%= notice %>
              </div>
            <% end %>

            <% if alert %>
              <div class="alert alert-warning" role="alert">
                <%= alert %>
              </div>
            <% end %>
        </div>
        <%= yield %>
    </div>

  </body>
</html>
