<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="links">
  <% if signed_in? %>
  <%= link_to "Sign out", signout_path, method: "delete" %> <br>
  <%= link_to "Your Posts", "/users/#{current_user.id}" %> <br>
  <%= link_to "New Post", "/posts/new" %>
    <% else %>
  <%= link_to "Sign up for Acebook", "/signup" %> <br>
  <%= link_to "Sign in to Acebook", signin_path %><br>
  <% end %>
  <%= signed_in? %>
  
  </div>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
