
<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='header'>
      <p id='header_title'>Team and a half Acebook</p>
      <% if current_user %>
        <p id='header_welcome_text'>
          Welcome, <%= current_user.name %>
        </p>
        <p id='header_logout_link'>
          <%= link_to 'Logout', '/logout' %>
        </p>
      <% else %>
        <p id='header_login_link'>
          <%= link_to 'Login', '/login' %>
        </p>
      <% end %>
    </div>

    <!-- <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> -->

    <%= yield %>
  </body>
</html>
