<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg" width="100%">
        <a class="navbar-brand" href="/">Acebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path)  %>
              <% end %> </a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link disabled" href="#"></a>
          </div>
           </ul>
        </div>
      </nav>

    <div class="container" id="flash-notices-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield :top_content %>

      <div class="container">
        <%= yield %>
      </div>

    </div>

    <footer class="footer">
      <div class="container">
  <span class="footer-text"> A Facebook clone built by Maicers © 2018
    </span>
  </div>

</footer>
  </body>
</html>
