<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if current_user %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/posts">aceBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/posts/new">New Post</a>
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/image_posts/new">New Image Post</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/my_images">My Images</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/edit">Edit Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_out" data-method="delete">Logout</a>
              </li>
          </ul>
          </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/posts">aceBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a id="loggedIn" class="nav-link" href="/users/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Login</a>
            </li>
          </ul>
          </div>
      </nav>
    <% end %>
    </header>
  <body>

    <%= yield %>


  </body>
</html>
