<!DOCTYPE html>
<html>
  <head>
    <title>acebook</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <h1 class="site_header"><a class="site_header" href="/posts">acebook</a></h1>

      <div class="sidenav">
        <%= link_to "Home", root_path, method: :get %>
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :post %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>

  <div class="push"></div>
  
<div id="footer_block">
  <footer class="footer">
    <p>Made by Team TRex 🦖</p>
  </footer>
<div>



</html>
