<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-with, initial-scale=1">
  </head>
  <body>
<%# <header class="container">
  <nav class="navbar navbar-light bg-light text-center">
    <a class="navbar-brand" href="/">Acebook</a>
    <form class="form-inline">
      <div class="container"> %>
      <% if signed_in? %></div>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
      <div style="padding-left: 10px;">
      <%# </div>
    </form>
  </nav>
  </header> %>


<%# <section class="container"> %>
  <div id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    </div>
    <%# </section> %>
    <%= yield %>
  </body>
</html>
