<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Villians Book</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user != nil %>
        <li class="active"><a href="#"><%= link_to "Home", '/' %></a></li>
        <li class="active"><a href="#"><%= link_to "New Post", new_post_path %></a></li>
        <li class="active"><a href="#"><%= link_to "News Feed", '/posts' %></a></li>
        <li class="active"><a href="#"><%= link_to "My Wall", user_path(current_user) %></a></li>
       <% end %>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user != nil %>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= link_to "Sign Out", session_path(:user_id), method: :delete  %> </a></li>
      <% else %>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <%= link_to "Log In", new_session_path %></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <%= link_to "Sign Up", '/' %></a></li>

      <% end %>


    </ul>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
