<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Sign out", session_path("current"), method: "delete" %><br>
      Logged in as <%= current_user.username %>.<br>
      <%= wall_user %>'s wall.<br>
    <% end %>

    <%= yield %>
  </body>
</html>
