<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
  <% if signed_in? %>
      Signed in as: <%= current_user.username %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% end %>
    </header>
    <section>
    <div id="flash">
    <% flash.each do |key, value| %>
      <h1><div class='flash <%= key %>'><%= value %></div></h1>
    <% end %>
  </div>
    <%= yield %>
    </section>
  </body>
</html>
