<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# yield on ln 14 is a bootstrap element https://www.sitepoint.com/devise-authentication-in-depth/ %>
    <%= yield %>
  <p>do I exist?</p>
  </body>
</html>
