<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if person_signed_in? %>
    <a href="<%= destroy_person_session_path%>" data-method="delete">
    <i class="fa fa-user"></i>
  </a>
<% else %>
  <a href="<%= new_person_session_path%>">
    <i class="fa fa-sign-in"></i>
  </a>
<% end %>
    <%= yield %>
  </body>
</html>
