<!DOCTYPE html>
<html>
  <head>
    <title>acebook</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/footer' %>
  </body>
</html>
