<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <title>Bookface</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/images/bookface_blue_bg.png'%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
