<!DOCTYPE html>
<html>
  <head>
    <title>DashBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-light bg-light" role="navigation">
        <ul>
          <li class="navbar-brand"><%= link_to('Sign up', new_user_registration_path, :method => 'get') %></li>
          <li class="navbar-brand"><%= link_to('Log in', new_user_session_path, :method => 'get') %></li>
          <li class="navbar-brand"><%= link_to('Sign out', destroy_user_session_path, :method => 'delete') %></li>
        </ul>
      </nav>
      <br>

    </div>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
