<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= render 'partials/header_links' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>Acebook</title>
  </head>
  <body>
    <%= render 'partials/header' %>
    <div class="container">
      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <%= render 'partials/footer' %>
    <%= render 'partials/scripts' %>
  </body>
</html>
