<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in_user %>
      <h1> <%= "Welcome #{logged_in_user.name}!" %> </h1>
    <% end %>
    <%= yield %>
  </body>
</html>
