<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if current_user %>
  Logged in as <%= current_user.first_name %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", sign_up_path %> or
  <%= link_to "Log In", login_path %>
<% end %>


    <%= yield %>

    
  </body>
</html>
