<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css">

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: "shared/flash" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
