<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
  <%= render partial: "shared/navbar" %>
    <div class="container">
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
    <%= yield %>
  </div>
  </body>
</html>
