<!DOCTYPE html>
<html>

<head>
    <title>Good Guys Acebook</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
            <%= javascript_include_tag 'application' %>
                <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body class="body">
    <div>

        <div>
            <% if signed_in? %>
                <p class="jumbotron">
                    <span class="span"> Signed in as: </span>
                    <%= link_to user_path(current_user), class:"username" do %>
                        <p class='username'>
                            <%= current_user.username.capitalize %>
                        </p>

                        <div class='avatar'>
                            <%= image_tag(current_user.avatar, class:"avatar") if current_user.avatar.attached?%>
                                <% end %>
                        </div>
                        
                </p>
                <div class='button'>
                <%= button_to 'Sign out ', sign_out_path, method: :delete, data: { confirm: 'Are you sure? ' }%>
                </div>
                    <% else %>

                        <div class="jumbotron text-center">
                            <div>
                                <% end %>
                                    <p>
                                        <%= link_to 'HOME ', root_path, class:"home_button" %>
                                    </p>

                                    <div id="flash">
                                        <% flash.each do |key, value| %>
                                            <div class="flash <%= key %>">
                                                <%= value %>
                                            </div>
                                            <% end %>
                                    </div>
                            </div>
                            <br>
                            <div class="logo-wrapper">
                                <img src="https://previews.dropbox.com/p/thumb/AAjYMifrFi4bg25OmStBKY_AyaM48Ku634V6uPogwP3A-t9uEGHFkK0rXUiU_xKkJd4WN9s7qVBoBIHyFxdIZDkmU1fvEvZzLNJdyIpvTDJE8-d1vDXbh-avv7Z52J0FfyWt6j7vznq8GmBaJE7jHMSFxly-EsCBo8V7IJX45yaNc1LzjmjQpm3X6U9BGeHds9UlNkNLE7D5-JyHOU0MfXlNf-LJsu5yGQAfaQA1I-LGF-wJMyPh1RUErpUbs_wlgjW7a9-mSX7l4fdFnMeuNTq7QfBhY-MtRJ0I5wRqMydZaPHqMyVyC1IANz9RwHmWMylDzsipc6xqcK3eB3rj6gI6Qq3lyGk-m5eQSrrKh2yM4Q/p.png?fv_content=true&size_mode=5"
                                    alt="good guys logo" class='logo'>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>

                            <%= yield %>
                        </div>

</body>

</html>