<!DOCTYPE html>
<html>
  <!-- <html lang="en"> -->
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Acebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">Create Post</a>
            </li>
          </ul>
        </div>
      </nav>
 

    <%= yield %>
  </body>
</html>


