<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <% if current_user %>
      Hi <%= current_user.first_name %>
      |
      <%= link_to 'Log out', logout_path, method: :delete %>
    <% else %>
      New to Acebook? <%= link_to 'Log in', login_path %>
      |
      Returning user? <%= link_to 'Sign up', new_user_path %>
    <% end %>
  </header>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>

<footer>

</footer>
</html>
