<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('.notice').remove();
      }, 5000);
     })
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class='columns mt-1 ml-6'><p class="notice"><%= notice %></p></div>
    <div class='columns mt-1 is-centered'><p class="alert has-text-danger"><%= alert %></p></div>
    <%= yield %>
  </body>
</html>
