<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<<<<<<< HEAD
  <body bgcolor="#f7aff1">
  <center>
    r<%= yield %>
    </center>
=======
  <body>
  <centre>
    <%= yield %>
  </centre>
>>>>>>> 6f3272661a541aae439d55f7a1b46296a1f78a8f
  </body>
</html>
