<!DOCTYPE html>
<html>
  <head>
    <title>DashBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>
  body {background-color: powderblue;}
  img {width: 100%}
  h1 {font-family: sans-serif; color: black; text-align: center;}
  h2 {font-family: sans-serif; color: black; text-align: center;}
  p {font-family: sans-serif; color: black; text-align: center;}
  p.hello {color: red;}
  form {text-align: center;}
  </style>

    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-light bg-dark" role="navigation">
        <ul>
          <li class="navbar-brand"><%= link_to('Home', welcome_index_path, :method => 'get') %></li>
          <li class="navbar-brand"><%= link_to('Sign up', new_user_registration_path, :method => 'get') %></li>
          <li class="navbar-brand"><%= link_to('Log in', new_user_session_path, :method => 'get') %></li>
          <li class="navbar-brand"><%= link_to('Sign out', destroy_user_session_path, :method => 'delete') %></li>
          <li class="navbar-brand"><%= link_to('All posts', posts_path, :method => 'get') %></li>
        </ul>
      </nav>
      <br>

    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
