<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to image_tag("logo.png", alt: "Logo", class: "logo"), root_url %>
    <%= yield %>
    <%= image_tag('konami-octopus.png', id: 'konami-octopus', style: 'visibility: hidden') %>
    <%= audio_tag('ghosts03.mp3', id: 'konami-ghosts') %>
  </body>
</html>
