<!DOCTYPE html>
<html>

<head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
            <%= javascript_include_tag 'application' %>
</head>

<body>
    <div>

        <div>
        <% if signed_in? %>
            <p class="text-muted" >
            Signed in as:
            <%= current_user.username %>
            </p> 
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
                     <% else %>
                     <div class="jumbotron text-center">
                         <%= link_to 'Sign in', sign_in_path %>
                         <div>
                            <% end %>

                            <div id="flash">
                                <% flash.each do |key, value| %>
                                    <div class="flash <%= key %>">
                                        <%= value %>
                                    </div>
                                    <% end %>
                            </div>
                            </div>
                            <br>
                            <%= yield %>
    </div>
</body>

</html>