<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <div class="background">
  <body>
  <div class="logo">
  <%=image_tag("/dreambook_logo.jpg") %>
  </div>
    <%= yield %>
  </body>
  </div>
</html>
