<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="/favicon.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <img src="/ace-of-spades.svg" height="27" hspace="10">
      <%= link_to 'Acebook', home_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Home', home_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Chat', chat_path, class: "nav-link" %>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if current_user %>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.username %></a>
               <div class="dropdown-menu" aria-labelledby="dropdown03">
                <%= link_to "Your Wall", user_path(current_user.id) , controller: 'users', class: "dropdown-item"%>
                <%= link_to "Your Friends", friendship_path(current_user) , controller: 'friendships', class: "dropdown-item"%>
                <%= link_to "Update Account", edit_user_path(current_user.id) , controller: 'users', class: "dropdown-item"%>
               </div>
             </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', logout_path , controller: 'sessions', method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path, controller: 'users', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign In', login_path, controller: 'sessions', class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
