<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav id="navbar">
  <div>
   <a href="/"> <img id="nav-logo" src=assets/Distinguished-Ferret.png></a>
    <%# <% if current_user %>
    <%# <span class='welcome'> Welcome <%= current_user.username %>  
    <%# <form class='sign-out' action="/sessions/destroy" method="post"> %>
      <%# <input type="submit" value="Sign out"> %>
    <%# </form> %>
    <%# <% end %> 
  </div>
  <div id="n-list">
    <ul class="nav-list">
      <a class="nav-link" href="/"><li>Homepage</li></a>
      <a class="nav-link" href="#"><li>Login</li></a>
     <a class="nav-link" href="#"><li>Sign Up</li></a>
    </ul>
  </div>
</nav>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>`
    <%= yield %>
  </body>
</html>
