<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav id="navbar">
  <div>
   <a href="/"> <img id="nav-logo" src=/assets/Distinguished-Ferret.png></a>
  </div>
  <div id="n-list">
    <ul class="nav-list">
     <% if current_user %>
     <a class="nav-link" href="/"><li>Homepage</li></a>
     <a  class="nav-link" href="#">Profile</a>
     <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'nav-link'%>
     <% else %>
     <a class="nav-link" href="/"><li>Homepage</li></a>
     <a class="nav-link" href="users/sign_in"><li>Login</li></a>
    <%= link_to 'Sign Up', new_user_registration_path, :class => 'nav-link'%>
     <% end %>

    </ul>
  </div>
</nav>
<div class="page-wrapper">
  <div class="alert alert-success alert-dismissible" id="myAlert">
      <p class="notice"><%= notice %></p>
      <!-- <a href="#" class="close">&times;</a> -->
       <p class="alert"><%= alert %></p>
       <!-- <a href="#" class="close">&times;</a> -->
  </div>
      <%= yield %>
    </div>
  </body>
</html>
