<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Acebook</title>

  <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <% if session[:current_user] %>
        <a class="navbar-brand" href="/home">Acebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">Make a new post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_album_path%>">New album</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=albums_path%>">View albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%=session[:current_user]%>/edit">Edit profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/log-out">Logout</a>
            </li>
          </ul>
        <% else %>
        <a class="navbar-brand" href="/">Acebook</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sign-up">Sign up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/home">Posts</a>
          </li>
        </ul>
        <% end %>
        </div>
      </div>
    </nav>
  
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= yield %>
        </div>
      </div>
    </div>
  
   
  </body>
</html>
