<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Acebook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Account", edit_user_registration_path %></a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign In", new_user_session_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign Up", new_user_registration_path %></a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
