<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", destroy_user_session_path %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %> | <%= link_to 'Signup', new_user_registration_path %>
    <% end %>
    
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
