
<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='header'>
      <% if current_user %>
      <%= link_to 'Team and a half Acebook', '/posts', id: "header_title", class: "vertically_centered" %>
      <% else %>
      <%= link_to 'Team and a half Acebook', '/', id: "header_title", class: "vertically_centered" %>
      <% end %>

      <% if current_user %>
        <p id='header_welcome_text' class='vertically_centered'>
          Welcome, <%= current_user.name %>
        </p>
        <%= link_to 'Logout', '/logout', class: "log_in_or_out_link vertically_centered" %>
      <% else %>
        <%= link_to 'Login', '/login', class: "log_in_or_out_link vertically_centered" %>
      <% end %>
    </div>

    <!-- <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> -->

    <%= yield %>
  </body>
</html>
