<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= favicon_link_tag asset_path('/assets/favicon.png') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <%= image_tag("/assets/logo.png", alt: "Logo", class: "logo")%>
    <%= yield %>
  </body>
</html>
