<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <header>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%# <%= link_to "Posts", post_path(:id) %> %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path%>
          <%= link_to "Login", new_user_session_path  %>
        <% end %>

        <!-- <a class="active" href='/users/sign_up'>Sign up</a>
        <a class="active" href='/users/sign_in'>Log in</a> -->
<!--
        <a href="#post">Post</a>
      <a href="#friends">Friends</a> -->
      </div>


    </header>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div id="modal-holder"></div>

    <%= yield %>

  </body>
