<!DOCTYPE html>
<html>

<head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
            <%= javascript_include_tag 'application' %>
</head>

<body>
    <div>

        <div>
            <% if signed_in? %>
                <p class="text-muted">
                    Signed in as:
                    <%= link_to user_path(current_user) do %>
                        <%= current_user.username.capitalize %>

                            <%= image_tag(current_user.avatar, style:'width:5%') if current_user.avatar.attached?%>
                                <% end %>
                </p>
                <%= button_to 'Sign out', sign_out_path, method: :delete, data: { confirm: 'Are you sure?' }%>
                    <% else %>

                        <div class="jumbotron text-center">
                            <div>
                                <% end %>

                                    <div id="flash">
                                        <% flash.each do |key, value| %>
                                            <div class="flash <%= key %>">
                                                <%= value %>
                                            </div>
                                            <% end %>
                                    </div>
                            </div>
                            <br>
                            <%= yield %>
                        </div>
</body>

</html>