<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <!DOCTYPE html>
<html lang="en">
<body>
<h2>Acebook De-Railed</h2>

<div class="navbar">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <% if session[:user_id] %>
      <a class="navbar-brand" href="/posts"><%= User.find(session[:user_id]).email %></a>
      <%end%>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <% if session[:user_id] %>
        <li><%= link_to 'New post', new_post_path %></li>
      <%end%>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id] %>
        <li><%= link_to 'Home', posts_path %></li>
        <li><%= link_to 'Friends', friends_path %></li>
        <li><%= link_to 'logout', logout_path %></li>
      <%else%>
        <li><%= link_to 'Sign Up', signup_path, :method => 'get' %></li>
        <li><%= link_to 'Log In', login_path, :method => 'get' %></li>
      <%end%>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <%= form_tag users_path, :method => 'get', html: {id: :search} do %>
        <%= text_field_tag :search, params[:search], options = {:type => 'search'} %>
      <% end %>
    </ul>
  </div>
</nav>
</div>


  <p id=”notice”><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
