<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# yield on ln 14 is a bootstrap element https://www.sitepoint.com/devise-authentication-in-depth/ %>
    <%= yield %>

    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path,
      method: :delete %>
    <% end %>
  </body>
</html>
