<!DOCTYPE html>
<html>

<head>
  <title>Acebook</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <% if signed_in? %>
  <%= current_user.email %>
  <%= button_to "Sign out", sign_out_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in", sign_in_path %>
  <% end %>
  <%= yield %>
</body>

</html>