<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
  <ul class="nav navbar-nav ">
    <% if user_signed_in? %>
      <li class="mobile-menu" id="user_name">
        <p> Hi, <%= current_user.first_name %></p>
      </li>
      <li class="mobile-menu">
        <%= link_to 'News Feed', posts_path %>
      </li>
      <li class="mobile-menu">
        <%= link_to 'My Profile', user_path(current_user.id) %>
      </li>
      <li class="mobile-menu">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </li>

    <% else %>
      <li ><%= link_to 'Login', login_path %></li>
      <li ><%= link_to 'Signup', signup_path %></li>
    <% end %>
  </ul>
</div>
